<div class="page-title-wrap">
	<div class="container clearfix">
		<div class="full-width-title">
			<div>DASHBOARD for property:</div>
			<div class="big-drop-down">
				<div class="selected-value"
					 ng-repeat="project in projectsList"
					 ng-if="project.id==currentProjectId"
					 ng-click="toggleProjects()">
					{{project.name}}<span class="icon_caret"></span>
				</div>
				<div collapse="!showProjects" class="options">
					<div ng-repeat="project in projectsList"
						 ng-click="changeProject(project)" ng-class="{'pointer':project.id!=currentProjectId}">{{project.name}}</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="content-wrapper">
	<div class="split-container dashboard Flexbox Flexbox__direction-rows" id="split-container">
		<div class="vertical-resizer"
			 resizer="vertical"
			 resizer-callback="onHideRCM"
			 resizer-padding="22"
			 resizer-hide="true"
			 resizer-force-left-width="{{resizer_force_left_width||70}}"
			 resizer-parent="#split-container"
			 resizer-left-element="#split-container-left"
			 resizer-right-element="#split-container-right"><span></span></div>
		<div class="Flexbox__flex-1 height-all">
			<div class="Flexbox height-all">
				<div class="split-content" id="split-container-left">
					<div class="dashboard-table" ng-show="dashboardTableHeaders">
						<div class="dashboard-table-header Flexbox">
							<div ng-repeat="header in dashboardTableHeaders"
								 ng-click="sortDashboardTable(header.ref)"
								 class="Flexbox__flex-{{header.width||3}}"
								 ng-class="{'hide':hiddenHeadersRef[header.ref] && !expanded, 'pointer':header.sortable, 'no-right-border':$last}">
								{{header.label}}
								<div class="sortable" ng-if="header.sortable">
									<span class="icon_sort-up" ng-class="{'active':sortBy.ref==header.ref && !sortBy.sortAscent}"></span>
									<span class="icon_sort-down" ng-class="{'active':sortBy.ref==header.ref && sortBy.sortAscent}"></span>
								</div>
							</div>
							<div class="more-less"
								 ng-click="expanded=!expanded"
								 ng-class="{'icon_arrow-right-double':!expanded, 'icon_arrow-left-double':expanded}"></div>
						</div>
						<div class="dashboard-table-row Flexbox"
							 ng-repeat="row in dashboardTableRows | orderBy:sortBy.ref:!sortBy.sortAscent"
							 ng-click="clickedDashboardRow(row.id)">
							<div ng-repeat="cell in dashboardTableHeaders"
								 ng-class="{'hide':hiddenHeadersRef[cell.ref] && !expanded, 'pointer':row.id>-1}"
								 class="Flexbox__flex-{{cell.width||3}}">
								{{row[cell.ref] | formats: cell.format}}
							</div>
						</div>
					</div>
				</div>
				<div class="split-content" id="split-container-right" style="padding-right:18px;">
					<div ui-view="rightPanel"></div>
				</div>
			</div>
		</div>
	</div>
</div>