<div class="content-wrapper">
	<div class="split-container Flexbox Flexbox__direction-rows">
		<div class="Flexbox__flex-1 height-all">
			<div class="Flexbox Flexbox__direction-rows rent-roll height-all position-relative" ng-if="rentRollData">
				<div class="rent-roll-header-sticky">
					<ul class="rent-roll-table">
						<li class="rent-roll-header fadeIn" id="rent-roll-header-visible" ng-show="headerInitilized">
							<div ng-repeat="head_cell in rentRollHeaders"
								 class="rent-roll-table-cell"
								 ng-class="{'wide':head_cell.width=='3', 'narrow':head_cell.width=='1'}"
								 ng-click="sortRentrollTable(head_cell)">
								<div title="{{head_cell.label}}">
									{{head_cell.label}}
									<div class="sortable" ng-if="head_cell.sortable">
										<span class="icon_sort-up" ng-class="{'active':sortBy.ref==head_cell.ref && !sortBy.sortAscent}"></span>
										<span class="icon_sort-down" ng-class="{'active':sortBy.ref==head_cell.ref && sortBy.sortAscent}"></span>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="Flexbox__flex-1 rent-roll-body" ng-init="initTableHeaders()">
					<form name="new_row" novalidate>
					<ul class="rent-roll-table">
						<li class="rent-roll-header" id="rent-roll-header">
							<div ng-repeat="head_cell in rentRollHeaders"
								 class="rent-roll-table-cell"
								 ng-class="{'wide':head_cell.width=='3', 'narrow':head_cell.width=='1'}">
								<div>{{head_cell.label}}</div>
							</div>
						</li>
						<li ng-repeat="(rowIdx, tenant) in rentRollData.tenants | orderBy:sortBy.ref:!sortBy.sortAscent">
							<div ng-repeat="cell in rentRollHeaders"
								 class="rent-roll-table-cell"
								 ng-class="{'wide':cell.width=='3', 'narrow':cell.width=='1'}" title="{{tenant[cell.compareTo] && tenant[cell.ref] && tenant[cell.compareTo] != tenant[cell.ref]? tenant[cell.ref] + ' / ' + tenant[cell.compareTo]:''}}">
								<div ng-class="{'with-attachment':cell.attach}" ng-dblclick="editCell=true;editRentRollCell(cell)" class="noselect">
									<span class="noselect" ng-if="!tenant[cell.compareTo] && !tenant[cell.ref]">&nbsp;</span>
									<span class="noselect" ng-if="tenant[cell.compareTo] && !isNaN(tenant[cell.compareTo]) && !tenant[cell.ref]">{{tenant[cell.compareTo] | formats: cell.format}}&nbsp;</span>
									<span class="noselect" ng-if="!tenant[cell.compareTo] && tenant[cell.ref] && !isNaN(tenant[cell.ref])">{{tenant[cell.ref] | formats: cell.format}}&nbsp;</span>
									<span class="noselect" ng-if="tenant[cell.compareTo] && !isNaN(tenant[cell.compareTo]) && tenant[cell.ref] && !isNaN(tenant[cell.ref])">{{tenant[cell.compareTo] | formats: cell.format}}&nbsp;</span>
									<a class="noselect diff-cell-warning icon_warning"
									   ng-href="{{$state.href('app.clientAbstract', {'tenantId': tenant.tenant_folder.id})}}"
									   title="Calculated value ({{ tenant[cell.ref]}}) is different then input value,&#013;Click here to review tenant abstract"
									   ng-if="tenant[cell.compareTo] && tenant[cell.ref] && tenant[cell.compareTo] != tenant[cell.ref]">
									</a>
									<div ng-if="editCell" class="rr-cell" ng-init="edit_value=tenant[cell.compareTo]||tenant[cell.ref]">
										<div class="calculated" ng-if="tenant[cell.ref] && tenant[cell.compareTo]">Calculated: {{tenant[cell.ref] | formats: cell.format}}</div>
										<input type="text"
											   ng-show="cell.format!='date'"
											   ng-model="edit_value"
											   focus-me="edit_value"
											   ng-blur="$parent.editCell = (overEditButtons==true)"
											   ng-enter="overEditButtons=true;$parent.editCell=false;updateRentRollCell(edit_value, cell, tenant)"/>
										<quick-datepicker
												ng-show="cell.format=='date'"
												ng-model='edit_value'
												label-format='MM/dd/yyyy'
												ng-class="{'has-value':edit_value}">
										</quick-datepicker>
										<span class="btn-actions edit-row" ng-mouseenter="overEditButtons=true" ng-mouseleave="overEditButtons=false">
											<button ng-click="$parent.editCell=false;"><span class="icon-cancel-circle"></span></button>
											<button ng-click="$parent.editCell=false;updateRentRollCell(edit_value, cell, tenant)"><span class="icon-checkmark-circle"></span></button>
										</span>
									</div>
									<span ng-if="cell.attach" class="attached"
										  title="{{tenant.tenant_folder.name?tenant.tenant_folder.name:''}}"
										  ng-click="handleFoldersModal($event, tenant, tenant.tenant_folder.id || tenant.tenant_folder, rowIdx)">
										<span ng-class="{false:'icon-folder-open', true:'icon-folder'}[tenant.tenant_folder!=null]"></span>
										<span class="has-folder icon-checkmark" ng-if="tenant.tenant_folder"></span>
										<span class="error-folder icon-close" ng-if="!tenant.tenant_folder && addingFolderErrorIcon"></span>
										<span class="creating icon-loop" ng-if="addingTenant"></span>
										<input type="hidden" ng-model="tenant.tenant_folder.id"/>
										<input type="hidden" ng-model="tenant.tenant_folder.name"/>
									</span>
								</div>
							</div>
						</li>
						<li class="rent-roll-new-row">
							<div class="rent-roll-table-cell"
								 ng-repeat="head_cell in rentRollHeaders">
								<div class="new-row">
									<input type="text" placeholder="{{head_cell.label}}"
										   ng-if="rentRollNewRow[head_cell.compareTo] && head_cell.format!='date'"
										   ng-style="{width:$last || head_cell.attach?'80%':'100%'}"
										   ng-required="head_cell.required"
										   ng-focus="addingFolderError=null;"
										   ng-model="rentRollNewRow[head_cell.compareTo]"/>
									<input type="text" placeholder="{{head_cell.label}}"
										   ng-if="!rentRollNewRow[head_cell.compareTo] && head_cell.format!='date'"
										   ng-style="{width:$last?'80%':'100%'}"
										   ng-required="head_cell.required"
										   ng-focus="addingFolderError=null;"
										   ng-model="rentRollNewRow[head_cell.ref]"/>
									<quick-datepicker
											ng-show="head_cell.format=='date'"
											ng-model='rentRollNewRow[head_cell.compareTo]'
											label-format='MM/dd/yyyy'
											ng-class="{'has-value':rentRollNewRow[head_cell.compareTo]}">
									</quick-datepicker>
									<!--<span ng-if="head_cell.attach" class="attached"
										  title="{{rentRollNewRow['folderName']?rentRollNewRow['folderName']:''}}"
										  ng-click="handleFoldersModal($event, {id:'new'})">
										<span ng-class="{false:'icon-folder-open', true:'icon-folder'}[rentRollNewRow['tenant_folder']!=null]"></span>
										<span class="has-folder icon-checkmark" ng-if="rentRollNewRow['tenant_folder']"></span>
										<span class="error-folder icon-close" ng-if="!rentRollNewRow['tenant_folder'] && addingFolderErrorIcon"></span>
										<span class="creating icon-loop" ng-if="addingTenant"></span>
										<input type="hidden" ng-model="rentRollNewRow['tenant_folder']"/>
										<input type="hidden" ng-model="rentRollNewRow['folderName']"/>
								 	</span>-->
									<span ng-if="head_cell.attach" class="error" ng-show="addingFolderError">{{addingFolderError}}</span>
								</div>
								<span class="btn-actions" ng-if="$last">
									<button ng-click="resetRentRollNewRow(new_row);" ng-disabled="!new_row.$dirty"><span class="icon-cancel-circle"></span></button>
									<button ng-click="addRentRollRow(new_row);" ng-disabled="!new_row.$dirty || new_row.$invalid"><span class="icon-checkmark-circle"></span></button>
								</span>
							</div>
						</li>
					</ul>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="folders" class="folders-selection">
	<div>
		<span class="icon-close" ng-click="handleFoldersModal(null, null)"></span>
		<div>
			<ul>
				<li ng-repeat="folder in projectFolders | orderBy:'name'"
					ng-class="{'active':editedFolderId==folder.id}"
						ng-click="chooseFolder(folder.id, folder.name)">{{folder.name}} ({{folder.id}})</li>
				<li class="new-folder-wrapper">
					<input type="text" ng-model="new_folder_name" placeholder="Add a New Folder" />
					<span class="btn-actions">
						<button ng-click="new_folder_name=null;"><span class="icon-cancel-circle"></span></button>
						<button ng-click="addNewFolder();" ng-disabled="!new_folder_name"><span class="icon-checkmark-circle"></span></button>
					</span>
				</li>
			</ul>
		</div>
	</div>
</div>

