<div class="top clearfix">
	<span class="logo icon_logo"></span>
	<ul class="nav Flexbox Flexbox__flex-1" ng-class="{'disabled':$state.includes('app.adminView')}">
		<li ng-class="{ active: $state.includes('app.dashboard') || $state.includes('app.property')}">
			<a title="Properties" ng-href="{{$stateParams.accountId ? $state.href('app.dashboard', {'accountId': $stateParams.accountId}): $state.href('app.adminView')}}">Properties</a>
		</li>
	</ul>
	<div class="right-details drop-down available">
		<span>
			{{userDetails.name}}
			<span class="icon-arrow-down"></span>
			<div>
				<ul>
					<li><a ui-sref="app.adminView">Admin</a></li>
					<li><a ng-click="helpClicked()">Help</a></li>
					<li><a>Settings</a></li>
					<li><a href="{{userDetails.logoutUrl}}">Sign out</a></li>
					<li style="padding-top:3px;margin-top:3px;border-top:1px solid #ddd;"><a ng-click="switchView();">Switch to old view</a></li>
				</ul>
			</div>
		</span>
	</div>
</div>