<div class="assign_class_modal">
    <div class="sub-header" style="overflow: hidden;">
        Object: {{params.objId}}
    </div>
    <form name="classAssignForm" ng-model="classAssigned">
        <div>
            <input type="radio" ng-model="$parent.classType" id="presetClass" value="presetClass" ng-checked="$parent.classType=='presetClass'"/>
            <label for="presetClass">Choose a preset class:</label>
            <select ng-init="$parent.chosenClass=docClasses[0].cat_id"
                    ng-model="$parent.chosenClass"
                    ng-options="cls.cat_id as cls.cat_name for cls in docClasses"
                    ng-disabled="$parent.classType=='newClass'"
                    ng-required="$parent.classType=='presetClass'">
            </select>
        </div>
        <div>
            <input type="radio" ng-model="$parent.classType" id="newClass" value="newClass" ng-checked="$parent.classType=='newClass'"/>
            <label for="newClass">Set your own class:</label>
            <input ng-model="$parent.ownClass"
                   type="text"
                   ng-disabled="$parent.classType=='presetClass'"
                   ng-required="$parent.classType=='newClass'"
                   value=""/>
        </div>
        <div style="margin-top:50px;" class="modal-footer clearfix">
            <button type="button" ng-click="assignClassSubmit()" ng-disabled="classAssignForm.$invalid" class="Btn Btn__action float-rev">Assign</button>
            <button type="button" ng-click="$parent.$modalCancel()" class="Btn Btn__negetive float-rev" style="margin-right:5px;">Cancel</button>
        </div>
    </form>

</div>
