<div class="top-action-buttons doc-partial Flexbox" ng-hide="hideDocNavigationButtons">
	<div class="actions-buttons-train Flexbox__flex-1" title="{{item_title}}" ng-show="showDocName">
		{{item_title}}
	</div>
	<div ng-if="$state.includes('app.searchView')" class="labeling-top-nav Flexbox__flex-1" ng-class="{'labeling-mode':labelingMode}">
		<span class="item-title">
			{{item_title}}
		</span>
		<div class="search-doc">
			<input type="text" class="Form__field"
				   placeholder="Search document"
				   ng-keyup="searchInDocument()"
				   id="searchDocPhrase"
				   ng-model="searchDoc.phrase"
				   ng-class="{'search-active':searchDoc.active}"/>
			<span class="icon-close" style="font-size:80%;" ng-class="{'search-active':searchDoc.active}" ng-click="clearSearchInDocument()"></span>
			<span class="icon-search" ng-class="{'btn-active':!searchDoc.active}" ng-click="clickSearchInDocument()"></span>
			<button class="icon-arrow-left"
					ng-disabled="searchDoc.phrase.length==0 || searchDoc.matches.length==0 || searchDoc.matchesIndex==0"
					ng-click="doSearchNav(-1)"
					ng-class="{'search-active':searchDoc.active}"></button>
			<button class="icon-arrow-right"
					ng-disabled="searchDoc.phrase.length==0 || searchDoc.matches.length==0 || searchDoc.matchesIndex==searchDoc.matches.length"
					ng-click="doSearchNav(1)"
					ng-class="{'search-active':searchDoc.active}"></button>
			<div class="search-doc-info" ng-if="searchDoc.matches.length>0 && searchDoc.matchesIndex>-1">
				{{searchDoc.matchesIndex+1}}/{{searchDoc.matches.length}}
			</div>
		</div>
		<span ng-click="clickedLabeling();" class="pointer">
			<span class="icon-tag2"></span>
			&nbsp;Document labeling
		</span>
		<div class="labeling-actions fadeIn" ng-show="labelingMode">
			<span class="selected-text">
				<span>Label id: {{selectedLabelId || 'N/A'}}&nbsp;|&nbsp;</span>
				<span ng-if="selectedLabelId">Selected: {{selectedLabels.paragraphs.length + selectedLabels.conflict.length}} paragraphs</span>
				<span ng-if="!selectedLabelId">No paragraphs selected</span>
				<!--<span ng-if="selectedLabels.conflict.length>0">&nbsp;|&nbsp;Conflicts: {{selectedLabels.conflict.length}}</span>-->
			</span>
			<span class="buttons">
				<span ng-if="selectedLabels">
					<a ng-click="showCategories.selected=false;showCategories.range=false;dismissLabelMarker()">
						<span class="icon-cancel-circle"></span>&nbsp;Cancel selection
					</a>
				</span>
				<span ng-if="!selectedLabels"><span class="icon-cancel-circle"></span>&nbsp;Cancel selection</span>
				<span>&nbsp;|&nbsp;</span>
				<span ng-if="selectedLabels.conflict.length>0"><a ng-click="removeLabel()">Remove Label</a></span>
				<span ng-if="!selectedLabels.conflict || selectedLabels.conflict.length==0">Remove Label</span>
				<span>&nbsp;|&nbsp;</span>
				<span ng-if="selectedLabels.paragraphs.length==0 && selectedLabels.conflict.length>0"><a ng-click="clickedAssignLabel()">Change category</a>&nbsp;|&nbsp;</span>
				<span ng-if="selectedLabelId"><a ng-click="clickedAssignLabel(true)">Update category ('{{selectedCategory.name}}')</a></span>
				<span ng-if="selectedLabels.paragraphs.length>0 && selectedLabels.conflict.length>0">&nbsp;|&nbsp;</span>
				<span ng-if="(selectedLabels.paragraphs.length>0 && selectedLabels.conflict.length>0) || selectedLabels.conflict.length==0"><a ng-click="clickedAssignLabel()">Assign category</a></span>
				<span ng-if="((!selectedLabels.paragraphs || selectedLabels.paragraphs.length==0) && (!selectedLabels.conflict || selectedLabels.conflict.length==0))">Assign category</span>
			</span>
			<div class="categories-color-picker" ng-if="showCategories.selected">
				<span ng-click="showCategories.range=!showCategories.range">
					<span class="category__{{selectedCategory.id}}">{{selectedCategory.name || 'Select Category'}}</span>
				</span>
				<ul ng-if="showCategories.range">
					<li ng-repeat="clr in classCategories | orderBy:'name'">
						<span class="category__{{clr.id}}"
							  ng-init="focusName=false;clr.tempName=clr.display_name || clr.name">
							<label ng-if="!editMode"
								   ng-click="setCategory(clr);">{{clr.display_name || clr.name}}</label>
							<input type="text" ng-model="clr.tempName"
								   ng-focus="focusName=true"
								   focus-me="clr.tempName"
								   placeholder="Category name"
								   ng-if="editMode"/>
							<span class="icon-pencil"
								  ng-show="!editMode"
								  ng-click="editMode=true;"></span>
							<span class="icon-checkmark-circle"
								  ng-show="editMode"
								  ng-click="focusName=false;editMode=false;updateCategoryName(clr);"></span>
						</span>
					</li>
					<li>
						<span class="new-cat" ng-init="focusNew=false">
							<input type="text"
								   ng-model="newCategory"
								   ng-focus="focusNew=true"
								   placeholder="Set new category"/>
							<span class="icon-checkmark-circle" ng-show="focusNew==true"
								  ng-click="focusNew=false;setNewCategory(newCategory);newCategory=null;"></span>
						</span>
					</li>
				</ul>
			</div>
			<span class="buttons">
				<span ng-if="showCategories.selected && selectedCategory.id">
					<a class="assign-category-go"
					 ng-click="assignCategoryToParagraph()">
					  <b>SET</b>
					</a>
				</span>
				<div ng-show="error400" class="label-error-400">{{error400}}</div>
			</span>
		</div>

		<!--<span style="float:right;margin-right:10px;" ng-class="{'icon-eye':!$parent.hideLabels, 'icon-eye-blocked':$parent.hideLabels, 'disabled':hasNoObjects()}" title="show/hide paragraphs labels" ng-click="$parent.hideLabels=!$parent.hideLabels;clickedLabelEye();"></span>-->
	</div>

    <div>
        <div class="assign-buttons" ng-if="$state.includes('app.termsheetView')">
            <span ng-class="{'icon-eye':!$parent.hideLabels, 'icon-eye-blocked':$parent.hideLabels, 'disabled':hasNoObjects()}" title="show/hide paragraphs labels" data-separator="|" ng-click="$parent.hideLabels=!$parent.hideLabels;clickedLabelEye();"></span>
            <a ng-href="{{ prevDoc ? $state.href('app.termsheetView', {doc: prevDoc}) : $state.href('#') }}"
               class="icon-arrow-left2"
               ng-class="{'disabled':!prevDoc}" title="Previous document"></a>
            <a ng-href="{{ nextDoc ? $state.href('app.termsheetView', {doc: nextDoc}) : $state.href('#') }}"
               class="icon-arrow-right2"
               ng-class="{'disabled':!nextDoc}" title="Next document"></a>
        </div>
		<div class="assign-buttons" ng-if="$state.includes('app.predictView')">
			<span ng-class="{'icon-eye':!$parent.hideLabels, 'icon-eye-blocked':$parent.hideLabels, 'disabled':hasNoObjects()}" title="show/hide paragraphs labels" data-separator="|" ng-click="$parent.hideLabels=!$parent.hideLabels;clickedLabelEye();"></span>
			<a ng-click="goToPrevDoc('app.predictView');"
			   class="icon-arrow-left2"
			   ng-class="{'disabled':!prevDoc}" title="Previous document"></a>
			<a ng-click="goToNextDoc('app.predictView');"
			   class="icon-arrow-right2"
			   ng-class="{'disabled':!nextDoc}" title="Next document"></a>
		</div>
		<div class="assign-buttons" ng-if="$state.includes('app.trainView')">
			<span ng-class="{'icon-eye':!$parent.hideLabels, 'icon-eye-blocked':$parent.hideLabels, 'disabled':hasNoObjects()}" title="show/hide paragraphs labels" data-separator="|" ng-click="$parent.hideLabels=!$parent.hideLabels;clickedLabelEye();"></span>
			<a ng-click="goToPrevDoc('app.trainView');"
			   class="icon-arrow-left2"
			   ng-class="{'disabled':!prevDoc}" title="Previous document"></a>
			<a ng-click="goToNextDoc('app.trainView');"
			   class="icon-arrow-right2"
			   ng-class="{'disabled':!nextDoc}" title="Next document"></a>
		</div>
		<div class="assign-buttons" ng-if="$state.includes('app.searchView11111')">
			<span ng-class="{'icon-eye':!$parent.hideLabels, 'icon-eye-blocked':$parent.hideLabels, 'disabled':hasNoObjects()}" title="show/hide paragraphs labels" ng-click="$parent.hideLabels=!$parent.hideLabels;clickedLabelEye();"></span>
		</div>
    </div>
</div>
<div class="content-inner doc-partial" id="doc_container" doc-label-selection ng-class="{'labeling-mode':labelingMode}">
	<div class="doc-holder" id="doc_holder">
		<div class="main-loading" ng-show="(!docUrl || docUrl.length==0) && !error400"></div>
		<div ng-include="docUrl" ng-if="!$state.includes('app.searchView')" class="doc-container" ng-class="{'hide-labels':hideLabels}" context-menu doc-token-selection data-target="docRCMenu" onload="docLoaded()" ></div>
		<div ng-include="docUrl" ng-if="$state.includes('app.searchView')" class="doc-container" ng-class="{'hide-labels':hideLabels}" onload="docLoaded()"></div>
	</div>
</div>

<div ng-if="!$state.includes('app.searchView')" ng-include="STATIC_PREFIX+APP_FOLDER+'partials/views/docRCM.html'"></div>

<style ng-bind="selectedClassBackgroundColor"></style>
