<div class="content-header-wrap">
    <div class="content-header-inner-wrap">
        <div class="Flexbox Flexbox__just-space-around content-header">
            <div class="content-header-left">
                <h1 title="{{docDetails.doc_title}} / doc id: {{docDetails.doc_id}}">{{docDetails.doc_title}} / doc id: {{docDetails.doc_id}}</h1>
                <div>
                    <label>Status:</label><span>{{docDetails.doc_status}}</span> |
                    <label>Last Updated:</label><span>{{docDetails.doc_lastUpdate}}</span> |
                    <label>By:</label><span>{{docDetails.doc_by.name}}</span>
                    <!--<label>*{{hideLabels}}*</label>-->
                </div>
            </div>
        </div>
        <div class="bottom-line"><div></div></div>
        <div class="Flex top-action-buttons" style="padding-right:420px;">
            <div class="Flex__inline actions-buttons">
                <a href="#" class="share">Share</a>
                <a href="#" class="print">Print</a>
                <a href="#" class="compare">Compare</a>
            </div>
            <div class="Flex__rev">
                <div class="assign-buttons">
                    <span ng-class="{'icon-eye':!hideLabels, 'icon-eye-blocked':hideLabels, 'disabled':hasNoObjects()}" title="show/hide paragraphs labels" data-separator="|" ng-click="hideLabels=!hideLabels;clickedLabelEye();"></span>
                    <a ng-href="{{ prevDoc ? $state.href('app.docView', {'doc': prevDoc}) : $state.href('#') }}"
                       class="icon-arrow-left2"
                       ng-class="{'disabled':!prevDoc}" title="Previous document"></a>
                    <a ng-href="{{ nextDoc ? $state.href('app.docView', {'doc': nextDoc}) : $state.href('#') }}"
                       class="icon-arrow-right2"
                       ng-class="{'disabled':!nextDoc}" title="Next document"></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="right-accordion-wrap right-accordion-wide" ui-view="rightPanel"></div>
<div class="Flexbox Flexbox__just-space-around content-inner" id="doc_container">
    <div ng-include="docUrl" class="doc-container" ng-class="{'hide-labels':hideLabels}" context-menu data-target="docRCMenu" onload="docLoaded()"></div>
</div>

<div ng-include="STATIC_PREFIX+APP_FOLDER+'partials/views/docRCM.html'"></div>

<style ng-bind="selectedClassBackgroundColor"></style>
