<div class="pdf-doc-name">{{docTitle || 'No document'}}</div>
<div class="pdf-controls noselect">
	<span>Page:</span>
	<div ng-if="!isOnePagePreview">
		<input type="text" ng-model="pdfCurrentPage" ng-change="onPDFPageChanged()" class="page-data"/>
		<span>of {{pdfTotalPages}}</span>
	</div>
	<div ng-if="isOnePagePreview">
		<span>{{single_pageNumber}} of {{single_totalPages}}</span>
	</div>
	<span class="separator">&nbsp;|&nbsp;</span>
	<div class="icon_zoomout" ng-click="zoomOut()"></div>
	<div class="zoom-data">
		<select ng-model="pdfScale"
				ng-change="onPDFZoomLevelChanged()"
				ng-options="zoom.value as zoom.label for zoom in pdfZoomLevels" >
		</select>
	</div>
	<div class="icon_zoomin" ng-click="zoomIn()"></div>
	<span class="separator">&nbsp;|&nbsp;</span>
	<div class="search_wrapper">
		<button ng-click="pdfSearchTerm = ''" ng-disabled="pdfSearchTerm === ''"><span class="icon-cancel-circle"></span></button>
		<form ng-submit="findNext()" style="display: inline-block;">
			<input type="text" ng-model="pdfSearchTerm" placeholder="Search..."/>
		</form>
		<span ng-show="pdfSearchTerm !== ''">{{pdfSearchNumOccurences>0?pdfSearchResultID:0}} of {{pdfSearchNumOccurences}}</span>
		<button ng-click="findPrev()" ng-disabled="pdfSearchTerm === '' || pdfSearchNumOccurences==0"><span class="icon-arrow-left"></span></button>
		<button ng-click="findNext()" ng-disabled="pdfSearchTerm === '' || pdfSearchNumOccurences==0"><span class="icon-arrow-right"></span></button>
	</div>
	<div class="loader" ng-class="{'loaded':downloadProgress==100}" ng-style='{width: downloadProgress + "%"}'></div>
</div>
<div pdf-viewer
	 class="pdf-viewer"
	 id="pdf-viewer"
	 data-src="{{pdfURL}}"
	 data-file="pdfFile"
	 data-current-page="pdfCurrentPage"
	 data-initial-scale="fit_width"
	 data-api="pdfViewerAPI"
	 data-render-text-layer="true"
	 data-progress-callback="onPDFProgress(operation, state, value, total, message)"
	 data-password-callback="onPDFPassword(reason)"
	 data-search-term="{{pdfSearchTerm}}"
	 data-search-result-id="pdfSearchResultID"
	 data-search-num-occurences="pdfSearchNumOccurences">
</div>