<div class="content-wrapper">
    <div class="split-container Flexbox Flexbox__direction-rows" id="split-container">
        <div class="vertical-resizer"
             resizer="vertical"
             resizer-callback="onHideRCM"
             resizer-padding="10"
			 resizer-hide="true"
			 resizer-force-left-width="30"
             resizer-parent="#split-container"
             resizer-left-element="#split-container-left"
             resizer-right-element="#split-container-right"><span></span></div>
        <div class="Flexbox__flex-1 height-all">
            <div class="Flexbox height-all">
				<div class="split-content" id="split-container-left">
					<div class="left-side-title">
						Split {{tenantName}} <span ng-click="backToList()" title="back to {{projectName}}">in <a>{{projectName}}</a></span>
					</div>
					<div ui-view="leftPanel" class="Flexbox Flexbox__direction-rows split-view-container" style="overflow-x: hidden;"></div>
				</div>
				<div class="split-content" id="split-container-right">
					<div class="pdf-controls noselect">
						<!--<div class="icon_arrow-left" ng-click="prevPage()" title="previous page"></div>
						<div class="icon_arrow-right" ng-click="nextPage()" title="next page"></div>
						<span class="separator">&nbsp;|&nbsp;</span>-->
						<span>Page:</span>
						<input type="text" ng-model="pdfCurrentPage" ng-change="onPDFPageChanged()" class="page-data"/>
						<span>of {{pdfTotalPages}}</span>
						<span class="separator">&nbsp;|&nbsp;</span>
						<div class="icon_zoomout" ng-click="zoomOut()"></div>
						<div class="zoom-data">
							<select ng-model="pdfScale"
									ng-change="onPDFZoomLevelChanged()"
									ng-options="zoom.value as zoom.label for zoom in pdfZoomLevels" >
							</select>
						</div>
						<div class="icon_zoomin" ng-click="zoomIn()"></div>
						<span class="separator">&nbsp;|&nbsp;</span>
						<div class="search_wrapper">
							<button ng-click="pdfSearchTerm = ''" ng-disabled="pdfSearchTerm === ''"><span class="icon-cancel-circle"></span></button>
							<form ng-submit="findNext()" style="display: inline-block;">
								<input type="text" ng-model="pdfSearchTerm" placeholder="Search..."/>
							</form>
							<span ng-show="pdfSearchTerm !== ''">{{pdfSearchNumOccurences>0?pdfSearchResultID:0}} of {{pdfSearchNumOccurences}}</span>
							<button ng-click="findPrev()" ng-disabled="pdfSearchTerm === '' || pdfSearchNumOccurences==0"><span class="icon-arrow-left"></span></button>
							<button ng-click="findNext()" ng-disabled="pdfSearchTerm === '' || pdfSearchNumOccurences==0"><span class="icon-arrow-right"></span></button>
						</div>
						<div class="loader" ng-class="{'loaded':downloadProgress==100}" ng-style='{width: downloadProgress + "%"}'></div>
					</div>
					<div pdf-viewer
						 class="pdf-viewer"
						 id="pdf-viewer"
						 data-src="{{pdfURL}}"
						 data-file="pdfFile"
						 data-current-page="pdfCurrentPage"
						 data-initial-scale="fit_width"
						 data-api="pdfViewerAPI"
						 data-render-text-layer="true"
						 data-progress-callback="onPDFProgress(operation, state, value, total, message)"
						 data-password-callback="onPDFPassword(reason)"
						 data-search-term="{{pdfSearchTerm}}"
						 data-search-result-id="pdfSearchResultID"
						 data-search-num-occurences="pdfSearchNumOccurences">
					</div>
				</div>
            </div>
        </div>
    </div>
</div>
