<div class="content-wrapper">
	<div class="split-container Flexbox Flexbox__direction-rows" id="split-container">
		<div class="vertical-resizer"
			 resizer="vertical"
			 resizer-callback="onHideRCM"
			 resizer-padding="10"
			 resizer-hide="true"
			 resizer-force-left-width="{{resizer_force_left_width||60}}"
			 resizer-parent="#split-container"
			 resizer-left-element="#split-container-left"
			 resizer-right-element="#split-container-right"><span></span></div>
		<div class="Flexbox__flex-1 height-all">
			<div class="Flexbox height-all">
				<div class="split-content" id="split-container-left">
					<div class="left-side-title">
						{{tenantName}} <span ng-click="backToList()" title="back to {{projectName}}">in <a>{{projectName}}</a></span>
					</div>
					<div ui-view="leftPanel"></div>
				</div>
				<div class="split-content" id="split-container-right">
					<div class="pdf-controls noselect">
						<!--<div class="icon_arrow-left" ng-click="prevPage()" title="previous page"></div>
						<div class="icon_arrow-right" ng-click="nextPage()" title="next page"></div>
						<span class="separator">&nbsp;|&nbsp;</span>-->
						<span>Page:</span>
						<div ng-if="!isOnePagePreview">
							<input type="text" ng-model="pdfCurrentPage" ng-change="onPDFPageChanged()" class="page-data"/>
							<span>of {{pdfTotalPages}}</span>
						</div>
						<div ng-if="isOnePagePreview">
							<span>{{single_pageNumber}} of {{single_totalPages}}</span>
						</div>
						<span class="separator">&nbsp;|&nbsp;</span>
						<div class="icon_zoomout" ng-click="zoomOut()"></div>
						<div class="zoom-data">
							<select ng-model="pdfScale"
									ng-change="onPDFZoomLevelChanged()"
									ng-options="zoom.value as zoom.label for zoom in pdfZoomLevels" >
							</select>
						</div>
						<div class="icon_zoomin" ng-click="zoomIn()"></div>
						<span class="separator">&nbsp;|&nbsp;</span>
						<div class="search_wrapper">
							<button ng-click="pdfSearchTerm = ''" ng-disabled="pdfSearchTerm === ''"><span class="icon-cancel-circle"></span></button>
							<form ng-submit="findNext()" style="display: inline-block;">
								<input type="text" ng-model="pdfSearchTerm" placeholder="Search..."/>
							</form>
							<span ng-show="pdfSearchTerm !== ''">{{pdfSearchNumOccurences>0?pdfSearchResultID:0}} of {{pdfSearchNumOccurences}}</span>
							<button ng-click="findPrev()" ng-disabled="pdfSearchTerm === '' || pdfSearchNumOccurences==0"><span class="icon-arrow-left"></span></button>
							<button ng-click="findNext()" ng-disabled="pdfSearchTerm === '' || pdfSearchNumOccurences==0"><span class="icon-arrow-right"></span></button>
						</div>
						<a class="switch-pdf-doc icon_file-xml"
						   style="font-size: 22px;"
						   title="View this document in HTML view"
						   ng-href="{{$state.href('app.clientDocumentView')}}"></a>

						<div class="loader" ng-class="{'started':downloadProgress>0, 'loaded':downloadProgress==100}" ng-style='{width: downloadProgress + "%"}'></div>
						<div ng-if="isOnePagePreview"
							 class="pdf-is-preview"
							 ng-class="{'show-message':downloadProgress==100}"
							 ng-click="loadFullPdf()"><div>This is a preview, to see the entire document click here</div>
						</div>
					</div>
					<div pdf-viewer
						 class="pdf-viewer"
						 id="pdf-viewer"
						 data-src="{{pdfURL}}"
						 data-file="pdfFile"
						 data-current-page="pdfCurrentPage"
						 data-initial-scale="fit_width"
						 data-api="pdfViewerAPI"
						 data-render-text-layer="true"
						 data-progress-callback="onPDFProgress(operation, state, value, total, message)"
						 data-password-callback="onPDFPassword(reason)"
						 data-search-term="{{pdfSearchTerm}}"
						 data-search-result-id="pdfSearchResultID"
						 data-search-num-occurences="pdfSearchNumOccurences">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>