<div class="split-title">Original Name: {{docDetails.doc_title}}</div>
<div class="split-list Flexbox__flex-1">
	<ul>
		<li class="clearfix split-list-header">
			<fieldset class="split-fieldset">
				<div class="Flexbox">
					<div class="drag-handle"></div>
					<div class="Flexbox__flex-1 split-title-text-wrap">
						<div class="split-table-title">Name</div>
					</div>
					<div class="split-title-numbers-wrap">
						<div class="split-table-title">From - to</div>
					</div>
					<a style="cursor: default;"><span class="icon-arrow-right" style="color:transparent;"></span></a>
				</div>
			</fieldset>
		</li>
	</ul>
	<ul id="sortable">
		<li ng-repeat="split in splitsData" ng-class="{'on':split.from_page==splitPage}" class="clearfix">
			<fieldset ng-disabled="updatingApplySplit" class="split-fieldset">
				<div class="Flexbox">
					<p class="drag-handle">
						<span class="drag-dots">..<br/>..<br/>..</span>
						<span class="remove-row" ng-if="splitsData.length>1">
							<span class="icon-close" ng-click="removeSplit($index)"></span>
						</span>
					</p>
					<div class="Flexbox__flex-1 split-title-text-wrap">
						<input type="text"
							   class="split-title-text"
							   ng-focus="err_msg = null"
							   ng-model="split.title" maxlength="100"/>
					</div>
					<div class="split-title-numbers-wrap">
						<input type="number"
							   class="page-no"
							   ng-focus="err_msg = null"
							   min="0"
							   ng-model="split.from_page"/>
						-
						<input type="number"
							   class="page-no"
							   ng-model="split.to_page"
							   ng-focus="err_msg = null"
							   min="0"
							   maxlength="3"/>
					</div>
					<a ng-click="clickOnSplitItem(split.from_page)" title="navigate to page">
						<span class="icon-arrow-right"></span>
					</a>
				</div>
			</fieldset>
			<div class="tooltip fadeIn" ng-show="split.hasError">{{split.hasError}}</div>
		</li>
	</ul>
	<ul>
		<li class="clearfix split-list-footer">
			<fieldset class="split-fieldset">
				<div class="Flexbox">
					<div class="drag-handle"></div>
					<div class="Flexbox__flex-1">
						&nbsp;
					</div>
					<button class="Btn Btn__orange" ng-disabled="updatingApplySplit" ng-click="addNewSplit()">Add Split</button>
				</div>
			</fieldset>
		</li>
	</ul>
</div>

<div class="split-btns">
	<span class="err-msg">{{err_msg}}</span>
	<button class="Btn Btn__orange" ng-disabled="!canApply()" ng-click="applySplitConfirm()"><span class="icon-checkmark"></span> Apply Split</button>
	<div ng-class="{'small-loading':updatingApplySplit}"></div>
</div>
