<div ng-repeat="rec in recent"
	 class="recent-wrap {{rec.type}}">
	<div class="recent-title" ng-init="recentExpand=true;">
		<span class="icon_{{rec.type}}"></span>
		{{rec.title}}
		<div class="btn-collapse" ng-click="recentExpand=!recentExpand">
			<span ng-show="recentExpand">-</span>
			<span ng-show="!recentExpand">+</span>
		</div>
	</div>
	<div collapse="!recentExpand">
		<div  class="recent-content">
			<span class="line" ng-repeat="line in rec.items" ng-bind-html="line.htmlText"></span>
		</div>
	</div>
</div>