<div class="pages-content-wrapper Flexbox">
   <div class="left-pane Flexbox__flex-1">
	   <div ui-view="leftPane"></div>
   </div>
   <div class="right-pane Flexbox__flex-1">
	   <div ui-view="rightPane"></div>
   </div>
</div>