@font-face {
	font-family: 'dealsumm';
	src:url('fonts/dealsumm.eot?b44zg8');
	src:url('fonts/dealsumm.eot?#iefixb44zg8') format('embedded-opentype'),
		url('fonts/dealsumm.ttf?b44zg8') format('truetype'),
		url('fonts/dealsumm.woff?b44zg8') format('woff'),
		url('fonts/dealsumm.svg?b44zg8#dealsumm') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'dealsumm';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-restore:before {
	content: "\e2c7";
}
.icon-youtube_searched_for:before {
	content: "\e30c";
}
.icon-arrow-right:before {
	content: "\e619";
}
.icon-arrow-down:before {
	content: "\e61b";
}
.icon-arrow-left:before {
	content: "\e61a";
}
.icon-arrow-up:before {
	content: "\e61c";
}
.icon-move-left-right:before {
	content: "\e623";
}
.icon-move-up-down:before {
	content: "\e61f";
}
.icon-arrows-up-down:before {
	content: "\e620";
}
.icon-primary:before {
	content: "\e622";
}
.icon-add-to-list:before {
	content: "\e625";
}
.icon-upload:before {
	content: "\e639";
}
.icon-forward:before {
	content: "\e60b";
}
.icon-file:before {
	content: "\e609";
}
.icon-redo:before {
	content: "\e60a";
}
.icon-search:before {
	content: "\e603";
}
.icon-undo:before {
	content: "\e608";
}
.icon-checkmark:before {
	content: "\e600";
}
.icon-reply:before {
	content: "\e60c";
}
.icon-cancel-circle:before {
	content: "\e605";
}
.icon-remove:before {
	content: "\e60d";
}
.icon-checkmark-circle:before {
	content: "\e604";
}
.icon-close:before {
	content: "\e601";
}
.icon-checkmark2:before {
	content: "\e602";
}
.icon-plus:before {
	content: "\e606";
}
.icon-minus:before {
	content: "\e607";
}
.icon-newtab:before {
	content: "\e60e";
}
.icon-unmarkall:before {
	content: "\e60f";
}
.icon-file2:before {
	content: "\e62b";
}
.icon-markall:before {
	content: "\e610";
}
.icon-tag:before {
	content: "\e611";
}
.icon-eye-blocked:before {
	content: "\e613";
}
.icon-eye:before {
	content: "\e612";
}
.icon-arrow-left2:before {
	content: "\e615";
}
.icon-arrow-right2:before {
	content: "\e614";
}
.icon-spinner:before {
	content: "\e616";
}
.icon-loop:before {
	content: "\e617";
}
.icon-pencil:before {
	content: "\e618";
}
.icon-lock:before {
	content: "\e61d";
}
.icon-unlocked:before {
	content: "\e61e";
}
.icon-key:before {
	content: "\e621";
}
.icon-file22:before {
	content: "\e626";
}
.icon-folder-open:before {
	content: "\e627";
}
.icon-calendar:before {
	content: "\e624";
}
.icon-disk:before {
	content: "\e628";
}
.icon-file-excel:before {
	content: "\e629";
}
.icon-folder:before {
	content: "\e62a";
}
.icon-clock:before {
	content: "\e62c";
}
.icon-grid-alt:before {
	content: "\e62d";
}
.icon-menu:before {
	content: "\e62e";
}
.icon-copy:before {
	content: "\e62f";
}
.icon-paste:before {
	content: "\e630";
}
.icon-expand:before {
	content: "\e631";
}
.icon-contract:before {
	content: "\e632";
}
.icon-expand2:before {
	content: "\e633";
}
.icon-contract2:before {
	content: "\e634";
}
.icon-checkbox-unchecked:before {
	content: "\e635";
}
.icon-tag2:before {
	content: "\e636";
}
.icon-tags:before {
	content: "\e637";
}
.icon-history:before {
	content: "\e638";
}
