<div class="content-header-wrap">
    <div class="content-header-inner-wrap">
        <div class="Flexbox Flexbox__just-space-around content-header">
            <div class="Flex__inline content-header-left">
                <h1>Report</h1>
                <div class="search-box">
                    Search: <input type="text" class="Form__field" value=""/><div class="search-btn"><span class="icon-search"></span></div>
                    <label class="Form__control-label">
                        <input class="Form__control" id="hideInactive" type="checkbox">
                        <div class="icon-checkmark"></div>
                        <span class="label-text">Hide inactive deals</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="bottom-line"><div></div></div>
        <div class="Flex top-action-buttons">
            <div class="Flex__inline actions-buttons">
                <a href="#" class="share">Share</a>
                <a href="#" class="print">Print</a>
                <a href="#" class="compare">Compare</a>
            </div>
        </div>
    </div>
</div>
<!--<div class="right-accordion-wrap right-accordion-normal">
    <div class="right-accordion-inner-wrap">
        <div ng-include="WHAT_CAN_YOU_DO" class="Flexbox"></div>
    </div>
</div>-->
<div class="content-inner report-page">
    <h4>Executive</h4>
    <div class="report-view">
        <div class="items-wrapper"><calendar calendar-content="calendarContent"></calendar></div>
        <div class="items-wrapper"><ng-alphabet-indexer class="indexer" list-items="contacts" list-order-by="'firstName'" hide-unused-letters="hideUnusedLetters"></ng-alphabet-indexer></div>
        <div class="items-wrapper"><div google-chart chart="columnchart" style="{{columnchart.cssStyle}}"></div></div>
    </div>
    <h4>Librarian</h4>
    <div class="report-view">
        <div class="items-wrapper"><div google-chart chart="columnchart" style="{{columnchart.cssStyle}}"></div></div>
        <div class="items-wrapper"><div google-chart chart="columnchart" style="{{columnchart.cssStyle}}"></div></div>
    </div>
    <h4>Us</h4>
    <div class="report-view">
        <div class="items-wrapper"><div google-chart chart="piechart" style="{{piechart.cssStyle}}"></div></div>
        <div class="items-wrapper"><div google-chart chart="piechart" style="{{piechart.cssStyle}}"></div></div>
    </div>
</div>


