<div class="main-navigation" xmlns="http://www.w3.org/1999/html">
    <div class="container clearfix">
        <div class="top clearfix">
            <img ng-src="{{IMAGES_PREFIX}}logo.png" class="logo" alt="" ng-click="clickedOnLogo()"/>
            <div class="user-details">Hello <span>{{userDetails.name}}</span>, <a href="{{userDetails.logoutUrl}}">Log Out</a></div>
        </div>
        <ul class="nav clearfix">
            <li ng-class="{ active: $state.includes('app.treeView'), isPrev: $state.includes('app.docView') }">
                <a title="Directory" ng-href="{{$stateParams.orgId ? $state.href('app.treeView', {'orgId': $stateParams.orgId}): $state.href('app.adminView')}}">Directory</a>
            </li>
            <li ng-class="{ active: $state.includes('app.docView'), isPrev: $state.includes('app.termsheetView') }">
                <a title="Lease" ng-click="contractRedirectFunc()">Lease</a>
            </li>
            <li ng-class="{ active: $state.includes('app.termsheetView'), isPrev: $state.includes('app.linesheetView')}">
                <a title="Abstract" ng-href="{{$stateParams.orgId ? $stateParams.doc?$state.href('app.termsheetView', {'orgId': $stateParams.orgId, 'doc':$stateParams.doc}):$state.href('app.termsheetView', {'orgId': $stateParams.orgId}): $state.href('app.adminView')}}">Abstract</a>
            </li>
            <li ng-class="{ active: $state.includes('app.linesheetView'), isPrev: $state.includes('app.rentRollView')}">
                <a title="FieldSummary" ng-href="{{$stateParams.orgId ? $state.href('app.linesheetView', {'orgId': $stateParams.orgId}): $state.href('app.adminView')}}">Field Summary</a>
            </li>
            <li ng-class="{ active: $state.includes('app.rentRollView'), isPrev: $state.includes('app.reportView')}">
                <a title="Rent Roll" ng-href="{{$stateParams.orgId ? $state.href('app.rentRollView', {'orgId': $stateParams.orgId}): $state.href('app.adminView')}}">Rent Roll</a>
            </li>
            <li ng-class="{ active: $state.includes('app.argusView'), isPrev: $state.includes('app.rentRollView')}">
                <a title="Argus" ng-href="{{$stateParams.orgId ? $state.href('app.argusView', {'orgId': $stateParams.orgId}): $state.href('app.adminView')}}">Argus</a>
            </li>
            <li ng-class="{ active: $state.includes('app.reportView'), isPrev: $state.includes('app.argusView') }">
                <a title="Report" ng-href="{{$stateParams.orgId ? $state.href('app.reportView', {'orgId': $stateParams.orgId}): $state.href('app.adminView')}}">Analytics</a>
            </li>
            <li ng-class="{ active: $state.includes('app.calendarView') }">
                <a title="Calendar" ng-href="{{$stateParams.orgId ? $state.href('app.calendarView', {'orgId': $stateParams.orgId}): $state.href('app.adminView')}}">Calendar</a>
            </li>
            <li ng-class="{ active: $state.includes('app.rulesetView') }">
                <a title="Ruleset" ng-href="{{$stateParams.orgId ? $state.href('app.rulesetView', {'orgId': $stateParams.orgId}): $state.href('app.adminView')}}">Ruleset</a>
            </li>
            <ul style="float:right;">
                <li ng-class="{ active: $state.includes('app.predictView'), isPrev: $state.includes('app.trainView') }">
                    <a title="Predict" ng-click="predictRedirectFunc()">Predict</a>
                </li>
                <li ng-class="{ active: $state.includes('app.trainView') }">
                    <a title="Train" ng-click="trainRedirectFunc()">Train</a>
                </li>
                <li><a title="Show templates"       href="#">Templates</a></li>
                <li ng-class="{ active: $state.includes('app.searchView') }">
                    <a title="Search" ng-click="searchRedirectFunc()">Search</a>
                </li>
                <li ng-class="{ active: $state.includes('app.adminView') }">
                    <a title="Settings, accounts"   ui-sref="app.adminView">Admin</a>
                </li>
            </ul>
        </ul>
    </div>
</div>


<div class="main-content Flexbox Flexbox__direction-rows">
    <div class="content-border Flexbox__flex-1 position-relative">
        <div ui-view id="main" class=""></div>
    </div>
</div>
<div class="static-footer-wrap">
    <div class="footer container"><div></div></div>
</div>

<div class="alert-wrapper ng-hide"
	 ng-cloak ng-show="$parent.notifications.getCurrent().length"
	 ng-init="showErrors=false">
	<div class="alerts-container"
		 ng-mouseenter="showErrors=true" ng-mouseleave="showErrors=false">
		<strong>Error</strong> (mouse over for details)
        <span class="close">
            <button ng-click="removeAllNotifications()">x</button>
        </span>
		<div ng-show="showErrors">
			<div style="max-height:500px;overflow-y:auto;">
				<div ng-repeat="notification in notifications.getCurrent()"
					 class="alert-line"
					 ng-class="{'separator':!$last}">
					{{notification.message}}
				</div>
			</div>
		</div>
	</div>
</div>








