
<div class="main-navigation">
	<div class="container clearfix">
		<div ng-include="STATIC_PREFIX+APP_FOLDER+'header/header.html'"></div>
		<div ncy-breadcrumb ng-if="showBreadCrumbs"></div>
	</div>
</div>
<div class="main-content Flexbox Flexbox__direction-rows">
    <div class="content-border Flexbox Flexbox__flex-1 position-relative">
        <div ui-view id="main" class="Flexbox Flexbox__flex-1"></div>
    </div>
</div>
<div class="static-footer-wrap">
    <div class="footer container"><div></div></div>
</div>

<div class="alert-wrapper ng-hide"
	 ng-cloak ng-show="$parent.notifications.getCurrent().length"
	 ng-init="showErrors=false">
    <div class="alerts-container"
			ng-mouseenter="showErrors=true" ng-mouseleave="showErrors=false">
        <strong>Error</strong> (mouse over for details)
        <span class="close">
            <button ng-click="removeAllNotifications()">x</button>
        </span>
		<div ng-show="showErrors">
			<div style="max-height:500px;overflow-y:auto;">
				<div ng-repeat="notification in notifications.getCurrent()"
					 class="alert-line"
					 ng-class="{'separator':!$last}">
					{{notification.message}}
				</div>
			</div>
		</div>
    </div>
</div>


<div ng-class="{'active':startedUploading, 'collapsed':startedUploading && !showUploadProgress}" class="upload-progress">
	<div class="toaster-title">
		<span class="icon-upload"></span>&nbsp;{{queue['project']['name']}}
	</div>
	<span class="icon-arrow-down" ng-show="showUploadProgress" ng-click="showUploadProgress=false"></span>
	<span class="icon-arrow-up" ng-show="!showUploadProgress" ng-click="showUploadProgress=true"></span>
	<span class="icon-close" ng-click="startedUploading=false;queue['directories'] = {};"></span>
	<div class="progress-wrap">
		<div ng-repeat-start="folder in queue['directories']"
			 ng-show="folder.name!='temp'"
			 class="folders-progress uploaded_{{folder.uploaded}} {{folder.error?'upload_error':''}}"
			 title="{{folder.error}}">
			<span class="icon-folder-open"></span>
			{{folder.name}}
		</div>
		<div class="files-progress uploaded_{{folder.uploaded}} {{doc.error?'upload_error':''}}"
			 ng-repeat-end
			 ng-repeat="doc in folder.files">
			<div class="file-name"
				 title="{{doc.error}}">
				<span class="icon-file22"></span>
				{{doc.name}}
			</div>
			<div class="file-upload-progress" ng-if="!doc.error">
				<div>
					<div class="progress-line" ng-style="{'width':doc.progress + '%'}"></div>
					<div class="progress-percent">{{doc.progress}}%</div>
				</div>
			</div>
		</div>
	</div>
</div>








