<div class="content-wrapper">
    <div class="split-container Flexbox Flexbox__direction-rows" id="split-container">
        <div class="vertical-resizer"
             resizer="vertical"
             resizer-callback="onHideRCM"
             resizer-padding="10"
			 resizer-hide="true"
			 resizer-force-left-width="{{resizer_force_left_width||60}}"
             resizer-parent="#split-container"
             resizer-left-element="#split-container-left"
             resizer-right-element="#split-container-right"><span></span></div>
        <div class="Flexbox__flex-1 height-all">
            <div class="Flexbox height-all">
				<div class="split-content" id="split-container-left">
					<div class="left-side-title">
						{{tenantName}} <span ng-click="backToList()" title="back to {{projectName}}">in <a>{{projectName}}</a></span>
					</div>
					<div ui-view="leftPanel"></div>
				</div>
                <div class="split-content" id="split-container-right">
					<div class="extra-navigation-buttons">
						<a class="switch-pdf-doc icon_file-pdf"
						   style="margin:10px 5px 0 0;"
						   title="View this document in PDF view"
						   ng-href="{{$state.href('app.clientPdfView')}}">
						</a>
						<a class="btn abstract-btn" ng-click="switchToAbstractSingleView()">Abstract</a>
					</div>
					<div ui-view="rightPanel"></div>
                </div>
            </div>
        </div>
    </div>
</div>