<div class="document-header fadeIn">
	<div class="right-side-title" title="{{docTitle}}" ng-if="docTitle">
		{{docTitle}}
		<a class="btn abstract-btn" ng-if="$state.includes('app.clientSingleAbstract')" ng-click="switchToDocumentView()" style="margin:10px 10px 0 0;">Document</a>
	</div>
	<div class="right-side-title" ng-if="!docTitle">&nbsp;</div>

</div>
<div class="pdf-doc-name">{{docTitle || '...'}}</div>  <!--'No document'-->
<div class="content-inner doc-container" id="doc_container">
	<div class="doc-holder" id="doc_holder">
		<div class="main-loading" ng-show="(!docUrl || docUrl.length==0) && !error400"></div>
		<div ng-include="docUrl" ng-if="!$state.includes('app.clientAbstract')" ng-show="docUrl.length>0" doc-token-selection onload="docLoaded()" ></div>
		<div ng-include="docUrl" ng-if="$state.includes('app.clientAbstract')" ng-show="docUrl.length>0" onload="docLoaded()"></div>
	</div>
</div>
