<div ng-class="{'labeling-mode':labelingMode}">
	<div class="right-side-title doc-title" title="{{docTitle}}">
		<span>{{docTitle}}&nbsp; </span>
		<!--<a ng-click="clickedLabeling()">
			<span class="icon-tag2"></span>
		</a>-->
	</div>
	<div class="labeling-control-panel">
		<div>Placeholder for labels</div>
	</div>
	<div class="document-container" id="doc_container" doc-token-selection>       <!--doc-label-selection-->
		<div class="doc-holder" id="doc_holder">
			<div class="doc-container" ng-show="docUrl.length>0" ng-include="docUrl" onload="docLoaded()"></div>
		</div>
	</div>
</div>


