<div class="toc">
	<div class="right-accordion">
		<accordion close-others="oneAtATime">
			<accordion-group is-open="isopenToC" ng-class="{'expanded': isopenToC}">
				<accordion-heading>
					<i ng-class="{'icon-arrow-down': isopenToC, 'icon-arrow-right': !isopenToC}"></i>
					Table of Contents
				</accordion-heading>
				<legend-tree items="toc_tree" on-node-click-fn="onNodeClickFn(item)" top-func="onNodeClickFn" class="legend-tree-holder"></legend-tree>
			</accordion-group>
		</accordion>
	</div>
</div>