<div class="project-details Flexbox dropable-area"
	 ng-class="{'on-folder':rootScope.dragOverFolderId}"
	 ngf-drop
	 ng-model="files"
	 ngf-drag-over-class="dragover"
	 ngf-multiple="true"
	 ngf-allow-dir="true"
	 accept="'.pdf,.html'">
	<div class="Flexbox__flex-4">
		<label>Tenants: {{numOfStores}} ({{ numOfDocs }} docs)</label>
		<span>Completeness:</span>
		<div class="completness-wrap">
			<div class="completness">
				<div ng-style="{'width':completness + '%'}"></div>
			</div>
			<div><span count-to="{{completness}}" value="{{oldCompletness}}" duration="1">0</span>%</div>
		</div>
		<span>Last modified: {{uploadDate | formats: 'date'}}</span>
	</div>
	<div class="Flexbox__flex-5">
		<div class="top-actions-wrapper">
			<div class="add-new-tenant" ng-class="{'active':showAddTenant}">
				<button ng-click="new_tenant='';showAddTenant=!showAddTenant;setFocus('new_tenant', showAddTenant);">Add Tenant<span></span></button>
				<div class="input-wrapper">
					<input type="text" ng-model="new_tenant"
						   ng-click="addingTenantError=null"
						   ng-disabled="addingTenant"
						   placeholder="Type new tenant name" id="new_tenant" maxlength="40"/>
					<div class="text-actions">
						<button ng-click="showAddTenant = false;"><span class="icon-cancel-circle"></span></button>
						<button ng-click="addTenant();" ng-disabled="new_tenant.length==0 || addingTenant"><span class="icon-checkmark-circle"></span></button>
					</div>
					<div class="clearfix error" ng-show="addingTenantError">{{addingTenantError}}</div>
				</div>
			</div>

			<button ng-disabled="checkDisableDocumentsActionButtons()"
					ng-click="reProcessItem();">Reprocess</button>
			<button ng-disabled="checkDisableDocumentsActionButtons()"
					ng-click="removeItems();">Remove</button>
			<button ng-disabled="true"><span class="icon-search"></span></button>
		</div>
	</div>
	<div class="drag-in">
		<span class="icon-folder-open" ng-show="!rootScope.dragOverFolderId"></span>
		<span class="icon-file22" ng-show="rootScope.dragOverFolderId"></span>
	</div>
</div>
<div id="directory_container" class="directory_container">
	<ul class="tenants-list" ng-show="projectsFolders && projectsFolders.length>0">
		<li class="header Flexbox">
			<div><input type="checkbox" ng-model="mainCheckbox" ng-change="listMainCheckbox()"/></div>
			<div class="Flexbox__flex-3 tenants-list-doc">Name</div>
			<div class="Flexbox__flex-1">Created Date</div>
			<div class="Flexbox__flex-1">Effective Date</div>
			<div class="Flexbox__flex-1">Pages</div>
			<div class="Flexbox__flex-1">Type</div>
			<div class="Flexbox__flex-1">Status</div>
			<div class="Flexbox__flex-1">What's new</div>
		</li>
		<li ng-repeat-start="tenant in projectsFolders track by tenant.id"
			id="folder_{{tenant.id}}"
			class="Flexbox">
			<div class="tenants-list-checkbox">
				<input type="checkbox"
					   checklist-model="selectedItems.folders"
					   checklist-value="tenant"
					   ng-change="clickedOnTenantCheckbox(tenant,this.checked)"/>
			</div>
			<div class="Flexbox__flex-3 tenants-list-folder"
				 ngf-drop
				 drag-over-get-id
				 ng-model="$parent.filesToFolder"
				 ngf-drag-over-class="ng-file-over-list"
				 ngf-multiple="true"
				 ngf-allow-dir="false"
				 accept="'.pdf,.html'"
				 folder-id="folder_{{tenant.id}}"
				 ng-class="{'expanded':tenant.folderExpanded, 'is-last-opened':lastFolder==tenant.id}">
				<div class="Flexbox">
					<div class="symbol"
						 ng-click="tenant.folderExpanded=!tenant.folderExpanded;getFolderDocs(tenant);">
						<span class="icon-folder"></span>
					</div>
					<div class="Flexbox__flex-1 name"
						 context-menu="RCMenu" item-data="{{tenant.id}}"
						 title="{{tenant.id}}"
						 ng-click="showAbstracts(tenant)">{{tenant.name}} ({{tenant.id}})<!--<i ng-if="lastFolder==tenant.id">*</i>--></div>                     <!--<i>( {{tenant.id}} )</i>-->
				</div>
			</div>
			<div class="Flexbox__flex-1">{{ tenant.upload_date | formats: 'date' }}</div>
			<div class="Flexbox__flex-1">&nbsp;</div>
			<div class="Flexbox__flex-1">&nbsp;</div>
			<div class="Flexbox__flex-1" style="min-width:110px;">&nbsp;</div>
			<div class="Flexbox__flex-1" style="min-width:90px;">&nbsp;</div>
			<div class="Flexbox__flex-1">&nbsp;</div>
		</li>
		<li ng-repeat-end ng-repeat="doc in tenant.children track by doc.id"
			ng-show="tenant.children && tenant.children.length > 0 && tenant.folderExpanded"
			id="doc_{{doc.id}}"
			class="status-{{ doc.status }}">
			<div class="tenants-list-checkbox"><input type="checkbox" checklist-model="selectedItems.documents" checklist-value="doc"/></div>
			<div class="tenants-list-doc Flexbox__flex-3">
				<div class="Flexbox">
					<div class="symbol">
						<span class="icon_split" ng-if="doc.has_splits" ng-click="showSplitDocument(doc)"></span>
						<span class="icon_split pop" ng-if="!doc.has_splits && doc.filetype.indexOf('pdf')>-1"></span>
						<span class="icon_file-pdf" title="click here to split this file" ng-if="!doc.has_splits && doc.filetype.indexOf('pdf')>-1" ng-click="showSplitDocument(doc)"></span>
						<span class="icon-file2" ng-if="!doc.has_splits && doc.filetype.indexOf('pdf')==-1"></span>
					</div>
					<div class="Flexbox__flex-1 doc-name"
						 ng-click="showDocument(doc)"
						 ng-class="{'is-last-opened':lastDoc==doc.id}"
						 context-menu="RCMenu"
						 title="{{doc.name}}"
						 item-parent-id="{{tenant.id}}"
						 item-data="{{doc.id}}">
						{{doc.name}}  <i>( {{doc.id}} )</i> <!--<i ng-if="lastDoc==doc.id">*</i>-->
					</div>
				</div>
			</div>
			<div class="Flexbox__flex-1">{{ doc.upload_date | formats: 'date' }}</div>
			<div class="Flexbox__flex-1">{{ doc.effective_date | formats: 'date' }}</div>
			<div class="Flexbox__flex-1">{{ doc.no_of_pages }}</div>
			<div class="Flexbox__flex-1 type-letter {{ doc.document_type }}">
				<span letter="{{ doc.document_type=='None' ? '' : doc.document_type.substring(0,1) }}"></span>
				{{ doc.document_type ? (doc.document_type|capitalize) : 'None' }}
			</div>
			<div class="Flexbox__flex-1" style="position: relative;"><span class="status-cell">{{ statusChart[doc.status] || "Pending" }}</span><span ng-if="doc.has_upload_warnings" ng-click="handleWarningsModal($event, doc.folder, doc.id)" class="has_upload_warnings icon_warning" title="Upload Warning"></span></div>
			<div class="Flexbox__flex-1">{{ doc.what_new }}</div>
		</li>
	</ul>
	<div id="warnings_popup" class="warning-modal">
		<div>
			<span class="icon-close" ng-click="handleWarningsModal(null, null)"></span>
			<div>
				<ul>
					<li ng-repeat="warn in docWarnings | limitTo:3" title="{{warn.warning}}">
						{{warn.warning}}
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!--<div class="Flexbox" style="padding:20px 5px 10px 5px;">
		<div ngf-drop ngf-select ng-model="filesToFolder" class="drop-box"
			 ngf-drag-over-class="dragover" ngf-multiple="true" ngf-allow-dir="true"
			 accept="'.pdf,.html'">Drop PDFs, HTMLs and folders here or click to upload</div>
	</div>-->
</div>


<div id="RCMenu">
	<ul class="context-menu">
		<li ng-repeat="item in rightMenuItems" ng-if="(angular.isDefined(item.condition)?item.condition:true)">
			<a ng-click="clickItem(item.callback, item.vars)" rel="{{item.action}}">{{item.label}}<span ng-if="item.rightIcon" class="{{item.rightIcon}}"></span></a>
		</li>
	</ul>
</div>

