html,body,p,div,h1,h2,h3,ul,ol,li,table,tr,th,td,span,textarea { font-family: arial, sans-serif; font-size:small; color: #666; }
body { margin: 0; padding: 0; }
img { border: none; }
table { border-collapse: collapse; }
td { vertical-align: top; }
a { color: #005a84; text-decoration: none; border-bottom: 1px solid #acc6f9; outline: none; }
a:hover { color: #0083bf; border: none; text-decoration: none;}
h1 { color:#ff8000; margin: 0 0 20px 0; font-weight: normal; font-size: large;  }
h2 { color:#505050; margin: 20px  0; font-weight: normal; font-size: medium; }
h3 { color:#ff8000; margin:0; font-weight: normal; }
h4{ color: #4b4b4b; margin:0; font-weight: normal; font-size: small; }

.main_container { width: 980px; margin: 0 auto; }

.page_container  { border: solid 1px #ccc;border-top: none; min-height: 750px; _height:700px; margin: 0; }
#about {  background: url('../images/Depositphotos_5691471_m.jpg') no-repeat bottom;  }
#solutions {  background: url('../images/Depositphotos_15337901_m.jpg') no-repeat bottom;  }
#contact {  background: url('../images/Depositphotos_23392856_m.jpg') no-repeat bottom;  }
#home {  background: url('../images/Depositphotos_4733407_m.jpg') no-repeat bottom;  }
#review {  background: url('../images/Depositphotos_1190511_m.jpg') no-repeat bottom;  }
#login {  background: url('../images/Depositphotos_3809075_m.jpg') no-repeat bottom;  }

.header { height:85px; padding: 0 0 0 20px; }
.header a{float:left;display: inline-block;line-height: 85px;border: none;}

.nav { display: block; border-top: 1px dotted #b9b9b9; border-bottom: 1px dotted #b9b9b9; }
.nav ul { margin:2px 24px;}
.nav ul li { list-style: none; display:inline; }
.nav ul li a { text-decoration: none; color: #868686; margin:0 15px; border: none; }
.nav ul li a:hover { color: #ffa200; }


.content{
    display: block;
    padding: 20px 40px;
    min-height: 580px;
    position: relative;
}
.white-mask{position:absolute;left:0;top:0;width:100%;height:100%;background: url('../images/white-mask.png') repeat-x top;}
.sub-header{text-align: justify;position: relative;}
#home table{position: relative;}
#home .page-column { width: 33%; vertical-align: top; padding:30px 15px;margin:15px 8px; text-align: justify;}
/* border-radius: 5px;
 -webkit-border-radius: 5px;
 -moz-border-radius: 5px;
 background-color: rgba(255,255,255,0.7)*/

.transparent-text{position: relative;padding:10px 20px 20px 20px;width:66%;min-height:300px;background-color: rgba(255,255,255,0.9);border-radius:10px;-webkit-border-radius:10px;-moz-border-radius:10px;}

.footer { padding: 0; height: 20px; }
.footer > span { margin: 0; font-size: x-small; color: #999; float:right; }
.footer > span > a { font-size: x-small; color: #999; margin: 0; padding: 0;}
.footer > span > span{ padding: 0 7px;font-size: x-small; color: #999;display: inline-block}


.form label{cursor:default;width:30%;display: inline-block;}
.form.formLogin label{width:20%;}
.form .helptext{font-size: 10px;color:#929292;padding-left:31%;display: block;}
.form input[type=text], .form input[type=password]{margin-bottom:0;}
.form .errorlist{margin:7px 0 0 0;display: block;list-style: none;}
.form .errorlist > li{font-size: 10px;color:#f00;padding-left:31%;}
