<div class="Flexbox help-page-list">
    <div>
        <h3>Tenant Upload Checklist</h3>
        <p>
            <strong>Objective:</strong> you are given a property folder to process using the DealSumm software.
            You are supposed to review and correct the automatic process and make sure that all the information is extracted correctly.
        </p>
        <p>
            Correct extraction means:
            <ol class="help-list">
                <li>
                    The abstracted periods are equivalent to what a human reader would infer by reading the document
                </li>
                <li>
                    If the original rent roll is correct, then the inferred rent roll matches the original rent roll. If there are mistakes on the original rent roll, then the inferred rent roll flashes out these mistakes.
                </li>
            </ol>
        </p>
       <strong>Input:</strong>
        <ol class="input-order-list help-list">
            <li>
                A property folder containing one or more tenant folders.
            </li>
            <li>
                The property folder also contains the property rent-roll (under a “property documents” sub-folder).
            </li>
        </ol>
        <div class="help-table-container">
            <h3>The Checklist:</h3>
            <table>
                <tr>
                    <td></td>
                    <td>
                        Step
                    </td>
                    <td>
                        How to check the system result
                    </td>
                    <td>
                        Manual interventions (optional)
                    </td>
                    <td>
                        Status
                    </td>
                </tr>
                <tr>
                    <td>
                        1
                    </td>
                    <td>
                        Import the property
                    </td>
                    <td>
                        Make sure all the documents have a green “Processed” status indication.
                    </td>
                    <td>
                        N/A
                    </td>
                    <td>

                    </td>
                </tr>
                <tr>
                    <td>
                        2
                    </td>
                    <td>
                        Check the rent roll
                    </td>
                    <td>
                        <ol class="help-list">
                            <li>
                                Find the rent roll document (PDF) under the “property documents” folder.
                            </li>
                            <li>
                                Find the rent roll form in the rent roll tab.
                            </li>
                            <li>
                                Make sure the tenant information on the rent roll form is complete. In particular, the following fields should contains valid data:
                                <ul class="input-order-list help-list">
                                    <li>
                                        Tenant name
                                    </li>
                                    <li>
                                        Commencement Date
                                    </li>
                                    <li>
                                        Termination Date
                                    </li>
                                    <li>
                                        SQF
                                    </li>
                                    <li>
                                        Monthly amt
                                    </li>
                                    <li>
                                        Annual amt
                                    </li>
                                    <li>
                                        PSQF amt
                                    </li>
                                </ul>
                            </li>
                        </ol>
                    </td>
                    <td>
                        In case rent roll data is missing/incorrect, you can manually add/modify it.
                    </td>
                    <td>

                    </td>
                </tr>
                <tr>
                    <td>
                        3
                    </td>
                    <td>
                        Check that the folders are correct
                    </td>
                    <td>
                        Make sure that on the rent roll page, each tenant is associated with the corresponding tenant folder.
                    </td>
                    <td>
                        You may manually associate a rent roll tenant entry with tenant’s folder by clicking the folder icon on the rent roll page.
                    </td>
                    <td>

                    </td>
                </tr>
                <tr>
                    <td>
                        4
                    </td>
                    <td>
                        Make sure separate documents are in separate files
                    </td>
                    <td>
                        For each document on Directory page (except for property documents), click each file to open it, and make sure that it does not contain multiple (concatenated) documents.
                    </td>
                    <td>
                        In order to split a file into multiple files (so that each file contains a single document), click the ‘split file’ link:
                        <img ng-src="{{IMAGES_PREFIX}}help-splitFile.png" class="help-split-img" alt="split File image">
                        Use the split file utility to define the start page and end page of each document in the file.
                    </td>
                    <td>

                    </td>
                </tr>
                <tr>
                    <td>
                        5
                    </td>
                    <td>
                        Validate base-rent chart exists
                    </td>
                    <td>
                        <ol class="input-order-list help-list">
                           <li>
                               Go to the document abstract (old view).
                           </li>
                            <li>
                                Go through the base-rent charts from top to bottom till you find a chart whose cells are linked to base-rent text on the document - double click a cell to validate its context on the document.
                            </li>
                        </ol>
                    </td>
                    <td>
                        N/A
                    </td>
                    <td>

                    </td>
                </tr>
                <tr>
                    <td>
                        6
                    </td>
                    <td>
                        Validate relevant columns exist on
                        base-rent chart
                    </td>
                    <td>
                        On the chart you found on previous step, validate the that (at least the) following columns exist:
                        <ol class="input-order-list help-list">
                            <li>
                                pricing: <strong>annual_amt</strong> and/or <strong>monthly_amt</strong> and/or <strong>amt</strong>
                            </li>
                            <li>
                                period: <strong>from_year</strong> and/or <strong>year_num</strong> and/or <strong>start_date</strong> and/or <strong>duration_years</strong>
                            </li>
                        </ol>
                    </td>
                    <td>
                        If a pricing or period column is missing, see if it can be added according to the text.
                        If so, add a column and name it as needed, then copy-paste the cell values from the document.
                    </td>
                    <td>

                    </td>
                </tr>
                <tr>
                    <td>
                        7
                    </td>
                    <td>
                        Validate the table is not “shifted”
                    </td>
                    <td>
                        On the chart you found on previous steps, make sure that the cells are not shifted
                    </td>
                    <td>
                        TBD
                    </td>
                    <td>

                    </td>
                </tr>
                <tr>
                    <td>
                        8
                    </td>
                    <td>
                        Validate the table is not not split
                    </td>
                    <td>
                        Review the subsequent table and see if it originates from the same context
                    </td>
                    <td>
                        TBD
                    </td>
                    <td>

                    </td>
                </tr>
                <tr>
                    <td>
                        9
                    </td>
                    <td>
                        Validate only relevant data is on the base-rent chart
                    </td>
                    <td>
                        Check that the table does not contain irrelevant data
                        (e.g. “duration_years” columns should contain only numeric values, “from_date” columns should contain only valid date values, etc.)
                    </td>
                    <td>
                        Use “ignore row”/”ignore colum” to remove entire rows/columns.
                        Use double-click on a cell to modify a cell's content. See image #2 below.

                    </td>
                    <td>

                    </td>
                </tr>
                <tr>
                    <td>
                        10
                    </td>
                    <td>
                        Validate score of base rent chart.
                    </td>
                    <td>
                        Make sure that the score for the chart you found on previous step is significantly higher than the score of other tables on the list.
                        For example, if the first few charts have score values in the range 0-300, then the table you found on previous steps should have a score of 500 or higher.
                    </td>
                    <td>
                        Double click the chart’s score to modify it – see image #2 below
                    </td>
                    <td>

                    </td>
                </tr>
                <tr>
                    <td>
                        11
                    </td>
                    <td>
                        Re-run inference, validate abstraction results
                    </td>
                    <td>
                        In order to re-run inference, go to Directory page (new UI), right-click tenant's folder name, and select “re-process inference”.
                        Then click the tenant folder name to go to the abstract page, and see that the base rent chart makes sense.
                    </td>
                    <td>
                        N/A
                    </td>
                    <td>

                    </td>
                </tr>
                <tr>
                    <td>
                        12
                    </td>
                    <td>
                        Validate rent-roll results
                    </td>
                    <td>
                        At this final step, the information displayed on the rent roll tab reflects the calculated rent roll. If the calculated results are different than the input rent-roll, then the variations should be reflected as red-colored cells on the page. Otherwise the cells should not be colored.
                    </td>
                    <td>
                        N/A
                    </td>
                    <td>

                    </td>
                </tr>



            </table>
        </div>
    </div>
</div>