<div class="content-header-wrap">
    <div class="content-header-inner-wrap">
        <div class="Flexbox Flexbox__just-space-around content-header">
            <div class="content-header-left" style="width:100%;padding-right:20px;">
                <h1 title="{{linesheetTstData.rel}}: {{linesheetTstData.label}}">{{linesheetTstData.rel}}: {{linesheetTstData.label}}</h1>
                <div>
                    <label>Field:</label><span>{{linesheetTstData.tst_name}} (#{{linesheetTstData.tst_id}})</span>
                    <div class="Flex__rev">
                        <div class="assign-buttons">
                            <span ng-click="linesheetSectionsModal()">TST selection</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-line"><div></div></div>
    </div>
</div>

<div class="split-container Flexbox Flexbox__direction-rows" id="split-container">
    <div class="vertical-resizer"
         resizer="vertical"
         resizer-callback="onHideRCM"
         resizer-padding="22"
         resizer-parent="#split-container"
         resizer-left-element="#split-container-left"
         resizer-right-element="#split-container-right"><span></span></div>

    <div class="Flexbox__flex-1 height-all">
        <div class="Flexbox height-all">
            <div class="split-content" id="split-container-left">
                <div class="expanded-table" ng-repeat="section in tableData">
                    <div class="table-header">
                        <div class="text">
                            <i ng-class="{'icon-arrow-right':!toogleTable, 'icon-arrow-down':toogleTable}"
                               ng-click="toogleTable=!toogleTable"></i>
                            <label class="section-name" style="cursor:pointer;"
                               ng-click="loadDocument(section)">{{section.label}}{{section.label1}}</label>
                        </div>
                    </div>
                    <div class="table-content">
                        <div class="row header" ng-show="toogleTable">
                            <div class="cell" ng-repeat="header in section.headers track by $index">{{header.label}}</div>
                        </div>
                        <div class="row" ng-repeat="row in section.rows" ng-hide="!toogleTable && $index>0">
                            <div class="cell" ng-repeat="cell in row.cells" title="{{cell.orig}}" ng-style="{'textAlign':cell.textAlign}" ng-click="clickedOnCell(cell)">{{cell.label}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="split-content" id="split-container-right">

                <div ui-view="rightPanel"></div>

            </div>
        </div>
    </div>
</div>





