<div class="content-header-wrap">
    <div class="content-header-inner-wrap">
        <div class="Flexbox Flexbox__just-space-around content-header">
            <div class="content-header-left">
                <h1 ng-show="item_title"
                     ng-title="{{item_title}} / id: {{item_id}}">
                    {{item_title}} / id: {{item_id}}
                </h1>
                <div ng-show="item_title">
                    <label>Status:</label><span>{{docDetails.doc_status}}</span> |
                    <label>Last Updated:</label><span>{{docDetails.doc_lastUpdate}}</span> |
                    <label>By:</label><span>{{docDetails.doc_by.name}}</span>
                </div>
            </div>
        </div>
        <div class="bottom-line"><div></div></div>
    </div>
</div>

<div class="split-container Flexbox Flexbox__direction-rows" id="split-container">
    <div class="vertical-resizer"
         resizer="vertical"
         resizer-callback="onHideRCM"
         resizer-padding="22"
         resizer-parent="#split-container"
         resizer-left-element="#split-container-left"
         resizer-right-element="#split-container-right"><span></span></div>
    <div id="edit-cell" class="edit-cell-modal">
        <input type="text" class="cell-name" id="edit-cell-name" ng-model="cellNewValue"/>
        <div class="text-actions">
            <button ng-click="cancelEditCellName()"><span class="icon-cancel-circle"></span></button>
            <button ng-click="saveEditCellName(this)"><span class="icon-checkmark-circle"></span></button>
        </div>
    </div>
    <div class="Flexbox__flex-1 height-all">
        <div class="Flexbox height-all">
            <div class="split-content" id="split-container-left">
                <div class="static-position-header-left">
                    <div class="Flex__inline ts_top_buttons">
                        <div class="tst-name" ng-show="tst_name" ng-class="{'editable':!tsSchemaLocked}">
                            <a class="pointer" ng-click="toggleTstActionsFunc();" ng-class="{'active':toggleTstActions}">{{tst_name}}<span ng-class="{'icon-arrow-down':!toggleTstActions, 'icon-arrow-up':toggleTstActions}"></span></a>
                            <div ng-show="toggleTstActions">
                                <ul>
                                    <li ng-click="toggleTstActions=false;openTstModal('rename')">Rename TST</li>
                                    <li ng-click="toggleTstActions=false;openTstModal('saveas')">Save-as TST</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="Flex__rev">
                        <div class="Flex__inline ts_top_buttons">
                            <label class="Form__control-label" ng-show="!tsContentLocked">
                                <input class="Form__control" id="submitDoc"
                                       ng-change="clickSubmitChanges()"
                                       ng-model="submitChanges" type="checkbox">
                                <div class="icon-checkmark"></div>
                                <span class="label-text" ng-if="submitChanges">Changes submitted</span>
                                <span class="label-text" ng-if="!submitChanges">Changes not submitted</span>
                            </label>
                            <a class="pointer"
                               ng-show="tsContentLocked"
                               ng-init="tsSchemaLocked=true"
                               ng-click="tsSchemaLocked=!tsSchemaLocked;tsContentLocked=true;handleSchemaLock(tsSchemaLocked);"
                               title="lock/unlock editing">
                                <span ng-class="{'icon-lock':tsSchemaLocked, 'icon-unlocked':!tsSchemaLocked}"></span>
                                Schema
                            </a>
                            <a class="pointer"
                               ng-init="tsContentLocked=true"
                               ng-click="tsContentLocked=!tsContentLocked;tsSchemaLocked=true"
                               title="lock/unlock editing content">
                                <span ng-class="{'icon-lock':tsContentLocked, 'icon-unlocked':!tsContentLocked}"></span>
                                Review
                            </a>
                        </div>
                        |
                        <div class="assign-buttons">
                            <a ng-href="{{ prevDoc ? $state.href('app.termsheetView', {'doc': prevDoc}) : $state.href('#') }}"
                               class="icon-arrow-left2"
                               ng-click="hideLabels=false"
                               ng-class="{'disabled':!prevDoc}" title="Previous document"></a>
                            <a ng-href="{{ nextDoc ? $state.href('app.termsheetView', {'doc': nextDoc}) : $state.href('#') }}"
                               class="icon-arrow-right2"
                               ng-click="hideLabels=false"
                               ng-class="{'disabled':!nextDoc}" title="Next document"></a>
                        </div>
                    </div>
                </div>
                <div class="scrollable-container">
                    <ul id="sections-sortable">
                        <li class="expanded-table" ng-repeat="(sectionIndex, section) in tableData" id="section_{{section.sectionID}}" ng-if="section.sectionID">
                            <div class="table-header">
                                <div class="text">
                                    <i ng-click="toogleTable=!toogleTable;toggleSection(toogleTable,'section_'+section.sectionID)"
                                       ng-class="{'icon-arrow-right':!toogleTable, 'icon-arrow-down':toogleTable}">
                                    </i>
                                    <input type="text" class="section-name"
                                         ng-class="{'edit-mode':!tsSchemaLocked && editMode}"
                                         ng-init="section.original = section.label"
                                         data-original="{{section.label}}"
                                         name="section-name"
                                         id="section-name-{{$index}}"
                                         ng-enter="saveEditSectionName(this)"
                                         ng-readonly="!editMode"
                                         ng-model="section.label"/>
                                    <div class="text-actions" ng-show="editMode">
                                        <button ng-click="cancelEditSectionName(this)"><span class="icon-cancel-circle"></span></button>
                                        <button ng-click="saveEditSectionName(this)"><span class="icon-checkmark-circle"></span></button>
                                    </div>
                                </div>
                                <label class="Form__control-label table-actions"
                                       ng-if="!tsContentLocked">
                                    <input class="Form__control"
                                           ng-change="clickApproveSection(section.sectionID)"
                                           ng-model="approvedSections[section.sectionID]"
                                           id="approve_{{section.sectionID}}"
                                           type="checkbox">
                                    <div class="icon-checkmark"></div>
                                    <span class="label-text" ng-if="approvedSections[section.sectionID]">Approved</span>
                                    <span class="label-text" ng-if="!approvedSections[section.sectionID]">Not approved</span>
                                </label>
                                <div class="table-actions" ng-show="!tsSchemaLocked">
                                    <div class="edit-section-name"
                                         ng-click="clickEditSectionName(this);"
                                         ng-show="!editMode"
                                            ><span class="icon-pencil"></span>
                                    </div>
                                    <div class="move-section"><span class="icon-move-up-down"></span></div> <!--{{sectionIndex}}-->
                                    <div class="delete-section" ng-click="clickDeleteSection(this)"><span class="icon-remove"></span></div>
                                </div>
                            </div>
                            <div class="table-content">
                                <ul class="row header" ng-show="toogleTable || !tsSchemaLocked">
                                    <li class="cell"
                                         data-index="{{sectionIndex}}"
                                         data-section_id="{{section.sectionID}}"
                                         ng-repeat="header in section.headers"
                                         ng-mouseenter="isHoverHeaderCell=true" ng-mouseleave="isHoverHeaderCell=false">  <!--ng-style="{'width':header.width+'%'}"-->
                                        <input type="text" class="header-cell-name"
                                               ng-class="{'edit-mode':!tsSchemaLocked && editModeCell}"
                                               ng-init="header.original = header.label"
                                               data-original="{{header.label}}"
                                               name="header-name"
                                               id="header-name-{{$index}}"
                                               ng-enter="saveEditheaderName(this)"
                                               ng-readonly="!editModeCell"
                                               ng-model="header.label"/>
                                        <div class="cell-actions" ng-class="{'hover-header-cell':isHoverHeaderCell || editModeCell}" ng-show="!tsSchemaLocked && header.label!='name'">
                                            <div class="edit-cell-name"
                                                 ng-click="clickEditHeaderCellName(this);"
                                                 ng-show="!editModeCell"
                                                    ><span class="icon-pencil"></span>
                                            </div>
                                            <div class="text-actions" style="padding:1px 0 1px 3px;" ng-show="editModeCell">
                                                <button ng-click="cancelEditHeaderCellName(this)"><span class="icon-cancel-circle"></span></button>
                                                <button ng-click="saveEditHeaderCellName(this,section.sectionID)"><span class="icon-checkmark-circle"></span></button>
                                            </div>
                                            <div class="move-cell" ng-hide="editModeCell"><span class="icon-move-left-right"></span></div>
                                            <div class="delete-cell" ng-hide="editModeCell" ng-click="clickDeleteHeaderCell(this,section.sectionID)"><span class="icon-remove"></span></div>
                                        </div>
                                    </li><!-- ng-style="{'width':header.width>0?header.width+'%':'auto'}" -->
                                    <!--<il class="cell">&nbsp;</il>-->
                                </ul>
                                <div class="row ts-row"
                                     ng-repeat="row in section.rows"
                                     ng-init="rowIndex = $index"
                                     ng-hide="!tsSchemaLocked || (!toogleTable && $index>0)"
                                     ng-mouseenter="isHoverRow=true"
                                     ng-mouseleave="isHoverRow=false">
                                    <div class="cell"
                                         ng-repeat="cell in row">
                                        <div ng-click="clickedOnTSCell(cell, section.sectionID, $event);"
                                             ng-title="{{cell.label}}-{{cell.id}}"
                                             ng-class="{'editable-cell':!tsContentLocked, 'is-edited': cell.id==currentEditedCell}">   <!--'empty-cell':cell.label.length==0,-->
                                            {{cell.label}}
                                            <div ng-show="cell.label.length==0">&nbsp;*</div>
                                        </div>
                                        <div ng-if="$first && rowIndex>0 && section.label!='Base_Rent'"
                                             class="make-primary icon-"
                                             ng-class="{'active':isHoverRow && !tsContentLocked}"
                                             ng-click="makePrimary(this, rowIndex, $event)"
                                             title="Make Primary"></div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="split-content" id="split-container-right">
                <div ui-view="rightPanel"></div>
            </div>
        </div>
    </div>
</div>
