<div class="content-header-wrap">
    <div class="content-header-inner-wrap">
        <div class="Flexbox Flexbox__just-space-around content-header">
            <div class="content-header-left">
                <h1 ng-show="item_title"
                     ng-title="{{item_title}} / id: {{item_id}}">
                    {{item_title}} / id: {{item_id}}
                </h1>
                <div ng-show="item_title">
                    <label>Status:</label><span>{{docDetails.doc_status}}</span> |
                    <label>Last Updated:</label><span>{{docDetails.doc_lastUpdate}}</span> |
                    <label>By:</label><span>{{docDetails.doc_by.name}}</span>
                </div>
            </div>
        </div>
        <div class="bottom-line"><div></div></div>
    </div>
</div>

<div class="split-container Flexbox Flexbox__direction-rows" id="split-container">
    <div class="vertical-resizer"
         resizer="vertical"
         resizer-callback="onHideRCM"
         resizer-padding="22"
		 resizer-force-left-width="65"
         resizer-parent="#split-container"
         resizer-left-element="#split-container-left"
         resizer-right-element="#split-container-right"><span></span></div>
    <div id="edit-cell" class="edit-cell-modal">
        <input type="text" class="cell-name" id="edit-cell-name" ng-model="cellNewValue.label"/>
        <div class="text-actions">
            <button ng-click="cancelEditCellName()"><span class="icon-cancel-circle"></span></button>
            <button ng-click="saveEditCellName()"><span class="icon-checkmark-circle"></span></button>
			<span class="sep" ng-show="permissions.allowed('debug')">|</span>
            <button ng-click="advanced=!advanced"><span ng-class="{'icon-arrow-down':!advanced, 'icon-arrow-up':advanced}" style="color:#DDDDDD;"></span></button>
        </div>
		<div class="advanced" ng-if="advanced">
			<div class="fields-holder">
				<label>From:</label>
				<input type="text" class="cell-name" ng-model="cellNewValue.from_token"/>
			</div>
			<div class="fields-holder">
				<label>To:</label>
				<input type="text" class="cell-name" ng-model="cellNewValue.to_token"/>
			</div>

			<div class="paste-holder" ng-if="selectionPhrase.phrase" ng-click="pasteFromSelection()">
				Paste <span class="icon-paste"></span>
			</div>
		</div>
    </div>
    <div class="Flexbox__flex-1 height-all">
        <div class="Flexbox height-all">
            <div class="split-content" id="split-container-left">
                <div class="static-position-header-left">
                    <div class="Flex__inline ts_top_buttons">
                        <div class="tst-name" ng-show="tst_name" ng-class="{'editable':!tsSchemaLocked}">
                            <a class="pointer" ng-click="toggleTstActionsFunc();" ng-class="{'active':toggleTstActions}">{{tst_name}}<span ng-class="{'icon-arrow-down':!toggleTstActions, 'icon-arrow-up':toggleTstActions}"></span></a>
                            <div ng-show="toggleTstActions">
                                <ul>
                                    <li ng-click="toggleTstActions=false;openTstModal('rename')">Rename TST</li>
                                    <li ng-click="toggleTstActions=false;openTstModal('saveas')">Save-as TST</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="Flex__rev">
                        <div class="Flex__inline ts_top_buttons">
                            <label class="Form__control-label" ng-show="!tsContentLocked">
                                <input class="Form__control" id="submitDoc"
                                       ng-change="clickSubmitChanges()"
                                       ng-model="info.approved" type="checkbox">
                                <div class="icon-checkmark"></div>
                                <!--<span class="label-text"></span>-->
                            </label>
                            <a class="pointer"
                               ng-show="tsContentLocked"
                               ng-init="tsSchemaLocked=true"
                               ng-click="tsSchemaLocked=!tsSchemaLocked;tsContentLocked=true;handleSchemaLock(tsSchemaLocked);"
                               title="lock/unlock editing">
                                <span ng-class="{'icon-lock':tsSchemaLocked, 'icon-unlocked':!tsSchemaLocked}"></span>
                                Schema
                            </a>
                            <a class="pointer"
                               ng-init="tsContentLocked=true"
                               ng-click="tsContentLocked=!tsContentLocked;tsSchemaLocked=true"
                               title="lock/unlock editing content">
                                <span ng-class="{'icon-lock':tsContentLocked, 'icon-unlocked':!tsContentLocked}"></span>
                                Edit
                            </a>
                        </div>
                    </div>
                </div>
				<!-- CHARTS BASE_RENT -->
				<ul context-menu data-target="tsRCMenu"
					ng-repeat="zone in chartsZones"
					style="padding:30px 15px 10px 0;"
					ng-init="toggleChart[zone.section_info.sectionID]=false;">
					<li class="expanded-table"
						ng-repeat="(chartIndex, chart) in zone.section_charts"
						id="chart_{{chart.chart_id}}"
						ng-init="firstChart=$first;"
						ng-if="chart.chart_id && chart.rows.length>0"
						ng-style="{ marginTop: !firstChart && toggleChart[zone.section_info.sectionID] ? '10px' : '0' }">
						<div class="table-header"
							 ng-style="{ marginBottom: toggleChart[zone.section_info.sectionID] ? '10px' : '0' }"
							 ng-if="firstChart">
							<div class="text">
								<i ng-click="toggleChartStat('chart_'+chart.chart_id, zone.section_info.sectionID)"
								   ng-class="{'icon-arrow-right':!toggleChart[zone.section_info.sectionID], 'icon-arrow-down':toggleChart[zone.section_info.sectionID]}">
								</i>
								<input type="text" class="section-name"
									   name="chart-name"
									   readonly="readonly"
									   ng-model="zone.section_info.label"/>
							</div>
						</div>
						<div class="score"
							 ng-show="toggleChart[zone.section_info.sectionID]"
							 ng-init="scoreEditMode=false;chart.originalScore=chart.score;">
							<span class="ttl">Chart id:</span>
							<span>{{chart.chart_id}}</span>
							<span class="ttl">Score:</span>
							<input type="text"
								   ng-readonly="!scoreEditMode"
								   class="prevent-selection"
								   ng-class="{'edit-mode':scoreEditMode}"
								   ng-model="chart.score"
								   ng-style="{'width': chart.score.toString().length*10 + 'px'}"
								   maxlength="6"
								   nks-only-number decimal-upto="2"
								   ng-dblclick="scoreEditMode = true"/>
										<span>
											<button ng-click="chart.score=chart.originalScore;scoreEditMode=false;"><span class="icon-cancel-circle"></span></button>
            								<button ng-click="saveEditScore(chart);scoreEditMode=false;"><span class="icon-checkmark-circle"></span></button>
										</span>
						</div>
						<div class="table-content chart-table-content" ng-show="toggleChart[zone.section_info.sectionID] || firstChart">
							<ul class="row header">
								<li class="cell action-cell">&nbsp;</li>
								<li class="cell"
									ng-class="{'edit-mode':!tsContentLocked}"
									data-index="{{chartIndex}}"
									data-section_id="{{chart.chart_id}}"
									ng-repeat="header in chart.headers">
									<input type="text" class="header-cell-name"
										   ng-class="{'edit-mode':!tsContentLocked && editedChartHeader['id']==chart.chart_id+'_'+header.column_no, 'ignore':header.ignore}"
										   ng-init="header.original = header.label"
										   data-original="{{header.label}}"
										   name="header-name"
										   id="header-chart-name-{{$index}}"
										   ng-enter="saveEditheaderName(this)"
										   ng-readonly="editedChartHeader['id']!=chart.chart_id+'_'+header.column_no"
										   ng-model="header.label"/>
									<div class="columns-separator"
										 ng-init="isHoverSep=false"
										 ng-if="$last && !tsContentLocked"
										 ng-mouseenter="isHoverSep=true"
										 ng-mouseleave="isHoverSep=false"
										 ng-click="clickedInsertColumn(chart, $index+1)"
										 ng-class="{'edit-mode':!tsContentLocked && isHoverSep && !addingNewRow}">
										<div class="separator-body"></div>
										<div class="separator-indicator">
											<span class="icon-arrow-down"></span>
										</div>
									</div>
									<span ng-if="!tsContentLocked"
										  ng-click="toggleIgnoreColumn(chart, header)"
										  class="column-remove"
										  ng-class="{true:'icon-checkmark', false:'icon-close'}[header.ignore==true]">
									</span>
									<span ng-if="!tsContentLocked"
										 class="icon-pencil"
										 ng-click="clickEditChartHeaderCellName(chart, header);">
									</span>
									<div class="text-actions text-actions-header" ng-show="editedChartHeader['id']==chart.chart_id+'_'+header.column_no">
										<button ng-click="cancelEditChartHeaderCellName(header)"><span class="icon-cancel-circle"></span></button>
										<button ng-click="saveEditChartHeaderCellName(chart, header)"><span class="icon-checkmark-circle"></span></button>
									</div>
								</li>
							</ul>
							<div ng-init="isHoverSep=false"
								 ng-mouseenter="isHoverSep=true"
								 ng-mouseleave="isHoverSep=false"
								 ng-class="{'edit-mode':!tsContentLocked && isHoverSep && !addingNewRow}"
								 ng-click="clickedInsertRow(chart, 0)"
								 class="rows-separator">
								<div class="separator-body"></div>
								<div class="separator-indicator">
									<span class="icon-arrow-right"></span>
								</div>
							</div>
							<div class="row ts-row"
								 title="row id: {{row.row_id}}"
								 ng-repeat-start="row in chart.rows"
								 ng-hide="!tsSchemaLocked"
								 ng-mouseenter="isHoverRow=true"
								 ng-mouseleave="isHoverRow=false"
								 ng-class="{'is-option':row.option}">
								<div class="cell action-cell">
									<div ng-if="!tsContentLocked && row.row_id!=null"
										 ng-click="toggleIgnore(row, chart)"
										 class="btn-ignore"
										 title="set row {{row.ignore?'un-':''}}ignored">
										<span class="icon-checkmark2" ng-if="row.ignore"></span>
										<span class="icon-close" ng-if="!row.ignore"></span>
									</div>
								</div>
								<div class="cell"
									 ng-class="{'ignored':row.ignore || cell.ignore}"
									 ng-repeat="cell in chart.headers">
									<div ng-click="clickedOnTSCell(row.cells[cell.ref], zone.section_info.sectionID, row.row_id, $event, chart.chart_id, row.ignore || cell.ignore, true);"
										 ng-title="{{row.cells[cell.ref].label}}-{{row.cells[cell.ref].property_id}}"
										 rcm-data="[{key:'cell id', value:'{{row[cell.ref].property_id}}'},{key:'row id',value:'{{row.row_id}}'},{key:'chart id',value:'{{chart.chart_id}}'}]"
										 opt-data="{'row_id':'{{row.row_id}}','chart_id':'{{chart.chart_id}}'}"
										 ng-class="{'editable-cell':!tsContentLocked && !row.ignore && !cell.ignore, 'is-edited': row.cells[cell.ref].property_id==currentEditedCell, 'highlighted-cell':row.cells[cell.ref].property_id==highlightedCell}">   <!--'empty-cell':cell.label.length==0,-->
										{{row.cells[cell.ref].label}}
									</div>
								</div>
							</div>
							<div ng-repeat-end
								 ng-init="isHoverSep=false"
								 ng-mouseenter="isHoverSep=true"
								 ng-mouseleave="isHoverSep=false"
								 ng-class="{'edit-mode':!tsContentLocked && isHoverSep && !addingNewRow}"
								 class="rows-separator">
								<div class="separator-body"></div>
								<div class="separator-indicator"
									 ng-click="clickedInsertRow(chart, $index+1)">
									<span class="icon-arrow-right"></span>
								</div>
							</div>
						</div>
					</li>
				</ul>
                <div class="scrollable-container" style="padding:0 15px 10px 0;">
					<div id="sections-sortable">
						<ul ng-repeat="list in tableData">
							<li class="expanded-table"
								ng-repeat="(sectionIndex, section) in list.lines"
								id="section_{{section.sectionID}}"
								ng-if="section.sectionID"
								title="section id: {{section.sectionID}}">
								<div class="table-header">
									<div class="text">
										<i ng-init="toogleTable=(section.sectionID==expandedSection)"
										   ng-click="toogleTable=!toogleTable;toggleSection(toogleTable,'section_'+section.sectionID)"
										   ng-class="{'icon-arrow-right':!toogleTable, 'icon-arrow-down':toogleTable}">
										</i>
										<input type="text" class="section-name"
											   ng-class="{'edit-mode':!tsSchemaLocked && editMode}"
											   ng-init="section.original = section.label"
											   data-original="{{section.label}}"
											   name="section-name"
											   id="section-name-{{$index}}"
											   ng-enter="saveEditSectionName(this)"
											   ng-readonly="!editMode"
											   ng-model="section.label"/>
										<div class="text-actions" ng-show="editMode">
											<button ng-click="cancelEditSectionName(this)"><span class="icon-cancel-circle"></span></button>
											<button ng-click="saveEditSectionName(this)"><span class="icon-checkmark-circle"></span></button>
										</div>
									</div>
									<label class="Form__control-label table-actions"
										   ng-if="!tsContentLocked">
										<input class="Form__control"
											   ng-change="clickApproveSection(section)"
											   ng-model="section.approved"
											   type="checkbox">
										<div class="icon-checkmark"></div>
										<span class="label-text"></span>
									</label>
									<div class="table-actions" ng-show="!tsSchemaLocked">
										<div class="edit-section-name"
											 ng-click="clickEditSectionName(this);"
											 ng-show="!editMode"
												><span class="icon-pencil"></span>
										</div>
										<div class="move-section"><span class="icon-move-up-down"></span></div> <!--{{sectionIndex}}-->
										<div class="delete-section" ng-click="clickDeleteSection(this)"><span class="icon-remove"></span></div>
									</div>
								</div>
								<div class="table-content">
									<ul class="row header" ng-show="toogleTable || !tsSchemaLocked">
										<li class="cell"
											data-index="{{sectionIndex}}"
											data-section_id="{{section.sectionID}}"
											ng-repeat="header in section.headers"
											ng-mouseenter="isHoverHeaderCell=true" ng-mouseleave="isHoverHeaderCell=false">  <!--ng-style="{'width':header.width+'%'}"-->
											<input type="text" class="header-cell-name"
												   ng-class="{'edit-mode':!tsSchemaLocked && editModeCell}"
												   ng-init="header.original = header.label"
												   data-original="{{header.label}}"
												   name="header-name"
												   id="header-name-{{$index}}"
												   ng-enter="saveEditheaderName(this)"
												   ng-readonly="!editModeCell"
												   ng-model="header.label"/>
											<div class="cell-actions" ng-class="{'hover-header-cell':isHoverHeaderCell || editModeCell}" ng-show="!tsSchemaLocked && header.label!='name'">
												<div class="edit-cell-name"
													 ng-click="clickEditHeaderCellName(this);"
													 ng-show="!editModeCell"
														><span class="icon-pencil"></span>
												</div>
												<div class="text-actions" style="padding:1px 0 1px 3px;" ng-show="editModeCell">
													<button ng-click="cancelEditHeaderCellName(this)"><span class="icon-cancel-circle"></span></button>
													<button ng-click="saveEditHeaderCellName(this,section.sectionID)"><span class="icon-checkmark-circle"></span></button>
												</div>
												<div class="move-cell" ng-hide="editModeCell"><span class="icon-move-left-right"></span></div>
												<div class="delete-cell" ng-hide="editModeCell" ng-click="clickDeleteHeaderCell(this,section.sectionID)"><span class="icon-remove"></span></div>
											</div>
										</li>
									</ul>
									<div class="row ts-row"
										 ng-repeat="row in section.rows"
										 ng-hide="!tsSchemaLocked || (!toogleTable && $index>0)"
										 ng-mouseenter="isHoverRow=true"
										 ng-mouseleave="isHoverRow=false"
										 title="row id: {{row.row_id}}">
										<div class="cell"
											 ng-repeat="cell in row.cells">
											<div ng-click="clickedOnTSCell(cell, section.sectionID, row.row_id, $event, -1, null);"
												 ng-title="{{cell.label}}-{{cell.id}}"
												 ng-class="{'editable-cell':!tsContentLocked, 'is-edited': cell.id==currentEditedCell, 'highlighted-cell':cell.id==highlightedCell}">   <!--'empty-cell':cell.label.length==0,-->
												{{cell.label}}
												<!--<div ng-show="cell.label.length==0">&nbsp;*</div>-->
											</div>
											<div ng-if="$first"
												 class="make-primary icon-"
												 ng-class="{'active':isHoverRow && !tsContentLocked}"
												 ng-click="makePrimary(this, row.row_id, $event)"
												 title="Make Primary"></div>
											<div ng-if="$first"
												 class="add-row icon-add-to-list"
												 ng-class="{'active':isHoverRow && !tsContentLocked}"
												 ng-click="addRow(this)"
												 title="Add Row"></div>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
                </div>

            </div>
            <div class="split-content termsheet-doc-content" id="split-container-right">
                <div ui-view="rightPanel"></div>
            </div>
        </div>
    </div>
</div>

<div id="tsRCMenu">
    <ul class="context-menu">
        <li ng-repeat="item in rightMenuItems" ng-if="(angular.isDefined(item.condition)?item.condition:true)">
            <a ng-click="clickItem(item.callback, item.vars)" rel="{{item.action}}">{{item.label}}<span ng-if="item.rightIcon" class="{{item.rightIcon}}"></span></a>
            <div class="extra-details" ng-if="item.extra">
                <span ng-repeat="extra in item.extra">{{extra.key}}: {{extra.value}}</span>
            </div>
        </li>
    </ul>
</div>

