<div class="page-title-wrap">
	<div class="container clearfix">
		<div class="full-width-title" ng-if="$state.includes('app.property') && !$state.includes('app.clientTenantsView.groundTruth')">
			{{currentHeader}} for {{projectDetails.name}}<!--, <span>{{projectDetails.address}}</span>-->
			<!--<a class="btn" style="margin-right:10px;" ng-click="$state.go('app.dashboard')">All properties</a>-->
		</div>
		<div class="full-width-title truth-breakcrumbs" ng-if="$state.includes('app.clientTenantsView.groundTruth')">
			<div>
				<span>
					<span class="truth-page-title">GROUND TRUTH -</span>
					<span>{{projectName}}</span>
					<span ng-if="rootScope.tenantName">/{{rootScope.tenantName}}</span>
					<span ng-if="rootScope.docName" title="{{rootScope.docName}}">/{{rootScope.docName}}</span>
					<span ng-if="rootScope.clauseId">/{{rootScope.clauseId}}</span>
				</span>
			</div>
			<a class="btn btn-reference" ng-click="rootScope.toggleReference()">Reference&nbsp;<span class="icon-reply"></span></a>
		</div>
	</div>
</div>
<div class="content-wrapper property-wrapper Flexbox Flexbox__flex-1"
	 ng-class="{'on-folder':rootScope.dragOverFolderId}"
	 ngf-drop
	 ng-model="files"
	 ngf-drag-over-class="dragover"
	 ngf-multiple="true"
	 ngf-allow-dir="true"
	 accept="'.pdf,.html'">                                                 <!--accept is not working-->
	<div class="property-left-nav-wrap">
		<div class="property-left-nav"
			 ng-click="$state.go('app.property')"
			 ng-class="{'active':$state.is('app.property')}">
			<div class="property-left-nav-title">
				Directory
				<div class="active-indicator">
					<span class="icon-arrow-right"></span>
				</div>
			</div>
		</div>
		<div class="property-left-nav"
			 ng-click="$state.go('app.clientTenantsView.rentRoll')"
			 ng-class="{'active':$state.is('app.clientTenantsView.rentRoll')}">
			<div class="property-left-nav-title">
				Rent Roll
				<div class="active-indicator">
					<span class="icon-arrow-right"></span>
				</div>
			</div>
		</div>
		<div class="property-left-nav"
			 ng-click="$state.go('app.clientTenantsView.groundTruth')"
			 ng-class="{'active':$state.includes('app.clientTenantsView.groundTruth')}">
			<div class="property-left-nav-title">
				Ground Truth
				<div class="active-indicator">
					<span class="icon-arrow-right"></span>
				</div>
			</div>
		</div>
		<div class="drag-in">
			<span class="icon-folder-open" ng-show="!rootScope.dragOverFolderId"></span>
			<span class="icon-file22" ng-show="rootScope.dragOverFolderId"></span>
		</div>
	</div>
	<div class="Flexbox__flex-1 property-body" ui-view="propertyView"></div>
</div>


