@font-face {
	font-family: 'dealsumm2';
	src:url('fonts/dealsumm2.eot?jatywe');
	src:url('fonts/dealsumm2.eot?#iefixjatywe') format('embedded-opentype'),
		url('fonts/dealsumm2.ttf?jatywe') format('truetype'),
		url('fonts/dealsumm2.woff?jatywe') format('woff'),
		url('fonts/dealsumm2.svg?jatywe#dealsumm2') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon_"], [class*=" icon_"] {
	font-family: 'dealsumm2';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon_logo:before {
	content: "\e604";
}
.icon_calendar:before {
	content: "\e60a";
}
.icon_documents:before {
	content: "\e60b";
}
.icon_activity:before {
	content: "\e60c";
}
.icon_file-dollar:before {
	content: "\e60d";
}
.icon_file-percent:before {
	content: "\e60e";
}
.icon_file:before {
	content: "\e60f";
}
.icon_envelope:before {
	content: "\e610";
}
.icon_search:before {
	content: "\e611";
}
.icon_arrow-left-double:before {
	content: "\e612";
}
.icon_arrow-right-double:before {
	content: "\e613";
}
.icon_caret-up:before {
	content: "\e617";
}
.icon_caret:before {
	content: "\e614";
}
.icon_sort-down:before {
	content: "\e615";
}
.icon_sort-up:before {
	content: "\e616";
}
.icon_note:before {
	content: "\e601";
}
.icon_warning:before {
	content: "\e61d";
}
.icon_checkmark:before {
	content: "\e608";
}
.icon_minus:before {
	content: "\e600";
}
.icon_plus:before {
	content: "\e602";
}
.icon_play:before {
	content: "\e609";
}
.icon_arrow-right:before {
	content: "\e606";
}
.icon_arrow-left:before {
	content: "\e607";
}
.icon_zoomin:before {
	content: "\e603";
}
.icon_zoomout:before {
	content: "\e605";
}
.icon_messages:before {
	content: "\e618";
}
.icon_shuffle:before {
	content: "\e619";
}
.icon_split:before {
	content: "\e61a";
}
.icon_file-pdf:before {
	content: "\e61b";
}
.icon_file-xml:before {
	content: "\e61c";
}
.icon_filter:before {
	content: "\e61e";
}
