// Forms
// -------------------------

// input
$fieldBackground: #b8b8bb !default;
$fieldTextColor: #5d5d5d !default;
$borderColor: $grayLight !default;
$borderFocusColor: $blueSmoke !default;


$inputLineHeight: 18px !default;
$inputBorderWidth: 1px  !default;

@mixin setFieldHeight($height){
	$paddingVert: ($height - $inputLineHeight) / 2;
	line-height: $inputLineHeight - ($inputBorderWidth * 2);
	height: $height;
	padding-top: $paddingVert;
	padding-bottom: $paddingVert;
}

.Form__field {
	display: inline-block;
	width: 100%;
	line-height: $inputLineHeight;
	color: $fieldTextColor;
	background-color: $white;
	border: $inputBorderWidth solid $borderColor;
	@include border-radius(4px);
	@include transition(border-color .3s ease);
	@include setFieldHeight(26px);
	padding-left: 4px;
	padding-right: 4px;

	&:hover {
		border-color: $black;
	}

	&:focus {
		border-color: $borderFocusColor;
		color: darken($fieldTextColor, 10%);
		outline: 0;
	}
}

.Form__field-small {
	padding-left: 3px;
	padding-right: 3px;
	@include setFieldHeight(22px);
}

.Form__field-large {
	padding-left: 6px;
	padding-right: 6px;
	@include setFieldHeight(34px);
}


// Focus for select, file, radio, and checkbox
select:focus,
input[type="file"]:focus,
field[type="radio"]:focus,
input[type="checkbox"]:focus {
	@include tab-focus();
}

// Uneditable fields
// -------------------------

// Make uneditable fields look inactive
[readonly] {
	color: $grayDark;
	background-color: darken($fieldBackground, 1%);
	@include box-shadow(inset 0 1px 2px rgba(0, 0, 0, .025));
	cursor: not-allowed;
}

[contenteditable] {
	word-break: break-all;
	p {
		margin: 0\9;
	}
	&:focus {
		outline: 0;
		border: 1px solid $turquoise;
	}
}

// General form class
.Form { }

// Validation erro
.Form__error {
	.label {
		color: #d7410b;
	}
	input,
	textarea {
		border-color: #d7410b !important;
		&:focus {
			border-color: darken(#d7410b, 10%);
		}
	}
	.error-msg {
		font-size: 11px;
		color: #d7410b;
	}
}






.Form__control-label {
    display: inline-block;
    position: relative;
}

/* :root here acting as a filter for older browsers */
:root .Form__control-label {
    &:hover{
        input[type="checkbox"].Form__control{
            + div {
                &:before {
                    @include opacity(1);
                    @include scale(1);
                }
            }
        }
        input[type="radio"].Form__control{
            + div {
                //border-color:$turquoise;
                &:before {
                    @include opacity(1);
                    @include scale(1);
                }
            }
        }
    }
}

/* :root here acting as a filter for older browsers */

:root input[type="checkbox"] {
	&.Form__control {
		opacity: 0;
		position: relative;
		display: none;
		&:checked {
			+ div {
				background-color: $turquoise;
				&:before {
					@include opacity(1);
					@include scale(1);
				}
			}
		}
		+ div {
			@include transition(background-color .25s ease);
			@include border-radius(3px);
			cursor: pointer;
			position: relative;
			width: 14px;
			height: 14px;
			background-color: $gray;
			display: inline-block;
			vertical-align: middle;
			margin-bottom: 3px;
			margin-#{htmlDirection-rev()}: 3px;
			&:before {
				-webkit-transition: opacity 0.35s ease, -webkit-transform 0.35s ease;
				-moz-transition: opacity 0.35s ease, -moz-transform 0.35s ease;
				-ms-transition: opacity 0.35s ease, -ms-transform 0.35s ease;
				-o-transition: opacity 0.35s ease, -o-transform 0.35s ease;
				@include opacity(0);
				@include scale(0.5);
				color: $white;
				position: absolute;
				top: 3px;
				#{htmlDirection()}: 3px;
				font-size: 9px;

			}
		}
		&[disabled] {
			+ div {
                background-color: #d5d8df;
				cursor: default;
				opacity: 0.3;
			}
		}
	}
}

.Form__control + div {
	display: none;
}
:root input[type="radio"] {
	&.Form__control {
		opacity: 0;
		position: relative;
		display: none;
		&:checked {
			+ div {
				border-color: $gray;
				&:before {
                    background-color: $gray;
					@include opacity(1);
					@include scale(1);
				}
			}
		}
		+ div {
			cursor: pointer;
			@include transition(background-color .25s ease );
			@include border-radius(50%);
			position: relative;
			width: 12px;
			height: 12px;
			display: inline-block;
			border: 1px solid #9fdbdf;
			vertical-align: middle;
			margin-bottom: 3px;
			margin-#{htmlDirection-rev()}: 3px;
			&:before {
				-webkit-transition: opacity 0.35s ease, -webkit-transform 0.35s ease;
				-moz-transition: opacity 0.35s ease, -moz-transform 0.35s ease;
				-ms-transition: opacity 0.35s ease, -ms-transform 0.35s ease;
				-o-transition: opacity 0.35s ease, -o-transform 0.35s ease;
				@include border-radius(50%);
				content: " ";
				width: 6px;
				height: 6px;
				background-color: #9fdbdf;
				@include opacity(0);
				@include scale(0.5);
				color: $white;
				position: absolute;
				top: 2px;
				#{htmlDirection()}: 2px;
			}
		}
		&[disabled] {
			+ div {
				cursor: default;
				opacity: 0.3;
			}
		}
	}
}



