//
// Typography
// --------------------------------------------------
@font-face {
    font-family: 'dealsumm2';
    src:url('fonts/dealsumm2.eot?56osoe');
    src:url('fonts/dealsumm2.eot?#iefix56osoe') format('embedded-opentype'),
    url('fonts/dealsumm2.woff?56osoe') format('woff'),
    url('fonts/dealsumm2.ttf?56osoe') format('truetype'),
    url('fonts/dealsumm2.svg?56osoe#dealsumm2') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon_"], [class*=" icon_"] {
    font-family: 'dealsumm2';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon_calendar:before {
    content: "\e60a";
}

.icon_documents:before {
    content: "\e60b";
}

.icon_activity:before {
    content: "\e60c";
}

.icon_file-dollar:before {
    content: "\e60d";
}

.icon_file-percent:before {
    content: "\e60e";
}

.icon_file:before {
    content: "\e60f";
}

.icon_envelope:before {
    content: "\e610";
}

.icon_search:before {
    content: "\e611";
}

.icon_arrow-left-double:before {
    content: "\e612";
}

.icon_arrow-right-double:before {
    content: "\e613";
}

.icon_caret-up:before {
    content: "\e617";
}

.icon_caret:before {
    content: "\e614";
}

.icon_sort-down:before {
    content: "\e615";
}

.icon_sort-up:before {
    content: "\e616";
}

.icon_note:before {
    content: "\e601";
}

.icon_logo:before {
    content: "\e604";
}

.icon_checkmark:before {
    content: "\e608";
}

.icon_minus:before {
    content: "\e600";
}

.icon_plus:before {
    content: "\e602";
}

.icon_play:before {
    content: "\e609";
}

.icon_arrow-right:before {
    content: "\e606";
}

.icon_arrow-left:before {
    content: "\e607";
}

.icon_zoomin:before {
    content: "\e603";
}

.icon_zoomout:before {
    content: "\e605";
}

.icon_messages:before {
    content: "\e618";
}

.icon_shuffle:before {
    content: "\e619";
}

.icon_split:before {
    content: "\e61a";
}
.icon_file-pdf:before {
    content: "\e61b";
}

.icon_file-xml:before {
    content: "\e61c";
}

.icon_plus:before {
    content: "\e602";
}

.icon_play:before {
    content: "\e609";
}

.icon_arrow-right:before {
    content: "\e606";
}

.icon_arrow-left:before {
    content: "\e607";
}

.icon_zoomin:before {
    content: "\e603";
}

.icon_zoomout:before {
    content: "\e605";
}
.icon_messages:before {
    content: "\e618";
}
.icon_warning:before {
    content: "\e61d";
}
.icon_filter:before {
    content: "\e61e";
}




@font-face {
    font-family: 'dealsumm';
    src:url('fonts/dealsumm.eot?dtf9gw');
    src:url('fonts/dealsumm.eot?#iefixdtf9gw') format('embedded-opentype'),
    url('fonts/dealsumm.woff?dtf9gw') format('woff'),
    url('fonts/dealsumm.ttf?dtf9gw') format('truetype'),
    url('fonts/dealsumm.svg?dtf9gw#dealsumm') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'dealsumm';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-restore:before {
    content: "\e2c7";
}
.icon-youtube_searched_for:before {
    content: "\e30c";
}
.icon-arrow-right:before {
    content: "\e619";
}
.icon-arrow-down:before {
    content: "\e61b";
}
.icon-arrow-left:before {
    content: "\e61a";
}
.icon-arrow-up:before {
    content: "\e61c";
}
.icon-move-left-right:before {
    content: "\e623";
}
.icon-move-up-down:before {
    content: "\e61f";
}
.icon-arrows-up-down:before {
    content: "\e620";
}
.icon-primary:before {
    content: "\e622";
}
.icon-add-to-list:before {
    content: "\e625";
}
.icon-upload:before {
    content: "\e639";
}
.icon-forward:before {
    content: "\e60b";
}
.icon-file:before {
    content: "\e609";
}
.icon-redo:before {
    content: "\e60a";
}
.icon-search:before {
    content: "\e603";
}
.icon-undo:before {
    content: "\e608";
}
.icon-checkmark:before {
    content: "\e600";
}
.icon-reply:before {
    content: "\e60c";
}
.icon-cancel-circle:before {
    content: "\e605";
}
.icon-remove:before {
    content: "\e60d";
}
.icon-checkmark-circle:before {
    content: "\e604";
}
.icon-close:before {
    content: "\e601";
}
.icon-checkmark2:before {
    content: "\e602";
}
.icon-plus:before {
    content: "\e606";
}
.icon-minus:before {
    content: "\e607";
}
.icon-newtab:before {
    content: "\e60e";
}
.icon-unmarkall:before {
    content: "\e60f";
}
.icon-file2:before {
    content: "\e62b";
}
.icon-markall:before {
    content: "\e610";
}
.icon-tag:before {
    content: "\e611";
}
.icon-eye-blocked:before {
    content: "\e613";
}
.icon-eye:before {
    content: "\e612";
}
.icon-arrow-left2:before {
    content: "\e615";
}
.icon-arrow-right2:before {
    content: "\e614";
}
.icon-spinner:before {
    content: "\e616";
}
.icon-loop:before {
    content: "\e617";
}
.icon-pencil:before {
    content: "\e618";
}
.icon-lock:before {
    content: "\e61d";
}
.icon-unlocked:before {
    content: "\e61e";
}
.icon-key:before {
    content: "\e621";
}
.icon-file22:before {
    content: "\e626";
}
.icon-folder-open:before {
    content: "\e627";
}
.icon-calendar:before {
    content: "\e624";
}
.icon-disk:before {
    content: "\e628";
}
.icon-file-excel:before {
    content: "\e629";
}
.icon-folder:before {
    content: "\e62a";
}
.icon-clock:before {
    content: "\e62c";
}
.icon-grid-alt:before {
    content: "\e62d";
}
.icon-menu:before {
    content: "\e62e";
}
.icon-copy:before {
    content: "\e62f";
}
.icon-paste:before {
    content: "\e630";
}
.icon-expand:before {
    content: "\e631";
}
.icon-contract:before {
    content: "\e632";
}
.icon-expand2:before {
    content: "\e633";
}
.icon-contract2:before {
    content: "\e634";
}
.icon-checkbox-unchecked:before {
    content: "\e635";
}
.icon-tag2:before {
    content: "\e636";
}
.icon-tags:before {
    content: "\e637";
}
.icon-history:before {
    content: "\e638";
}

$textColor: #53626e !default;


// Links
// -------------------------
$linkColor:             $grayDarkLink !default;
$linkColorHover:        lighten($grayDarkLink, 10%) !default;

$sansFontFamily: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$arialFontFamily: Arial, sans-serif !default;
$serifFontFamily: Georgia, "Times New Roman", Times, serif !default;
$monoFontFamily: Menlo, Monaco, Consolas, "Courier New", monospace !default;

// Base
$baseFontSize: 13px !default;
//$baseFontFamily: Arial, sans-serif !default;
$baseFontFamily: 'Open Sans', sans-serif !default;
$secondFontFamily: 'Montserrat', sans-serif !default;
$baseLineHeight: 1.5 !default;

// Headings
$headingsFontFamily:    inherit !default; // empty to use BS default, $baseFontFamily
$headingsFontWeight:    bold !default;    // instead of browser default, bold
$headingsColor:         inherit !default; // empty to use BS default, $textColor

// Spacing
$TypeBaseSpacing : 10px;

// Body text
// -------------------------

p {
	margin: 0 0 1em;
	&:last-child {
		margin-bottom: 0;
	}
}

.lead {
	margin-bottom: $baseLineHeight;
	font-size: $baseFontSize * 1.5;;
	font-weight: 200;
	line-height: $baseLineHeight * 1.5;
}


// Emphasis & misc
// -------------------------

// Ex: 14px base font * 85% = about 12px
small   { font-size: 85%; }

strong, .strong  { font-weight: bold; }
.italic      { font-style: italic; }

.text-rev { text-align: htmlDirection-rev(); }
.text-center { text-align: center; }
.text-lineHeightNormal { line-height: 1; }

.text-orange { color: $orange; }

.text-underline { text-decoration: underline; }

.text-overflow {
    overflow: hidden;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

// Text Color
// -------------------------
$warningText: #de4e53 !default;
$warningBackground: #fcf8e3 !default;
$warningBorder: darken(adjust-hue($warningBackground, -10), 3%) !default;

$errorText: $red !default;
$errorBackground: #ffe5e5 !default;
$errorBorder: darken($errorBackground, 3%) !default;

$successText: #1B371B !default;
$successBackground: #e8f9e2 !default;
$successBorder: darken(adjust-hue($successBackground, -10), 5%) !default;

$infoText: $turquoise !default;
$infoBackground: #dbf2fd !default;
$infoBorder: darken(adjust-hue($infoBackground, -10), 7%) !default;

// Utility classes
.muted               { color: $grayDark; }
a.muted:hover        { color: darken($grayDark, 10%); }

.text-warning        { color: $warningText; }
a.text-warning:hover { color: darken($warningText, 10%); }

.text-error          { color: $errorText !important; }
a.text-error:hover   { color: darken($errorText, 10%); }

.text-info           { color: $infoText; }
a.text-info:hover    { color: darken($infoText, 10%); }

.text-success        { color: $successText; }
a.text-success:hover { color: darken($successText, 10%); }

a{text-decoration: none;color:$linkColor;}
a:hover{color:$linkColorHover;}

// Headings
// -------------------------

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 0.4em;
	font-family: $headingsFontFamily;
	font-weight: $headingsFontWeight;
	line-height: $baseLineHeight;
	color: $headingsColor;
	text-rendering: optimizelegibility;


	small {
		font-weight: normal;
		line-height: 1;
		color: $grayDark;
	}
}

h1, .fs1 { font-size: 38px; }
h2, .fs2 { font-size: 32px; }
h3, .fs3 { font-size: 26px; }
h4, .fs4 { font-size: 18px; }
h5, .fs5 { font-size: 16px; }
h5, .fs6 { font-size: 14px; }
h6, .fs7 { font-size: 12px; }
.fs8 { font-size: 10px; }
.fs9 { font-size: 18px; }
.fs10 { font-size: 15px; }
.fs11 { font-size: 11px; }

h1 small { font-size: 24px; }
h2 small { font-size: 18px; }



// Lists
// --------------------------------------------------

// Unordered and Ordered lists
ul, ol {
	padding: 0;
	margin: 0;
	list-style: none;
}

ol.styled { list-style: decimal; }

ul.styled, ol.styled {
	list-style: disc;
	margin-left: 15px;
	padding-left: 20px;
}


// MISC
// ----

// Horizontal rules
hr {
	width: 100%;
	margin: 1.1em 0;
	border: 0;
	border-top: 1px solid #c3c3c3;
	border-bottom: 1px solid $white;
}

// Blockquotes
blockquote {
	padding: 0 0 0 15px;
	margin: 0 0 $baseLineHeight;
	border-left: 5px solid $grayLight;
	p {
		margin-bottom: 0;
		@include font-shorthand(16px, 300, $baseLineHeight * 1.25);
	}
	small {
		display: block;
		line-height: $baseLineHeight;
		color: $grayDark;
		&:before {
			content: '\2014 \00A0';
		}
	}

	// Float right with text-align: right
	&.pull-right {
		float: right;
		padding-right: 15px;
		padding-left: 0;
		border-right: 5px solid $grayLight;
		border-left: 0;
		p, small {
			text-align: right;
		}
		small {
			&:before {
				content: '';
			}
			&:after {
				content: '\00A0 \2014';
			}
		}
	}
}


