//
// Utility classes
// --------------------------------------------------


// Quick floats
.float-inline { float: #{htmlDirection()}; }
.float-rev { float: #{htmlDirection-rev()}; }

// Display type
.display-inline { display: inline-block; }
// Display type
.vAlign-baseline { vertical-align: baseline; }
.vAlign-middle { vertical-align: middle; }

// Toggling content
.hide { display: none !important; }
.show { display: block !important; }

.invisible { visibility: hidden; }
.pointer {   cursor: pointer; }
.fixed {     position: fixed; }
.stretch {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

// Clearing floats
.clearfix { @include clearfix(); }

// Accessible yet invisible text
.hide-text { @include hide-text(); }

// Uses box-sizing mixin, so must be defined here
.input-block-level { @include input-block-level(); }


// Table centering
.cc { display: table; margin: 0px auto; height: 100%; }
.ccc { display: table-cell; vertical-align: middle; }

// CSS Pseudo selector hack centering
._center {
	height: 100%;
	text-align: center;
	&:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	}
	._center-content {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		margin: 0 auto;
		text-align: left;
	}
}


//
// Responsive: Utility classes
// --------------------------------------------------

// Visibility utilities

.visuallyhidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}

// For desktops
	.visible-phone     { display: none !important; }
	.visible-tablet    { display: none !important; }

	.visible-desktop   { } // Don't set initially
	.hidden-phone      { }
	.hidden-tablet     { }
	.hidden-desktop    { display: none !important; }

// Tablets & small desktops only
@media (min-width: 768px) and (max-width: 979px) {
	// Hide everything else
	.hidden-desktop    { display: inherit !important; }
	.visible-desktop   { display: none !important ; }
	// Show
	.visible-tablet    { display: inherit !important; }
	// Hide
	.hidden-tablet     { display: none !important; }
}

// Phones only
@media (max-width: 767px) {
	// Hide everything else
	.hidden-desktop    { display: inherit !important; }
	.visible-desktop   { display: none !important; }
	// Show
	.visible-phone     { display: inherit !important; } // Use inherit to restore previous behavior
	// Hide
	.hidden-phone      { display: none !important; }
}

// Images
.img-inline {
	float: #{htmlDirection()};
	margin-bottom: $TypeBaseSpacing;
	margin-#{htmlDirection-rev()}: $TypeBaseSpacing;
}
.img-rev {
	float: #{htmlDirection-rev()};
	margin-#{htmlDirection()}: $TypeBaseSpacing;
	margin-bottom: $TypeBaseSpacing;
}
.img-center {
	display:block;
	margin-right:auto;
	margin-bottom: $TypeBaseSpacing;
	margin-left:auto;
}

//
// Misc
// --------------------------------------------------


// Table magic
.table {
	display: table;
	width: 100%;
	.tr {
		display: table-row;
		> div, a.td {
			display: table-cell;
		}
	}
}

// Sticky footer
@mixin sticky-footer($footer-height, $root-selector: unquote("#main-content"), $footer-selector: unquote(".footer")) {
	#{$root-selector} {
		clear: both;
		min-height: 100%;
		height: auto !important;
		height: 100%;
		margin-bottom: -$footer-height - 20px;
		&:after {
			content: " ";
			display: block;
			height: $footer-height + 20px;

		}
	}
	#{$footer-selector} {
		clear: both;
		position: relative;
		height: $footer-height;
	}
}


