<div class="rcm-modal">
	<div ng-if="!params.inProgress">
		Are you sure you want to delete the {{params.rel}}:<br/>
		<strong>{{params.elt.name}}</strong>?
    </div>
	<div ng-if="params.inProgress" class="small-loading"></div>
</div>

