<div class='search-modal'>
    <ng-form name="searchForm" novalidate ng-submit="clickedSearch()">
        <div>Search in {{nodeType}} ({{nodeId}}) for:</div>
        <input type='text' ng-model='searchPhrase' placeholder="Search Phrase" ng-enter="clickedSearch()" class='Form__field' id='searchPhrase'/>

        <a ng-click="toggleAdvanced=!toggleAdvanced" class="show-advanced">
            <span ng-class="{'icon-plus': !toggleAdvanced, 'icon-minus': toggleAdvanced}"></span>Advanced Search
        </a>
        <div ng-show="toggleAdvanced" class="advanced">
            <div>Search title phrase:</div>
            <input type='text' ng-model='searchPhraseTitle' placeholder="Title" class='Form__field'/>
            <hr/>
            <div class="advanced-search-add">
                <button class="Btn Btn__small Btn__action" ng-click="addLine()" ng-disabled="newConstraints.length>0 && !newConstraints[newConstraints.length-1].value">Add new line</button>
            </div>
            <hr ng-show="newConstraints.length>0"/>
            <ul class="advanced-search-list" ng-init="constraints=[]">
                <li ng-repeat="line in newConstraints track by $index" class="new-lines">
                    <div>
                        <select ng-model="newConstraints[$index]"
                                ng-change="newConstraints[$index].op=''"
                                ng-options="(obj) as obj.line_name for obj in advancedSearchData.lines">
                            <option value="">Please select</option>
                        </select>
                    </div>
                    <div>
                        <select ng-if="newConstraints[$index].line_type"
                                ng-model="newConstraints[$index].op"
                                ng-init="newConstraints[$index].op=''"
                                ng-options="obj.sym as obj.print for obj in advancedSearchData.operands[newConstraints[$index].line_type]">
                            <option value="">Please select</option>
                        </select>
                    </div>
                    <div>
                        <div ng-if="newConstraints[$index].op">
                            <input type='text'
                                   ng-if="newConstraints[$index].line_type!='date'"
                                   ng-model='newConstraints[$index].value'
                                   ng-init="newConstraints[$index].value=''"
                                   class='Form__field'
                                   maxlength="30"/>
                            <quick-datepicker
                                    ng-if="newConstraints[$index].line_type=='date'"
                                    ng-init="newConstraints[$index].value=today"
                                    ng-model='newConstraints[$index].value'
                                    ng-class="{'has-value':newConstraints[$index].value}"
                                    class='Form__field'></quick-datepicker>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </ng-form>
</div>
