<div class="templates_modal" style="min-height:250px;">
    <div class="sub-header">
        <span ng-show="inherit">Inherited from {{}} <em>{{displayName}}</em></span>
        <span>TST: <em class="current-tst">{{current_tst}}</em>
            <i class="icon-remove"
               ng-show="!inherit"
               ng-click="unAssignTST()"
               title="Click to un-assign this TST"></i>
        </span>
    </div>

    <ul class="templates_list" ng-class="{'server-working':server_working}">
        <li ng-repeat="tst_item in tst_list">
            <div ng-class="{'active': current_id==tst_item.tst_id}" ng-click="assignNewTST(tst_item.tst_id)" title="{{current_id!=tst_item.tst_id?'Click to assign this TST':''}}">
                <span class="icon-checkmark"></span>
                {{tst_item.tst_name}} | {{tst_item.tst_id}}
            </div>
        </li>
    </ul>

</div>
