<div class="colors-legend">
	<span class="reviewed">Reviewed</span>
	<span class="questionable">Questionable</span>
	<span class="missing">Missing</span>
	<span class="not-reviewed">Not reviewed yet</span>
</div>