<div class="page-title-wrap">
	<div class="container clearfix">
		<div class="full-width-title">
			Report for {{projectName}}
		</div>
	</div>
</div>
<div class="content-wrapper">
	<div class="split-container Flexbox Flexbox__direction-rows">
		<div class="Flexbox__flex-1 height-all report">
			<div class="Flexbox Flexbox__direction-rows height-all position-relative" ng-if="reportList">
				<div class="Flexbox__flex-1 position-relative">
					<div class="table-wrapper" ng-init="initTable()">
						<table class="report-table">
							<thead>
								<tr class="report-header">
									<th ng-repeat="head_cell in reportTableHeaders"
										ng-click="sortReportTable(head_cell)">{{head_cell.label}}
										<div class="sortable" ng-if="head_cell.sortable">
											<span class="icon_sort-up" ng-class="{'active':sortBy.ref==head_cell.ref && !sortBy.sortAscent}"></span>
											<span class="icon_sort-down" ng-class="{'active':sortBy.ref==head_cell.ref && sortBy.sortAscent}"></span>
										</div>
									</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="reportRow in reportList | orderBy:sortBy.ref:!sortBy.sortAscent">
									<td title="{{cell.showTitle?reportRow[cell.ref]:''}}"
										ng-class="cell.conditionalClass?setCellClass(reportRow[cell.ref], cell):''"
										ng-repeat="cell in reportTableHeaders">
										{{(reportRow[cell.ref] || "&nbsp;" )| formats: cell.format}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>