<div class="content-header-wrap">
    <div class="content-header-inner-wrap">
        <div class="Flexbox Flexbox__just-space-around content-header">
            <div class="Flex__inline content-header-left">
                <h1>Folders</h1>
                <div class="search-box">
                    Search: <input type="text" class="Form__field" value=""/><div class="search-btn"><span class="icon-search"></span></div>
                    <label class="Form__control-label">
                        <input class="Form__control" id="hideInactive" type="checkbox">
                        <div class="icon-checkmark"></div>
                        <span class="label-text">Hide inactive deals</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="bottom-line"><div></div></div>
        <div class="Flex top-action-buttons">
            <div class="Flex__inline actions-buttons">
                <a href="#" class="share">Share</a>
                <a href="#" class="print">Print</a>
                <a href="#" class="compare">Compare</a>
            </div>
            <div class="Flex__rev treeView-buttons" ng-click="listViewMode=!listViewMode">
                <span ng-class="{'active':!listViewMode}"></span>
                <span ng-class="{'active':listViewMode}"></span>
            </div>
        </div>
        <div id="tree-header-placeholder" class="tree-header-placeholder"></div> <!-- do not remove this -->
    </div>
</div>
<!--<div class="right-accordion-wrap right-accordion-normal">
    <div class="right-accordion-inner-wrap">
        <div ng-include="WHAT_CAN_YOU_DO" class="Flexbox"></div>
    </div>
</div>-->
<div class="content-inner content-inner-tree">
    <div class="main-loading" ng-show="!treedata"></div>
    <treecontrol ng-if="treedata"
                 class="tree-control"
                 tree-model="treedata.tree"
                 options="treeOptions"
                 on-selection="clickOnDocument(node)"
                 on-loading="loadNode(node)"
                 metadata-width="450"
                 metadata="treedata.metadata">
            <div title="{{node.label}}-{{node.id}}" ng-click="selectNodeLabel(node)" rel="{{node.rel}}" ng-drop ng-file-over="ng-file-over" id="{{node.id}}">{{node.label}}</div>
            <div>
                <span ng-repeat="obj in metadata" style="width:{{(metadataWidth*(metadata[$index].width)/100)}}px;">
                    <a ng-href="{{node.metadata[obj.value].view?$stateParams.orgId ? $state.href('app.'+node.metadata[obj.value].view+'View', {'doc': fix_id(node.id)}): $state.href('app.adminView'):''}}" title="{{node.metadata[obj.value]['display']}}">{{node.metadata[obj.value]['display']}}</a>
                    <a ng-if="node.metadata[obj.value]['type']"
                       class="doc-type {{node.metadata[obj.value]['type']}}"
                       ng-class="{'no-text': !node.metadata[obj.value]['display']}"
                       title="{{node.metadata[obj.value].view}}"
                       ng-href="{{$stateParams.orgId ? $state.href('app.'+node.metadata[obj.value].view+'View', {'doc': fix_id(node.id)}): $state.href('app.adminView')}}">
                    </a>
                    <span ng-if="node.metadata[obj.value]['icon']" class="{{node.metadata[obj.value]['icon']}}"></span>
                </span>
            </div>
    </treecontrol>
    <div ng-show="treedata">
        <br/><br/>
        <div ng-drop class="my-drop-zone" ng-file-over="ng-file-over" id="O_{{$stateParams.orgId}}">drop Area</div>
    </div>
</div>
<div id="RCMenu">
    <ul class="context-menu">
        <li ng-repeat="item in rightMenuItems" ng-if="(angular.isDefined(item.condition)?item.condition:true)">
            <a ng-click="clickItem(item.callback, item.vars)" rel="{{item.action}}">{{item.label}}<span ng-if="item.rightIcon" class="{{item.rightIcon}}"></span></a>
        </li>
    </ul>
    <form name="form" class="rename-dialog" novalidate>
        <div class="title">{{nameDialogTitle}}</div>
        <div class="Flex__fluid" style="width:200px;">
            <input type="text" value="Untitled" ng-model="newName" required="true" class="Form__field" name="newName" id="newName"/>
        </div>
        <div class="Flex__fluid buttons-wrap">
            <button class="" ng-click="dialogSave(saveDialogCallback);" ng-disabled="!form.$valid"><span class="icon-checkmark-circle"></span></button>
            <button class="cancel" ng-click="dialogCancel();"><span class="icon-cancel-circle"></span></button>
        </div>
    </form>
    <div class="confirm-dialog">
        <div class="title">{{confirmDialogTitle}}<br/><br/></div>
        <div class="Flex__fluid buttons-wrap">
            <button class="delete" ng-click="dialogSave(deleteDialogCallback);"><span class="icon-checkmark-circle"></span></button>
            <button class="cancel" ng-click="dialogCancel();"><span class="icon-cancel-circle"></span></button>
        </div>
    </div>
</div>
