    <div class="Flex upload-modal"  style="width:400px;height:250px;overflow-y: auto;">
        Processing file:<br/>
        <ul>
            <li ng-repeat="file in filesList"
                ng-class="{'active':file.name==currentFile}"
                title="{{file.name}}">
                    <span ng-class="{'icon-file2':file.type=='file', 'icon-folder-open':file.type=='folder'}"></span>
                    {{file.name}}
            </li>
        </ul>
    </div>

