// IE compatibility
// ----------------
$ie8: true;
$ie9: true;

// Site direction
// -----------------
$htmlDirection: ltr !default;

// Mouse Selection
/// -----------------
$selectionColor: #ecf7ff !default;
$selectionBackgroundColor: #0072a3 !default;

// UI - Color pallet
// -------------------------
$navigation: #4f6298 !default;
$wideBackground: #689bcc !default;
$green: #aec147 !default;
$grayDarkLink: #313f46 !default;
$blue: #0079b3 !default;
$blueDisabled: #B2D7E8 !default;
$turquoise: #1a9cf9 !default;
$turquoiseDisabled: #9ad5ff !default;
$red: #b00303 !default;
$container: #f5f5f5 !default;
$rightContent: #ebebeb !default;
$tableHeaderColor: #3998dc !default;
$tableHeaderBackground: #e9f4fb !default;


$white: #ffffff !default;
$orange: #ffa12d !default;
$black: #292f34 !default;
$background: #f7f7f7 !default;
$blueSmoke: #53626e !default;
$blueDark: #2f3647 !default;
$navDark: #3c4348 !default;
$gray: #d6dbe1 !default;
$grayDark: #9f9f9f !default;
$grayLight: #a6abaf !default;

// COMPONENT VARIABLES
// --------------------------------------------------

// Z-index master list
// -------------------------
// Used for a bird's eye view of components dependent on the z-axis
// Try to avoid customizing these :)
$zindexContentHeaderWrap: 150;
$zindexMainContent: 222;
$zindexRightAccordionWrap: 350;
$zindexStaticFooter: 380;
$zindexBottomDrawer: 400;
$zindexMainNavigation: 1000;
$zindexContextMenu: 1050;

$bottomDrawerDefaultHeight: 30%;


// Input placeholder text color
// -------------------------
$placeholderText: $grayDark !default;

// Hr border color
// -------------------------
$hrBorder: $gray !default;

// breakpoints defined in settings
// http://12devs.co.uk/articles/handy-advanced-sass/
$break-small:   1280px !default;
$break-medium:  1280px !default;
$break-large:   1366px !default;
$break-x-large: 1680px !default;
$scrollFactor: 0 !default;

@mixin breakpoint($type, $fallback:false, $parent:true) {
    @if $type == small {
        @media (max-width: $break-medium) {
            @content;
        }
    }
    @if $type == medium {
        @media (min-width: $break-medium + 1) and (max-width: $break-large) {
            @content;
        }
    }
    @if $type == large {
        @media (min-width: $break-large + 1) and (max-width: $break-x-large + 19) {
            @content;
        }
    }
    @if $type == x-large {
        @media (min-width: $break-x-large + 20) {
            @content;
        }
    }
    @if $fallback {
        @if $parent {
            .#{$fallback} & {
                @content;
            }
        } @else {
            .#{$fallback} {
                @content;
            }
        }
    }
}

$accordionNormalWidth: 220px;
$accordionWideWidth: 400px;
$mainPadding: 18px;

// COMPONENT VARIABLES
// --------------------------------------------------

// Core
@import "strings/core/_mixins";
@import "strings/core/_reset";

// generic
@import "strings/generic/_responsive";
@import "strings/generic/_typography";
@import "strings/generic/_utilities";
@import "strings/generic/_layout";
@import "strings/generic/_flexbox";
@import "strings/generic/_forms";
@import "strings/generic/_tooltip";

// Modules
@import "strings/components/_separators";
@import "strings/components/_popover";
@import "strings/components/_animations";
@import "strings/components/_buttons";
@import "strings/components/_tree-control";
@import "strings/components/_calendar";
@import "strings/components/_switch";
@import "strings/components/_color-palette";

// Vendor
@import "vendor/_animations-vendor";
@import "vendor/_bootstrap-popover";
@import "vendor/_modal";
@import "vendor/_datepicker";

$textColor: #555;

html {
    height: 100%;
}
body {
    margin: 0;
    font-family: $baseFontFamily;
    font-size: $baseFontSize;
    line-height: $baseLineHeight;
    color: $textColor;
    background-color: $background;
    height: 100%;
    overflow-y: auto;
}
input, button{
    outline: none;
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    padding: 0 2px;
}

::-webkit-scrollbar-track {
    padding: 10px;

}

::-webkit-scrollbar-thumb {
    background-color: rgba(146, 146, 146, 0.80);
    //border-radius: 10px;
    &:hover {
        background-color: rgba(82, 82, 82, 0.80);
    }

}
.container {
    margin: 0 auto;
    padding: 0 15px;
    @include breakpoint(small) {
        min-width: $break-small -$scrollFactor;
        max-width: $break-small -$scrollFactor;
    }
    @include breakpoint(medium) {
        min-width: $break-medium -$scrollFactor;
        max-width: $break-medium -$scrollFactor;
    }
    @include breakpoint(large) {
        min-width: $break-large -$scrollFactor;
        max-width: $break-large -$scrollFactor;
    }
    @include breakpoint(x-large) {
        min-width: $break-x-large -$scrollFactor;
        max-width: $break-x-large -$scrollFactor;
    }
}


.main-navigation {
    @include translateZ(0);
    text-align: center;
    font-size: 13px;
    height:60px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: $zindexMainNavigation;

    >div{
        height:100%;
        @include gradient-vertical(#6075a4, #6fa1cf);
        @include box-shadow(0px 1px 1px #555);
    }
    .top{
        padding:4px;
        .logo{
            float:left;
            height:24px;
        }
        .user-details{
            float:right;
            color:#ffffff;
            span{
                font-weight: bold;
            }
            a{
                color:#98d9ff;
            }
        }
    }
    .nav {
        position: relative;
        left: 0;
        display: block;
        margin:0;
        list-style: none;
        height:33px;
        li {
            float: left;
            text-align:center;
            height:33px;
            > a {
                float:left;
                line-height:30px;
                height:32px;
                padding: 0 15px;
                color: #ffffff;
                text-decoration: none;
                text-shadow: 0 1px 0 #000;
                display: inline-block;
                cursor: pointer;
            }
            &:before{
                float:left;
                width:0;
                height:33px;
                overflow: hidden;
                content: "";
                display: inline-block;
            }
            &:after{
                float:left;
                width:5;
                height:33px;
                overflow: hidden;
                color:#6bd7ff;
                content: "|";
                line-height:24px;
                padding-top:2px;
                display: inline-block;
            }
            &.active{
                > a {
                    color: #777777;
                    padding: 0 5px;
                    text-shadow: 0 1px 0 #fff;
                    font-weight: bold;
                    background:transparent url('img/top_nav.png') repeat-x left -34px;
                }
                &:before{
                    float:left;
                    width:32px;
                    height:33px;
                    overflow: hidden;
                    content: "";
                    display: inline-block;
                    background:transparent url('img/top_nav.png') no-repeat left 0;
                }
                &:after{
                    float:left;
                    width:32px;
                    height:33px;
                    overflow: hidden;
                    content: "";
                    display: inline-block;
                    background:transparent url('img/top_nav.png') no-repeat left -68px;
                }
            }
            &.isPrev{
                &:after{
                    display: none;
                }
            }
            &:last-of-type:after, &.before:after{
                content: "" !important;
            }
        }
    }
}
.main-content {
    //position: relative; // we might need it but it can harm the RCM position
    padding: 65px 15px 0 15px;
    margin-left:auto;
    margin-right:auto;
    z-index:$zindexMainContent;
    background-color: $container;
    @include breakpoint(small) {
        min-width: $break-small -$scrollFactor;
        max-width: $break-small -$scrollFactor;
    }
    @include breakpoint(medium) {
        min-width: $break-medium -$scrollFactor;
        max-width: $break-medium -$scrollFactor;
    }
    @include breakpoint(large) {
        min-width: $break-large -$scrollFactor;
        max-width: $break-large -$scrollFactor;
    }
    @include breakpoint(x-large) {
        min-width: $break-x-large -$scrollFactor;
        max-width: $break-x-large -$scrollFactor;
    }
}

.content-border{
    //position: relative;
    margin-top:20px;
    padding:0 $mainPadding;
    border:1px solid #d6e0a3;
    background-color: $white;
    @include border-radius(3px);
}
$labelControllerWidth: 100px;
$labelBarWidth: 20px;
$labelHandlerWidth: 90px;
$labelHandlerHeight: 10px;
$labelMarkerColor: #007bff;
.labeling-actions{
    position: absolute;
    left:0;
    bottom:3px;
    right:0;
    .selected-text{
        display: block;
        padding-left:25px;
        cursor: default;
        font-size:12px;
    }
    .buttons{
        padding-left:25px;
        >span{
            display: inline-block;
            line-height: 24px;
            cursor: default;
            color:rgba($blue, 0.4);
            [class*='icon-']{
                cursor: default;
                color:rgba(darkred, 0.4);
                vertical-align:bottom;
            }
            .icon-checkmark-circle{
                color:rgba(darkgreen, 0.4);
            }
        }
        >span > a{
            display: inline-block;
            line-height: 24px;
            cursor: pointer;
            color:$blue;
            [class*='icon-']{
                color:darkred;
                vertical-align:bottom;
            }
            .icon-checkmark-circle{
                color:darkgreen;
            }
        }

    }
}
.labeling-top-nav{
    border-bottom: 1px solid #d8d8d8;
    position: relative;
    height:50px;
    //@include transition(height 0.4s ease);
    .item-title{
        display: block;
        cursor: default;
        color:$blue;
        font-size: 14px;
        font-weight: bold;
        padding-right:10px;
        @include text-overflow();
    }
    [class*='icon-']{
        display: inline-block;
        font-size:14px;
        cursor: pointer;
        line-height: 1.7;
    }
    .selected-text{
        padding-left:20px;
    }
    .buttons{
        padding-left:20px;
    }
    &.labeling-mode{
        height:95px;
    }
    .assign-category-go{
        display: inline-block;
    }
    .search-doc{
        position: absolute;
        right:0;
        top:0;
        height:30px;
        span, button{
            position:absolute;
            right:-20px;
            top:0;
            line-height: 26px;
            display: block;
            color:$blue;
            border:none;
            background-color: transparent;
            padding:0;
            @include opacity(0);
            @include transition(right .4s ease, opacity .4s ease);
            &.btn-active, &.search-active{
                right:5px;
                @include opacity(1);
                &.icon-close{
                    right:284px;
                }
                &.icon-arrow-left{
                    right:25px;
                }
                &.icon-arrow-right{
                    right:5px;
                }
                &:disabled{
                    cursor: default;
                    @include opacity(0.4);
                }
            }

        }
        input[type="text"]{
            @include border-radius(5px);
            position:absolute;
            right:75px;
            top:0;
            width: 0;
            @include opacity(0);
            @include transition(opacity .4s ease, width .4s ease);
            //margin-right:65px;
            &.search-active{
                @include opacity(1);
                width: 200px;
            }
        }
        .search-doc-info{
            position: absolute;
            right:48px;
            top:0;
            line-height: 26px;
            font-size:10px;
        }
    }
}
.categories-color-picker, .search-templates-picker{
    margin-left: 20px;
    position: relative;
    display: inline-block;
    z-index:3333;
    width:160px;
    >span{
        display: block;
        padding:1px 4px;
        text-align: left;
        border:1px solid darkgray;
        @include border-radius(3px);
        cursor: pointer;
        span{
            display: block;
            padding:0 2px;
        }
    }
    ul{
        position: absolute;
        top:100%;
        left:0;
        right:0;
        max-height: 300px;
        overflow-y: auto;
        border:1px solid darkgray;
        background-color: #fff;
        li{
            width:100%;
            display: block;
            padding:1px 4px;
            >span{
                display: block;
                text-align: left;
                position: relative;
                label{
                    display: block;
                    width:100%;
                    padding:2px 22px 2px 5px;
                    cursor: pointer;
                    line-height: 20px;
                }
                input{
                    width:100%;
                    padding:2px 5px;
                    border: 1px solid transparent;
                    background-color: transparent;
                    cursor: pointer;
                    &:focus{
                        border-color: darkgray;
                    }
                }
                .icon-pencil, .icon-checkmark-circle{
                    cursor: pointer;
                    position:absolute;
                    right:4px;
                    top:0;
                    line-height: 24px;
                }
                .icon-pencil{
                    display: none;
                }
                .icon-checkmark-circle{
                    color:$turquoise;
                }
                &.new-cat{
                    input{
                        cursor:text;
                    }
                }
                &:hover{
                    .icon-pencil{
                        display: block;
                    }
                }
            }
        };
    }
}
.save-search{
    input{
        vertical-align: top;
        width: 120px;
        line-height:18px;
        height:20px;
    }
    .buttons{
        padding-left:10px;
        display: inline-block;
        .assign-category-go{
            display: inline-block;
            color:$blue;
            cursor: pointer;
        }
    }
}

.content-inner{
    padding-bottom:30px;
    padding-top:135px;
    &.doc-partial{
        position: absolute;
        top:50px;
        left:0;
        right:0;
        bottom:5px;
        padding:0 2px 5px 0;
        margin:0;
        overflow-y: scroll;
        //@include transition(top 0.4s ease);
        .doc-holder{
            position:relative;
            z-index: 100;
            padding:0;
            //@include transition(padding-left 0.4s ease);
        }
        .label-control{
            position: absolute;
            z-index: 170;
            top:0;
            left:0;
            width:0;
            border-right:1px solid transparent;
            //@include transition(width 0.4s ease, border-color 0.4s ease);
        }
        &.labeling-mode{
            top:95px;
            ::selection {
                color:#555;
                background: #f7f7f7;//#a8d1ff;
            }
            ::-moz-selection {
                color:#555;
                background: #f7f7f7;//#a8d1ff;
            }
            .doc-holder{
                padding-left:$labelControllerWidth;
            }
            .label-control{
                border-right-color: #d4d4d4;
                width:$labelControllerWidth;
            }
        }
    }
}
.admin-page-list{
    width:100%;
    padding:100px 10px 30px 0;
    .company-list-wrapper{
        max-height: 400px;
        overflow-y: auto;
        ul{
            width:100%;
            border-top:1px solid #ccc;
            li{
                border-bottom:1px solid #ccc;
                display: block;
                &:hover{
                    background-color: #f7f7f7;
                }
                a{
                    display:block;
                    font-size: 14px;
                    padding:6px 10px;
                    >div{
                        width:70px;
                        @include text-overflow();
                        display: inline-block;
                    }
                }
                >div{
                    &.config-label{
                        font-size: 14px;
                        display: inline-block;
                        line-height:22px;
                        vertical-align:top;
                        width:200px;
                        padding:8px 10px;
                        text-transform: capitalize;
                    }
                    &.toggle-bg{
                        margin-top:6px;
                    }
                }
            }
        }
    }
}
.label-control{
    .paragraph-dashed-marker{
        position:absolute;
        left: $labelControllerWidth - $labelHandlerWidth - $labelHandlerHeight;
        top:-5000px;
        border-left-style: solid;
        border-left-width:2px;
        //border-left:2px dashed $labelMarkerColor;
        z-index:10;
        &.category__border_{
            border-left-color: $labelMarkerColor;
        }
        .right-dash{
            position:absolute;
            top:-5000px;
            border-right-style: solid;
            border-right-width:2px;
            z-index:10;
            &.category__border_{
                border-right-color: $labelMarkerColor;
            }
        }
        .btn-dismiss{
            display: block;
            position:absolute;
            left:5px;
            top:5px;
            cursor: pointer;
        }
    }
    .limiter, .limiter-marker{
        position:absolute;
        left:0;
        right:0;
        background-color: transparent;//#ffd060;
        z-index: -1;
        &.snap-to{
            background-color: transparent;
            >span{
                position: absolute;
                display: block;
                top:0;
                bottom:0;
                cursor: pointer;
                width:$labelBarWidth;
                border:1px solid #ccc;//transparent;
                &.active{
                    border-color:#444;
                }
                &.border_1{
                    border-bottom:none;
                }
                &.border_2{
                    border-top:none;
                }
                &.border_3{
                    border-top:none;
                    border-bottom:none;
                }
            }
        }
    }
    .paragraph-marker{
        position:absolute;
        left: $labelControllerWidth - $labelHandlerWidth - $labelHandlerHeight;
        top:-5000px;
        height:$labelHandlerHeight;
        cursor: n-resize;
        z-index:30;
        &.first-paragraph-marker{
            margin-top:-1 * $labelHandlerHeight;
            border-bottom:1px solid $labelMarkerColor;
            &:before{
                content: "";
                position:absolute;
                left:0;
                bottom:0;
                height:$labelHandlerHeight;
                width:$labelHandlerWidth;
                background-color: $labelMarkerColor;
            }
            &:after{
                content: "";
                position:absolute;
                left:$labelHandlerWidth;
                bottom:0;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: $labelHandlerHeight 0 0 $labelHandlerHeight;
                border-color: transparent transparent transparent $labelMarkerColor;
            }
        }
        &.last-paragraph-marker{
            border-top:1px solid $labelMarkerColor;
            &:before{
                content: "";
                position:absolute;
                left:0;
                top:0;
                height:$labelHandlerHeight;
                width:$labelHandlerWidth;
                background-color: $labelMarkerColor;
            }
            &:after{
                content: "";
                position:absolute;
                left:$labelHandlerWidth;
                top:0;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: $labelHandlerHeight $labelHandlerHeight 0 0;
                border-color: $labelMarkerColor transparent transparent transparent;
            }
        }
    }
}
.termsheet-doc-content{
    .content-inner{
        &.doc-partial{
            left:20px;
            right:5px;
        }
    }
}
.content-header-wrap{
    position:fixed;
    top:0;
    right:0;
    left:0;
    height:0;
    z-index:$zindexContentHeaderWrap;
    .content-header-inner-wrap{
        position: absolute;
        top:60px;
        left:50%;
        background-color: $background;
        padding:5px 15px 0 15px;
        @include breakpoint(small) {
            width: $break-small -$scrollFactor;
            margin-left:-($break-small -$scrollFactor)/2;
        }
        @include breakpoint(medium) {
            width: $break-medium -$scrollFactor;
            margin-left:-($break-medium -$scrollFactor)/2;
        }
        @include breakpoint(large) {
            width: $break-large;
            margin-left:-($break-large -$scrollFactor)/2;
        }
        @include breakpoint(x-large) {
            width: $break-x-large;
            margin-left:-($break-x-large -$scrollFactor)/2;
        }
    }
}
@-webkit-keyframes paragraphBorderHighlight {
    0%,100% {border-color: #FFFFFF;}
    50% {border-color: red;}
}
@-moz-keyframes paragraphBorderHighlight {
    0%,100% {border-color: #FFFFFF;}
    50% {border-color: red;}
}
@-o-keyframes paragraphBorderHighlight {
    0%,100% {border-color: #FFFFFF;}
    50% {border-color: red;}
}
@keyframes paragraphBorderHighlight {
    0%,100% {border-color: transparent;}
    50% {border-color: red;}
}
.split-container{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 90px 5px 5px 18px;
    >.vertical-resizer{
        position:absolute;
        top:90px;
        bottom:10px;
        width:7px;
        cursor: col-resize;//ew-resize;
        z-index:678;
        background-color: #fefefe;
        border-left:1px solid #d4d4d4;
        border-right:1px solid #d4d4d4;
        >span{
            display: inline-block;
            width:3px;
            height:20px;
            border-left:1px solid #d4d4d4;
            border-right:1px solid #d4d4d4;
            margin:-10px 0 0 1px;
            position:absolute;
            top:50%;
        }
        &:hover, &.dragged{
            background-color: #d4d4d4;
            border-color:#aaaaaa;
            >span{
                border-color:#aaaaaa;
            }
        }
    }
    .split-content{
        overflow-y:auto;
        display:table-cell;
        height:100%;
        width:50%;
        position: relative;
        &:last-child{
            padding-left: 15px;
        }
        .top-action-buttons.doc-partial{
            padding-top:0;
        }
        .static-position-header-left{
            padding:5px 5px 0 10px;
            position:absolute;
            top:0;
            left:0;
            right:10px;
            background-color: #fff;
            z-index: 50;
            border-bottom: 1px solid #d5d5d5;
            &+div{
                width:100%;
                height:99%;
                overflow-y:auto;
                padding-top:35px;
                position:relative;
            }
        }
    }
}

.split-container{
    .search-query-template{
        //@include transition(height 0.4s ease);
        height:30px;
        padding:5px;
        border-bottom: 1px solid #d8d8d8;
        position: relative;
        .paging-search-results{
            position:absolute;
            right:5px;
            top:3px;
            a{
                color:$blue;
                display: inline-block;
                padding:0 1px;
                margin:0 4px;
                cursor: pointer;
                &.disabled{
                    cursor: default;
                    @include opacity(0.4);
                }
            }
        }
    }
    .search-container{
        //@include transition(top 0.4s ease);
        position: absolute;
        top:30px;
        left:0;right:0;bottom:0;
        overflow-y: auto;
        .search-table-wrap{
            >div{
                border-left:1px dashed transparent;
                border-right:1px dashed transparent;
                border-top:1px dashed transparent;
                position: relative;
                &.hovered{
                    border:1px dashed #007bff;
                    @include border-radius(0 5px 5px 0);
                    background: repeating-linear-gradient(
                                    -45deg,
                                    rgba(#007bff, 0.1),
                                    rgba(#007bff, 0.1) 10px,
                                    #fff 10px,
                                    #fff 20px
                    );
                }
                &.isSelected{
                    border:1px dashed #007bff;
                }
            }
            .select-doc{
                display: block;
                @include transition(border 0.4s ease, padding 0.4s ease, height 0.4s ease);
                border-top: 1px solid transparent;
                position: absolute;
                left:-19px;
                top:-2px;
                padding:0 2px;
                height:0;
                overflow: hidden;
            }
            .list{
                border:1px dashed transparent;
                @include border-radius(5px);
                overflow: visible;
                position: relative;
                .select-doc{
                    left:-17px;
                    padding:0 2px;
                }
                .pid{
                    display: block;
                    position: absolute;
                    left:-40px;
                    top:0;
                    padding:0 2px;
                    color:#ccc;
                }
                &.hovered{
                    border-color:#007bff;
                    background: repeating-linear-gradient(
                                    -45deg,
                                    rgba(#007bff, 0.1),
                                    rgba(#007bff, 0.1) 10px,
                                    #fff 10px,
                                    #fff 20px
                    );
                }
                &.isSelected{
                    border:1px dashed #007bff;
                }
            }
        }
    }
    .split-content.search{
        overflow: hidden;
        &.labeling-mode{
            .search-query-template{
                height:95px;
            }
            .search-container{
                top:95px;
                .search-table-wrap{
                    .select-doc{
                        padding:10px 2px 5px 2px;
                        height:34px;
                        border-top-color: #d6dbe1;
                    }
                    .list{
                        .select-doc{
                            padding:5px 2px;
                            border-top-color: transparent;
                        }
                    }
                }
            }
        }
    }
}
.ts_top_buttons{
    min-height: 25px;
    >a, >label{
        margin-right:10px;
        display: inline-block;
    }
    .tst-name{
        display: inline-block;
        position: relative;
        a{
            border:1px solid transparent;
            cursor: default;
            @include border-radius(3px);
            display: inline-block;
            vertical-align: top;
            padding:2px 4px;
            margin-top:-3px;
            color: $turquoise;
            font-weight: bold;
            span[class*="icon-"]{
                display: inline-block;
                color:#000;
                margin:4px 0 0 5px;
                visibility: hidden;
            }
        }
        &.editable{
            a{
                cursor: pointer;
                span[class*="icon-"]{
                    visibility: visible;
                }
                &:hover, &.active{
                    border:1px solid lightgray;
                }
            }
        }
        div{
            position: absolute;
            left:0;
            top:99%;
            z-index: 100;
            border:1px solid lightgray;
            background-color: #fff;
            padding:3px;
            font-size: 12px;
            @include border-radius(3px);
            li{
                padding:2px 3px;
                white-space: nowrap;
                cursor: pointer;
                &:hover{
                    background-color: #e9f4fb;
                }
            }
        }
    }
}

.labels-list-wrap{
    display: inline-block;
    >div{
        display: inline-block;
        position: relative;
        >span{
            display: inline-block;
            padding-left:5px;
            cursor: pointer;
        }
        ul{
            background-color: #fff;
            width:140px;
            @include border-radius(3px);
            padding:5px;
            border:1px solid #ccc;
            position: absolute;
            top:-5px;
            left:-15px;
            li{
                cursor: pointer;
                background-color: #fff;
                span[class*='icon-']{
                    color:$turquoise;
                    @include opacity(0);
                    margin:0 3px;
                    font-size:80%;
                }
                .square{
                    margin:3px 2px 0 0;
                    float:right;
                    width:12px;
                    height:12px;
                }
                &:hover{
                    background-color: #ebebeb;
                }
                &.active{
                    span{
                        @include opacity(1);
                    }
                    /*&:hover{
                        background-color: #fff;
                    }*/
                }
            }
        }
    }
}
.assign-buttons{
    display: inline-block;
    vertical-align: top;
    span{
        line-height: 1.5;
        display: inline-block;
    }
    [class*="icon-"]{
        font-size: 14px;
        cursor: pointer;
        padding:0 5px;
        color:$blue;
        &[disabled],&.disabled{
            cursor: default;
            color:$blueDisabled;
        }
    }
    [data-separator]{
        &:after{
            content:attr(data-separator);
            padding:0 0 0 10px;
        }
    }
}
.object-marker{
    border:2px solid black;
    position: absolute;
    display: none;
    @include border-radius(4px);
    &:before{
        content: attr(data-label);
        text-align: right;
        position:absolute;
        right:100%;
        top:0;
        margin-right:20px;
        width:auto;
        height:auto;
        white-space: nowrap;
        background-color: #000;
        color:#fff;
        padding:0 5px;
        @include border-radius(3px 3px 0 0);
        //@include rotate(-90);
        -webkit-transform-origin: 100% 0%;
        -webkit-transform: rotate(-90deg) translate(0%, 0%);
        -moz-transform-origin: 100% 0%;
        -moz-transform: rotate(-90deg) translate(0%, 0%);
        -ms-transform-origin: 100% 0%;
        -ms-transform: rotate(-90deg) translate(0%, 0%);
        -o-transform-origin: 100% 0%;
        -o-transform: rotate(-90deg) translate(0%, 0%);
        transform-origin: 100% 0%;
        transform: rotate(-90deg) translate(0%, 0%);
    }
}

.position-relative {
    position: relative;
}
.position-absolute {
    position: absolute;
}
.height-all{
    height:100%;
}
.doc-container{
    &.hide-labels{
        p[class*=label__]{
            background-color: transparent;
        }
    }
    .H1 {
        //padding-top: 3px;
        padding-top:10px;
        mark {
            background-color: transparent !important;
        }
        > .H2 {
            padding: 1px 3px;
        }

        p {
            @include border-radius(3px);
            padding: 1px 3px;
            border: 1px solid transparent;
            position: relative;
            &:hover {
                border-color: #0044cc;
            }
            &.current-paragraph {
                -webkit-animation: paragraphBorderHighlight 1s infinite; /* Safari 4+ */
                -moz-animation: paragraphBorderHighlight 1s infinite; /* Fx 5+ */
                -o-animation: paragraphBorderHighlight 1s infinite; /* Opera 12+ */
                animation: paragraphBorderHighlight 1s infinite; /* IE 10+ */
            }
            &.selected-paragraph {
                background-color: yellow;
                border-color: transparent;
                &:hover {
                    border-color: transparent;
                }
            }
            &.border-after-highlight{
                border: 1px solid red;
            }
            &.has-note {
                &:after {
                    content: " ";
                    position: absolute;
                    right: -2px;
                    top: -2px;
                    height: 10px;
                    width: 10px;
                    border-right: 2px solid red;
                    border-top: 2px solid red;
                }
            }
            &.paragraph-marker{
                &:before{
                    content: attr(data-label);
                    font-size: 11px;
                    text-align: right;
                    position:absolute;
                    right:100%;
                    top:0;
                    margin-right:20px;
                    width:auto;
                    height:auto;
                    white-space: nowrap;
                    background-color: #000;
                    color:#fff;
                    padding:0 5px;
                    @include border-radius(3px 3px 0 0);
                    //@include rotate(-90);
                    -webkit-transform-origin: 100% 0%;
                    -webkit-transform: rotate(-90deg) translate(0%, 0%);
                    -moz-transform-origin: 100% 0%;
                    -moz-transform: rotate(-90deg) translate(0%, 0%);
                    -ms-transform-origin: 100% 0%;
                    -ms-transform: rotate(-90deg) translate(0%, 0%);
                    -o-transform-origin: 100% 0%;
                    -o-transform: rotate(-90deg) translate(0%, 0%);
                    transform-origin: 100% 0%;
                    transform: rotate(-90deg) translate(0%, 0%);
                }
            }
        }
        .highlight{
            background-color: lawngreen;
        }
    }
}
.date-picker-wrap{
    position:absolute;
    top:150px;
    .quickdate{
        background-color: #fff;
        .margin-right{
            margin-right:5px;
        }
        .Form__field{
            color: #53626e;
            height: 20px;
            padding: 2px;
            vertical-align: top;
            @include border-radius(2px);
        }
    }
    .quickdate-button{
        color:#555;
        font-size: 12px;
        &:hover{
            color:#555;
        }
    }
}
.assign_class_modal{
    width:450px;
    form{
        input[type=radio]{
            line-height: 24px;
        }
        label{
            line-height: 24px;
            width:160px;
            display: inline-block;
        }
        select{
            width:150px;
        }
    }
}
.search-modal{
    width:500px;
    padding-bottom: 20px;
    min-height:260px;
    .search-phrase-wrapper{
        position: relative;
        input{
            width:100%;
            padding-right:55px;
        }
        >span{
            position: absolute;
            right:0;
            top:0;
            padding:0 5px;
            line-height:24px;
            font-size:20px;
            cursor: pointer;
            &.named-history{
                right:24px;
            }
        }
        .search-history{
            position: absolute;
            left:0;
            right:0;
            top:100%;
            margin-top:-2px;
            background-color: #fff;
            border:1px solid $borderColor;
            @include border-radius(0 0 3px 3px);
            padding:0 3px;
            ul{
                max-height:200px;
                overflow-y: auto;
                li{
                    border-bottom:1px solid #ccc;
                    display: block;
                    &:hover{
                        background-color: #f7f7f7;
                    }
                    a{
                        cursor: pointer;
                        display:block;
                        font-size: 12px;
                        padding:4px 5px;
                        position: relative;
                        @include text-overflow();
                        .right-align{
                            text-align: right;
                        }
                        label{
                            color: #999999;
                        }
                        /*>span{
                            font-size: 11px;
                            position: absolute;
                            right:0;
                            top:0;
                            font-weight: normal;
                            display: inline-block;
                        }*/
                    }
                }
            }
        }
    }
    >input{
        width:100%;
    }

    .show-advanced{
        padding:6px 2px;
        color:$turquoise;
        cursor: pointer;
        display: block;
        [class*="icon-"]{
            background-color: $grayDark;
            width:15px;
            height:15px;
            @include border-radius(4px);
            padding:3px 0 0 0;
            font-size:9px;
            text-align: center;
            display: inline-block;
            vertical-align: top;
            margin:1px 5px 0 0;
            color:$white;
        }
    }
    .advanced{
        padding-left:12px;
    }
    .advanced-search-add{
        select{
            vertical-align:middle;
            outline:none;
        }
        label{
            display: inline-block;
        }
    }
    .advanced-search-list{
        display: table;
        table-layout: fixed;
        width:100%;
        li{
            display: table-row;
            >div{
                display: table-cell;
                padding:4px 4px 0 0;
                line-height:24px;
                border-bottom:1px solid #e8e8e8;
                &:last-child{
                    padding-right:0;
                }
            }
            label{
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                vertical-align: top;
            }
            select{
                font-size: 12px;
                width:100%;
                vertical-align: top;
                height:20px;
                outline:none;
            }
            .Form__field{
                color:$blueSmoke;
                height:20px;
                padding:2px;
                vertical-align: top;
                @include border-radius(2px);
            }
        }
    }
}

.search, .trainPredict{
    .search-table-wrap, .trainPredict-table-wrap{
        width:100%;
        padding:0 20px;
        border-collapse: collapse;
        >div {
            padding:5px 0;
            border-bottom: 1px solid $gray;
            .doc-name{
                cursor: default;
                color:$blue;
                font-size: 14px;
                font-weight: bold;
                padding-left:2px;
                border:1px solid transparent;
                @include border-radius(3px);
                white-space: nowrap;
                overflow:hidden;
                text-overflow: ellipsis;
                &.active{
                    background-color: $background;
                    border-color: $grayDark;
                }
            }
            .doc-info{
                padding-left:3px;
                cursor: default;
                font-weight: bold;
                >span{
                    font-weight: normal;
                    &:after{
                        content:"|";
                        padding:0 10px;
                    }
                    &:last-child:after{
                        content:"";
                        padding-left:0;
                    }
                }
            }
            .list-wrapper{
                padding:5px 0 0 16px;
                .list{
                    display: none;
                    position:relative;
                    div{
                        padding:2px 3px;
                        .match{
                            font-weight: normal;
                            background-color:yellow;
                        }
                    }
                    &:first-child{
                        display: block;
                    }
                    .row-text{
                        @include border-radius(3px);
                        border:1px solid transparent;
                        cursor: pointer;
                        overflow: hidden;
                        >.table-row{
                            display: table;
                            table-layout: fixed;
                            width:100%;
                            border-collapse: collapse;
                            @include border-radius(3px);
                            >div{
                                display: table-cell;
                            }
                        }
                        &:hover{
                            border-color: $grayDark;
                        }
                        &.active{
                            background-color: $background;
                            border-color: $orange;
                        }
                    }
                }
                .no-pid{
                    position:absolute;
                    right:2px;
                    top:2px;
                    color:$orange;
                }
                .list-constraints{
                    display: none;
                    @include border-radius(3px);
                    border:1px solid transparent;
                    border-bottom-color: $background;
                    cursor: pointer;
                    overflow: hidden;
                    div {
                        display: table-cell;
                        padding: 2px 3px;
                    }
                    &.active{
                        background-color: $background;
                        border-color: $grayDark;
                    }
                }
                .more, .constraints{
                    display: inline-block;
                    padding:5px 0 0 0;
                    a{
                        color:$turquoise;
                    }
                    [class*="icon-"]{
                        //border:1px solid red;
                        background-color: $grayDark;
                        width:15px;
                        height:15px;
                        @include border-radius(4px);
                        padding:3px 0 0 0;
                        font-size:9px;
                        text-align: center;
                        display: inline-block;
                        vertical-align: top;
                        margin:1px 5px 0 0;
                        color:$white;
                    }
                    &+.constraints{
                        margin-left:15px;
                    }
                    .active{
                        font-weight: bold;
                    }
                }
                &.show-more{
                    .list{
                        display: block;
                    }
                }
                &.show-constraints{
                    .list-constraints{
                        display: block;
                        //display: table;
                        //table-layout: fixed;
                        width:100%;
                    }
                }
            }
        }
    }
}
.predict-error-400, .search-error-400{
    padding: 40px 20px;
    color:darkred;
}
.label-error-400{
    display: inline-block;
    //float: right;
    padding-left:10px;
    color:darkred;
}
.trainPredict{
    position: relative;
    height: 100%;
    .trainPredict-table-wrap{
        position: absolute;
        left:0;right:0;
        top:30px;
        bottom:5px;
        overflow-y: auto;
        .sticky-header{
            >div{
                &:first-child{
                    padding-bottom:5px;
                }
                &.sticky-body{
                    padding-top: 0;
                }
            }
            .doc-name{
                position: relative;
                padding-right:20px;
                [class*='icon']{
                    color:$orange;
                    line-height:20px;
                    position:absolute;
                    right:0;
                    top:0;
                    font-weight: bold;
                }
            }
            &.sticky{
                >div{
                    &:first-child{
                        position: absolute;
                        left:20px;
                        right:20px;
                        background-color: #fff;
                    }
                    /*&.sticky-body{
                         padding-top:42px;
                    }*/
                }
            }
        }
    }
}
.train_predict_doc, .search_doc{
    height:100%;
    position:relative;
    .top-action-buttons{
        padding-left:5px;
        .actions-buttons-train{
            cursor: default;
            color:$blue;
            font-size: 14px;
            font-weight: bold;
            padding-right:10px;
            @include text-overflow();
        }
    }
}

/* ********************** */
/* REPORT page            */
/* ********************** */
.report-page{
    h4{
        margin-top:20px;
        line-height: 35px;
        border-top:4px solid #d5d5d5;
        border-bottom:1px solid #d5d5d5;
        text-indent: 20px;
    }
}
.report-view{
    display: table;
    table-layout:fixed;
    width:100%;
    .items-wrapper{
        display: table-cell;
        vertical-align: top;
    }
}

.calendar-wrapper{
    width:100%;
    .cal-month-day .content{
        height: 75px;
    }
}

.right-accordion-wrap{
    position:fixed;
    top:0;
    padding-top:66px;
    z-index:$zindexRightAccordionWrap;
    &.right-accordion-wide{
        bottom:21px;
        width:$accordionWideWidth;
        &+.content-inner{
            padding-right:$accordionWideWidth;
        }
        @include breakpoint(small) {
            margin-left:$break-small -$scrollFactor - $accordionWideWidth - 49;
        }
        @include breakpoint(medium) {
            margin-left:$break-medium -$scrollFactor - $accordionWideWidth - 49;
        }
        @include breakpoint(large) {
            margin-left:$break-large -$scrollFactor - $accordionWideWidth - 49;
        }
        @include breakpoint(x-large) {
            margin-left:$break-x-large -$scrollFactor - $accordionWideWidth - 49;
        }
    }
    &.right-accordion-normal{
        width:$accordionNormalWidth;
        @include breakpoint(small) {
            margin-left:$break-small -$scrollFactor - $accordionNormalWidth - 49;
        }
        @include breakpoint(medium) {
            margin-left:$break-medium -$scrollFactor - $accordionNormalWidth - 49;
        }
        @include breakpoint(large) {
            margin-left:$break-large -$scrollFactor - $accordionNormalWidth - 49;
        }
        @include breakpoint(x-large) {
            margin-left:$break-x-large -$scrollFactor - $accordionNormalWidth - 49;
        }
    }

    .right-accordion-inner-wrap{
        background-color: #ebebeb;
        height:100%;
        @include border-radius(0 0 3px 0);
        @include box-shadow(inset 7px 0 7px rgba(0,0,0,0.1));
        .right-accordion{
            >.title{
                padding:5px 12px;
                font-size:16px;
            }
            .accordion{
                .accordion-heading {
                    font-weight: bold;
                    padding:7px 12px;
                    border-bottom: 1px solid $green;
                    >a{
                        display: block;
                        cursor: pointer;
                        i{
                            color:$green;
                            font-weight: bold;
                        }
                        span.icon{
                            color:$blue;
                            float:right;
                            display: inline-block;
                            line-height: 1.5;
                        }
                    }
                }
                .accordion-body{
                    background-color: #fbfbfb;
                    @include box-shadow(inset 7px 0 7px rgba(0,0,0,0.1));
                    max-height: 500px;
                    overflow-y: auto;
                    .accordion-inner{
                        padding:10px;
                    }
                }
                .expanded{
                    .accordion-body{
                        border-bottom: 1px solid $green;
                    }
                }
            }

        }
    }
}
.right-accordion-wide{
    &~.bottom-drawer{
        position:fixed;
        z-index:$zindexBottomDrawer;
        bottom:21px;
        height:30px;
        min-height:33px;
        overflow: hidden;
        margin-left:$accordionWideWidth;
        padding:3px;
        @include transition(height 0s ease);
        @include breakpoint(small) {
            width:$break-small -$scrollFactor - $accordionWideWidth - 70;
        }
        @include breakpoint(medium) {
            width:$break-medium -$scrollFactor - $accordionWideWidth - 70;
        }
        @include breakpoint(large) {
            width:$break-large -$scrollFactor - $accordionWideWidth - 70;
        }
        @include breakpoint(x-large) {
            width:$break-x-large -$scrollFactor - $accordionWideWidth - 70;
        }
        .doc-drawer-tab{
            position: relative;
            z-index:5;
            cursor: pointer;
            margin:0 0 -1px 20px;
            @include box-shadow(0 -1px 3px rgba(0,0,0,0.2));
            @include border-radius(5px 5px 0 0);
            border:1px solid #c0c0c0;
            border-bottom-color: #fff;
            display: inline-block;
            >div{
                @include border-radius(4px 4px 0 0);
                border:1px solid #fff;
                border-bottom: none;
                color:#000;
                font-weight: bold;
                padding:2px 8px;
                display: inline-block;
                @include gradient-vertical(#dbeefc, #fff);
            }
        }
        .bottom-drawer-content{
            position: relative;
            @include box-shadow(0 -1px 4px rgba(0,0,0,0.2));
            @include border-radius(4px 4px 0 0);
            border:1px solid #c0c0c0;
            border-bottom: none;
            background-color: #fff;
            width:100%;
            height:100%;
            padding:12px 5px 22px 15px;
            >.resizer{
                height:10px;
                position: absolute;
                left:10px;
                right:10px;
                bottom:0;
                cursor: n-resize;
            }
            >.doc-container{
                width:100%;
                height:100%;
                padding-bottom:30px;
                overflow-y: scroll;
            }
        }
        &.drawer-visible{
            height:$bottomDrawerDefaultHeight;
            @include transition(height 0.5s ease);
            .resizer{
                bottom:99%;
            }
        }
        &.dragged{
            @include transition(height 0s ease);
        }
    }
}

.legend-tree-holder{
    ul, ol{
        margin-left:10px;
        list-style-type:decimal;
        counter-reset: item;
    }
    li{
        display: block;
        position: relative;
        div{
            display: inline-block;
            cursor: pointer;
            white-space: nowrap;
            overflow: hidden;
            color:mediumblue;
            text-overflow: ellipsis;
            &:hover{
                color:darkblue;
            }
            >span{
                color:$textColor;
                display: inline-block;
            }
            &.labels{
                position: absolute;
                left: -15px;
                font-size: 80%;
                line-height: 1.7;
                color:#000;
            }
        }
        i{
            position:absolute;
            width:13px;
            height:13px;
            left: -15px;
            font-size: 70%;
            line-height: 2;
            color:$green;
            &[class*="icon"]{
                cursor: pointer;
                &+div.labels{
                    left: -30px;
                }
            }
        }
    }
    >ol, >ul{
        margin-left:30px;
        > legend-tree-node > li{
            display: block;
            >div.labels{
                display: none;
            }
        }
    }
    legend-tree{
        &.collapsed{
            ol, ul{
                display: none;
            }
        }
    }
}
.right-split-wrap {
    position: fixed;
    top: 0;
    padding-top: 121px;
    z-index: $zindexRightAccordionWrap;
    bottom: 21px;

    @include breakpoint(small) {
        margin-left: $break-small -$scrollFactor - ($break-small/2) - 49;
        width: ($break-small/2);
        & + .content-inner {
            padding-right: ($break-small/2);
        }
    }
    @include breakpoint(medium) {
        margin-left: $break-medium -$scrollFactor - ($break-medium/2) - 49;
        width: ($break-medium/2);
        & + .content-inner {
            padding-right: ($break-medium/2);
        }
    }
    @include breakpoint(large) {
        margin-left: $break-large -$scrollFactor - ($break-large/2) - 49;
        width: ($break-large/2);
        & + .content-inner {
            padding-right: ($break-large/2);
        }
    }
    @include breakpoint(x-large) {
        margin-left: $break-x-large -$scrollFactor - ($break-x-large/2) - 49;
        width: ($break-x-large/2);
        & + .content-inner {
            padding-right: ($break-x-large/2);
        }
    }
}

.top-right-dark-box, .top-left-dark-box{
    @include border-radius(0 3px 0 0);
    padding:7px;
    width:100%;
    height:100px;
    background-color: #5b5b5b;
    h3{
        font-size: 16px;
        color:$green;
    }
    label{
        white-space: nowrap;
        color:#fff;
        padding-right:5px;
    }
}
.top-left-dark-box{
    @include border-radius(3px 0 0 0);
}

.content-header{
    border-top:1px solid #d6e0a3;
    border-right:1px solid #d6e0a3;
    border-left:1px solid #d6e0a3;
    @include border-radius(3px 3px 0 0);
    background-color: $white;
    .content-header-left{
        padding:15px 0 0 $mainPadding;
        height:100px;
        h1{
            cursor: default;
            color:$green;
            font-size: 18px;
            font-weight: bold;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            span{
                font-weight: normal;
            }
            &.search-page{
                padding-right:280px;
                @include text-overflow();
            }
        }
        div{
            label{
                font-weight: bold;
                padding-right:7px;
            }
        }
    }
    .search-box{
        margin-top:15px;
        input[type="text"]{
            width:auto;
            @include border-radius(5px 0 0 5px);
            height:20px;
            border-color: #bfbfbf;
            border-right-width: 0;
            @include box-shadow(inset 1px 1px 1px rgba(0, 0, 0, 0.2), 1px 1px 1px rgba(0,0,0,0.2));
            background-color: transparent;
            &.auto-search{
                @include border-radius(5px);
                border-right-width: 1px;
            }
        }

        .search-btn{
            display: inline-block;
            @include border-radius(0 5px 5px 0);
            @include gradient-vertical(#254262, #111d25);
            //background-color: #002a80;
            @include box-shadow(1px 1px 1px rgba(0,0,0,0.2));
            width:27px;
            line-height:20px;
            text-align: center;
            cursor: pointer;
            >span{
                color:#fff;
            }
        }
        .Form__control-label{
            margin-left:10px;
        }
    }
}
.search-page{
    .content-header-left{
        h1{
            padding-right:280px;
            @include text-overflow();
        }
    }
    .search-box-in-search-page{
        position: absolute;
        right:10px;
        top:16px;
        >span{
            vertical-align: top;
            line-height: 26px;
            display: inline-block;
        }
        input[type="text"]{
            @include border-radius(5px);
            vertical-align: top;
            width: 200px;
            @include transition(width .4s ease .5s);
            &:focus, &.has-content{
                @include transition(width .4s ease);
                width: 350px;
            }
        }
    }
    .search-info{
        display: inline-block;
        padding: 0 7px;
        text-transform: capitalize;
        &.sep{
            &:after{
                content:"|";
                margin-left:5px;
            }
        }
    }
    .btn-history{
        cursor: pointer;
        display: inline-block;
        padding-left:5px;
        vertical-align: top;
        [class*="icon-"]{
            font-size:16px;
            text-align: center;
            display: inline-block;
            margin-top: 4px;
            color:#444;
        }
    }
    .btn-search{
        cursor: pointer;
        display: block;
        position: absolute;
        right:30px;
        top:1px;
        font-size:16px;
        color:$turquoise;
    }
}
.bottom-line{
    width:100%;
    height:5px;
    padding-left:$mainPadding;
    border-left:1px solid #d6e0a3;
    background-color: $white;
    &.bottom-line-right-accordion{
        padding-left:0;
        border-left:none;
    }
    >div{
        width:100%;
        height:100%;
        background-color: #d5d5d5;
    }
}
.top-action-buttons {
    padding:10px 0 5px 22px;
    border-right:1px solid #d6e0a3;
    border-left:1px solid #d6e0a3;
    background-color: $white;
    .actions-buttons{
        a{
            line-height:20px;
            font-size: 12px;
            display: inline-block;
            &:after{
                content:"|";
                color:$linkColor;
                padding-left:15px;
            }
            &:last-child:after{
                content:"";
                padding-left:0;
            }
            &:before{
                content:"";
                width:15px;
                height:16px;
                background: transparent url('img/icons/service-icons.png') no-repeat;
                display: inline-block;
                margin-right:6px;
            }
            &.print{
                &:before{
                    background-position: left 5px;
                }
            }
            &.share{
                &:before{
                    background-position: -15px 5px;
                }
            }
            &.compare{
                &:before{
                    background-position: -30px 3px;
                }
            }
        }
    }
    .treeView-buttons{
        padding-right:10px;
        span{
            float:right;
            display: block;
            width:35px;
            height:20px;
            padding:0;
            cursor: pointer;
            &:first-child{
                background: transparent url('img/tree/btn-viewModeTree.png') no-repeat -35px -20px;
            }
            &:last-child{
                background: transparent url('img/tree/btn-viewModeTree.png') no-repeat 0  -20px;
            }
            &:hover{
                &:first-child{
                    background: transparent url('img/tree/btn-viewModeTree.png') no-repeat -35px -40px;
                }
                &:last-child{
                    background: transparent url('img/tree/btn-viewModeTree.png') no-repeat 0  -40px;
                }
            }
            &.active, &.active:hover{
                &:first-child{
                    background: transparent url('img/tree/btn-viewModeTree.png') no-repeat -35px -60px;
                }
                &:last-child{
                    background: transparent url('img/tree/btn-viewModeTree.png') no-repeat 0  -60px;
                }
            }

        }
    }
    &.top-action-buttons-on-split-page{
        @include breakpoint(small) {
            padding-right: ($break-small/2) + 20;
        }
        @include breakpoint(medium) {
            padding-right: ($break-medium/2) + 20;
        }
        @include breakpoint(large) {
            padding-right: ($break-large/2) + 20;
        }
        @include breakpoint(x-large) {
            padding-right: ($break-x-large/2) + 20;
        }
    }
    &.doc-partial{
        border:none;
        padding-top:110px;
        background-color: transparent;
    }
}
.tree-header-placeholder{
    padding:0 15px 0 $mainPadding;
    border-right:1px solid #d6e0a3;
    border-left:1px solid #d6e0a3;
    background-color: $white;
}
.context-menu, .rename-dialog, .confirm-dialog, .add-note-dialog {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: $zindexContextMenu;
    display: none;
    float: left;
    min-width: 180px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    list-style: none;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.15);
    @include border-radius(4px);
    @include box-shadow(0 6px 12px rgba(0,0,0,0.175));
    background-clip: padding-box;
    >li>a,>li>span{
        cursor: pointer;
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: normal;
        line-height: 1.5;
        color: #333;
        white-space: nowrap;
        >span{
            float:right;
            line-height: inherit;
            color:lightblue;
        }
        &:hover{
            color: #fff;
            text-decoration: none;
            background-color: #428bca;
        }
    }
    >li>span{
        cursor: default;
        color: #bbb;
        &:hover{
            color: #bbb;
            text-decoration: none;
            background-color: transparent;
        }
    }
    >li>em{
        display: block;
        margin: 3px;
        clear: both;
        height:0;
        width:100%;
        border-top:1px solid #ccc;
    }
    >li>.extra-details{
        display: none;
        position: absolute;
        background-color: #fff;
        border: 1px solid rgba(0,0,0,0.15);
        @include border-radius(4px);
        top:0;
        left:100%;
        min-width:130px;
        color:#555;
        padding:5px 10px;
        margin-left:1px;
        >span{
            display: inline-block;
            width:100%;
            white-space: nowrap;
        }
    }
    >li:hover>.extra-details{
        display: block;

    }
}
.rename-dialog, .confirm-dialog, .add-note-dialog {
    margin:-20px 0 0 0;
    width:280px;
    padding:5px;
    .title{
        font-size: 12px;
    }
    .buttons-wrap{
        white-space: nowrap;
        vertical-align: bottom;
        padding:0 10px;
    }
    input{
        font-size:12px;
        &.ng-invalid{
            border-color:red;
        }
    }
    button{
        border:none;
        background-color: transparent;
        padding:0 5px 0 0;
        display: inline-block;
        font-size: 18px;
        cursor:pointer;
        color:$turquoise;
        &:disabled{
            color: $turquoiseDisabled;
        }
        &.cancel{
            color:$grayDark;
            padding:0;
        }
        &.delete{
            color:$red;
        }
    }
}
.rcm-open > .context-menu {
    display: block;
}
.rename-open > .rename-dialog {
    display: block;
}
.confirm-open > .confirm-dialog {
    min-width:130px;
    display: block;
}
.note-open > .add-note-dialog {
    min-width:250px;
    display: block;
    textarea{
        height:60px;
        resize: none;
    }
}
.modal-container{
    .modal-body{
        min-width: 350px;
        min-height: 150px;
        padding:15px;
    }
    .Btn{min-width: 70px;}
    .modal-footer{
        padding:8px 15px;
        min-height: 40px;
    }
}
.main-loading{
    margin:30px auto;
    width:60px;
    height:60px;
    background: url('img/main-loading.gif') no-repeat;
}
.small-loading{
    margin:15px auto;
    width:16px;
    height:16px;
    background: url("img/tree/loading.gif") no-repeat center center;
}
.process-label{
    width:100%;
    overflow: hidden;
}
.upload-modal{
    /*ul {
        counter-reset: my-counter;
    }*/
    li{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-right: 24px;
        color:#555;
        &.active{
            color:#0000ff;
            background: url("img/tree/loading.gif") no-repeat right center;
        }
        /*&:before {
            content: counter(my-counter);
            counter-increment: my-counter;
        }*/
        >span{
            padding-right:5px;
            color:#555;
            &.icon-file2{
                padding-left:5px;
            }
        }
    }
}
.my-drop-zone { border: dotted 2px lightgray; padding:20px;text-align: center;}
.ng-file-over { border: dotted 2px red; } /* Default class applied to drop zones on over */

.section-sortable-placeholder{
    margin-top:10px;
    @include border-radius(5px);
    border:1px dashed $grayDark;
    background-color: #fefefe;
}
.cell-sortable-placeholder{
    display: table-cell !important;
    @include border-radius(5px);
    border:1px dashed $grayDark;
    background-color: #fefefe;
    padding:3px 5px;
}
.expanded-table{
    width:100%;
    display: table;
    margin-top: 10px;
    //position: relative;
    &:first-child{
        margin-top: 0;
    }
    .text-actions{
        display: inline-block;
        button{
            border:none;
            background-color: transparent;
            padding:0 5px 0 0;
            display: inline-block;
            cursor:pointer;
        }
        .icon-cancel-circle{
            color:$grayDark;
        }
        .icon-checkmark-circle{
            color:$turquoise;
        }
    }
    .table-header{
        @include border-radius(5px 5px 0 0);
        background-color: $tableHeaderBackground;
        position: relative;
        display: table;
        width:100%;
        padding:2px 7px 2px 0;
        >div.text{
            display: table-cell;
            cursor: default;
            white-space: nowrap;
            i{
                color:$green;
                cursor: pointer;
                font-weight: bold;
                padding:0 0 0 5px;
            }
            .section-name{
                color:$tableHeaderColor;
                border:1px solid transparent;
                background-color: transparent;
                font-weight: bold;
                padding:2px 3px;
                width:80%;
                cursor: default;
                white-space: nowrap;
                &.edit-mode{
                    color:#000;
                    cursor: text;
                    border:1px solid $gray;
                    @include border-radius(3px);
                    background-color: #fff;
                }
            }
        }
    }
    .extra-functionality{
        float:left;
        padding:1px 7px 0 7px;
        border:1px solid $gray;
        border-bottom: none;
        @include border-radius(4px 4px 0 0);
        color:$grayDark;
        line-height: 24px;
    }
    .score{
        float:right;
        padding:1px 7px 0 7px;
        border:1px solid $gray;
        border-bottom: none;
        @include border-radius(4px 4px 0 0);
        color:$grayDark;
        line-height: 24px;
        >input{
            display: inline-block;
            color:$grayDark;
            border:1px solid transparent;
            background-color: transparent;
            padding:1px 3px;
            min-width:30px;
            text-align: right;
            cursor: default;
            white-space: nowrap;
            &.edit-mode{
                color:#000;
                cursor: text;
                width:60px;
                border-color:$gray;
                @include border-radius(3px);
                background-color: #fff;
                &+span{
                    >button{
                        display: inline-block;
                    }
                }
            }
        }
        >span{
            display: inline-block;
            padding-right:10px;
            &.ttl{
                padding-right:3px;
            }

            >button{
                display: none;
                border:none;
                background-color: transparent;
                padding:0 0 0 5px;
                cursor:pointer;
            }
            .icon-cancel-circle{
                color:$grayDark;
            }
            .icon-checkmark-circle{
                color:$turquoise;
            }
        }
    }
    .table-content{
        display: table;
        width:100%;
        table-layout: fixed;
        .row{
            display: table-row;
            width:100%;
            position: relative;
            .cell{  //cell
                display: table-cell;
                padding:3px 5px;
                width:auto;
                white-space: nowrap;
                //overflow: hidden;
                text-overflow: ellipsis;
                cursor: default;
                position: relative;
                border-bottom: 1px solid $treeRecordBorder;
                &:first-child{
                    padding-left:28px;
                }
                .header-cell-name{
                    color:$tableHeaderColor;
                    border:1px solid transparent;
                    background-color: transparent;
                    font-weight: bold;
                    padding:2px 3px;
                    width:100%;
                    cursor: default;
                    &.edit-mode{
                        cursor: text;
                        color:#000;
                        border:1px solid $gray;
                        @include border-radius(3px);
                        background-color: #fff;
                    }
                    &.ignore{
                        @include opacity(0.5);
                    }
                }
            }
            &.header{
                @include gradient-vertical(#ffffff, #f1f1f2);
                >div, >li{  //cell
                    padding:1px 5px;
                    font-size: 90%;
                    font-weight: bold;
                    &.action-cell{
                        width:24px;
                    }
                    /*&:first-child{
                        padding-left:28px;
                    }*/
                }
            }

            &.ts-row{
                .cell{
                    padding:1px 2px;
                    vertical-align: top;
                    >div{
                        cursor: pointer;
                        padding:2px 3px;
                        border:1px solid transparent;
                        @include border-radius(3px);
                        display: block;
                        overflow: hidden;
                        min-height:25px;

                        &.editable-cell{
                            color:#000;
                            border-color:$gray;
                            min-height:25px;
                            &:hover{
                                border-color:#000;
                            }
                        }
                        &.is-edited, &.is-edited:hover{
                            border-color:#000;
                            color:#fff;
                            background-color: $gray;
                        }
                        &.highlighted-cell{
                            background-color: lightgreen;
                        }
                        &.empty-cell{
                            cursor: default;
                            padding:0;
                        }
                        &.make-primary, &.add-row{
                            position: absolute;
                            left:5px;
                            margin-top:-21px;
                            cursor: pointer;
                            padding:0;
                            color:$turquoise;
                            background-color: rgba(255,255,255,0.5);
                            width:0;
                            overflow: hidden;
                            display: none;

                        }
                        &.make-primary{
                            &.active{ /* done by CSS since ng-show is buggy here */
                                display: block;
                                padding:2px;
                                width:auto;
                                border:1px solid $gray;
                                @include border-radius(3px);
                                &:before{
                                    @extend .icon-primary:before;
                                }
                                &:hover{
                                    color: darken($turquoise, 10%);
                                    border-color: $grayDark;
                                }
                            }
                        }
                        /*&.add-row{
                            &.active{ // done by CSS since ng-show is buggy here
                                padding:2px;
                                //width:auto;
                                border:1px solid $gray;
                                @include border-radius(3px);
                                width:28px;
                                //&:before{
                                //    @extend .icon-add-to-list:before;
                                //}
                                &:hover{
                                    color: darken($turquoise, 10%);
                                    border-color: $grayDark;
                                }
                            }
                            &.between-after, &.between-before{
                                left:0;
                                margin-top:-10px;
                                color:darkred;
                                display: block;
                                background-color: rgba(255,255,255,1);
                                &.active{
                                    display: block;
                                }
                                >span{
                                    position: absolute;
                                }
                            }
                            &.between-before{
                                margin-top:-30px;
                            }
                        }*/
                    }
                    /*&:first-child{
                        padding-left:28px;
                    }*/
                    &.action-cell{
                        width:28px;
                        vertical-align: top;
                    }
                    &.ignored{
                        @include opacity(0.5);
                        >div{
                            cursor: default;
                        }
                    }
                    .btn-ignore{
                        @include opacity(0);
                        color:$grayLight;
                        text-align: center;
                        .icon-close{
                            font-size:80%;
                        }
                    }
                }
                &:nth-of-type(1){
                    .cell{
                        >div.make-primary{
                            display: none;
                            &.active{
                                display: none;
                            }
                        }
                        >div.add-row{
                            display: block;
                            &.active {
                                display: block;
                            }
                        }
                    }
                }
                &:hover{
                    .btn-ignore {
                        @include opacity(1);
                    }
                }
            }
        }
    }
    .table-actions, .cell-actions{
        display: table-cell;
        text-align: right;
        white-space: nowrap;
        .move-section, .move-cell, .delete-section, .delete-cell, .edit-section-name, .edit-cell-name{
            display: inline-block;
            padding:1px 2px 0 2px;
            border:1px solid $gray;
            @include border-radius(3px);
            text-align: center;
            background-color: rgba(255,255,255,0.5);
            cursor: pointer;
            color:$turquoise;
            &:hover{
                color: darken($turquoise, 10%);
                border-color: $grayDark;
            }
        }
        .move-section{
            cursor: ns-resize;
        }
        .move-cell{
            cursor: ew-resize;
        }
    }
    .cell-actions{
        display: block;
        text-align: left;
        @include opacity(0.4);
        &.hover-header-cell{
            @include opacity(1);
        }
    }
    .table-actions{
        min-width:100px;
        &.Form__control-label{
            padding-right:10px;
            font-size:11px;
        }
    }
}
.chart-table-content{
    border:1px solid #ccc;
    padding-bottom:1px;
    //position: relative;
    &:hover{
        border:1px solid #555;
    }
    .is-option{
        background-color: lightgoldenrodyellow;
    }
    .row .cell{
        border-bottom: none !important;
        &.edit-mode{
            border-left:1px solid #ccc;
        }
    }
    .column-remove, .icon-pencil{
        position: absolute;
        right:2px;
        top:2px;
        z-index: 10;
        display: block;
        cursor: pointer;
        font-size: 5px;
        color: #555;
        padding: 2px;
        border: 1px solid rgba(17, 17, 17, 0.5);
        -webkit-border-radius: 2px;
        border-radius: 2px;
        background-color: transparent;
        opacity: 0.3;
        &:hover{
            opacity: 0.7;
        }
    }
    .icon-pencil{
        left:2px;
        right:auto;
    }
    .text-actions-header{
        position:absolute;
        right:0;
        bottom:99%;
        padding:2px 4px 1px 5px;
        @include border-radius(5px 5px 0 0);
        border:1px solid #ccc;
        background-color: #fff;
        button{
            padding-right:2px;
        }
    }
    .columns-separator{
        position: absolute;
        right:-4px;
        top:0;
        height:24px;
        width:7px;
        z-index:50;
        cursor: default;
        padding:0 2px;
        .separator-body{
            top:0;
            height:24px;
            width:3px;
            overflow: hidden;
            background-color: $treeRecordBorder;
        }
        .separator-indicator{
            display: none;
            position: absolute;
            left:-7px;
            top:-20px;
            width:21px;
            height:25px;
            line-height: 21px;
            text-align: center;
            font-weight: bold;
            @include border-radius(0 0 10px 10px);
            background-color: $treeRecordBorder;
        }
        &.edit-mode{
            padding:0 1px;
            .separator-indicator{
                display: block;
                cursor: cell;
            }
            .separator-body{
                top:-5px;
                height:30px;
                width:5px;
            }
        }
    }
    .rows-separator{
        position: absolute;
        left:1px;
        right:15px;
        height:5px;
        margin-top:-2px;
        padding-top:2px;
        z-index:20;
        cursor: default;
        .separator-body{
            width:100%;
            height:1px;
            overflow: hidden;
            background-color: $treeRecordBorder;
        }
        .separator-indicator{
            display: none;
            position: absolute;
            left:0;
            top:-8px;
            width:30px;
            height:21px;
            line-height: 21px;
            text-align: center;
            font-weight: bold;
            @include border-radius(0 10px 10px 0);
            background-color: $treeRecordBorder;
        }
        &.edit-mode{
            .separator-indicator{
                display: block;
                cursor: cell;
            }
            height:3px;
            margin-top:-1px;
            padding-top:1px;
            .separator-body{
                height:3px;
            }
        }
    }
}
.prevent-selection {
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}
$rentRollCellBorderColor: #ccc;
.rentroll-year{
    display: inline-block;
    margin:0 10px;
    >input{
        border:1px solid transparent;
        padding:2px 3px;
        width:40px;
        cursor: text;
        color:#000;
        @include border-radius(3px);
        &:hover{
            border-color:$gray;
        }
        &:focus{
            border-color:$black;
        }
    }
}
.doc-name-rent-roll{
    position: absolute;
    right: 35px;
    bottom: -27px;
    color: #aec147;
    background-color: #fff;
    padding: 4px 10px;
}
.rr-icon{
    display: none;
    position: absolute;
    top:0;
    left:-1px;
    line-height: 20px;
    color: #aec147;
}
.rr-expand{
    cursor: pointer;
    position: relative;
    >div{
        display: inline-block;
        padding-left: 8px;
    }
    .rr-icon{
        position: absolute;
        left:0;
        top:0;
        height:100%;
        display: inline-block;
        color:$turquoise;
        line-height: 1.7;
        &:before{
            @extend .icon-arrow-right:before;
        }
    }
    &.rr-collapse{
        .rr-icon{
            &:before{
                @extend .icon-arrow-down:before;
            }
        }
    }
}
.rent-roll-table{
    width:100%;
    display: table;
    margin-top: 10px;
    table-layout: fixed;
    border-collapse: collapse;
    border-top:1px solid $rentRollCellBorderColor;
    >div{
        display: table-row;
        border-left:1px solid $rentRollCellBorderColor;
        >div{
            display: table-cell;
            vertical-align: top;
            padding:2px 5px;
            border-bottom:1px solid $rentRollCellBorderColor;
            border-right:1px solid $rentRollCellBorderColor;
            overflow: hidden;
            text-overflow: ellipsis;
            color:#555555;
            font-size: 12px;
            width:80px;
            &.header{
                font-weight:bold;
                border-bottom-color:#555555;
            }
            &.underline{
                border-bottom-color:#555555;
            }
            /*&.no-top-border{
                border-top-color: transparent;
            }*/
            &.is-date{
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                -webkit-touch-callout: none;
                -webkit-user-select: none;
            }
        }
    }
    &.hide-cols{
        >div{
            >div{
                &.hideable-cell{
                    white-space: nowrap;
                    display:none;
                }
            }
        }
    }
}
.rentroll-date-picker{
    left:-1000px;
    top:-1000px;
    .quickdate-button{
        @include opacity(0.5);
    }
}
.rent-roll-cell-a{
    background-color:rgba(254,163,170,0.3);
}
.rent-roll-cell-b{
    background-color:rgba(248,184,139,0.3);
}
.rent-roll-cell-c{
    background-color:rgba(250,248,132,0.3);
}
.rent-roll-cell-d{
    background-color:rgba(186,237,145,0.3);
}
.rent-roll-cell-e{
    background-color:rgba(178,206,254,0.3);
}
.rent-roll-cell-f{
    background-color:rgba(242,162,232,0.3);
}
.rent-roll-cell-g{
    background-color:rgba(255,0,0,0.3);
}
.inner-edit-modal{
    padding:6px;
    position:absolute;
    margin:-6px 6px 6px -6px ;
    @include border-radius(5px);
    border:1px solid $gray;
    display: none;
    z-index:989;
    background-color: #fff;
    @include box-shadow(0 0 3px #555);
    white-space: nowrap;
}

.edit-cell-modal{
    padding:6px;
    position:absolute;
    margin:-6px 6px 6px -6px ;
    @include border-radius(5px);
    border:1px solid $gray;
    display: none;
    z-index:989;
    background-color: #fff;
    @include box-shadow(0 0 3px #555);
    white-space: nowrap;
    .text-actions{
        display: inline-block;
        padding-left:5px;
        button{
            border:none;
            background-color: transparent;
            padding:0 5px 0 0;
            display: inline-block;
            cursor:pointer;
        }
        .icon-cancel-circle{
            color:$grayDark;
        }
        .icon-checkmark-circle{
            color:$turquoise;
        }
    }
    .cell-name{
        padding:2px 3px;
        width:250px;
        cursor: text;
        color:#000;
        border:1px solid $gray;
        @include border-radius(3px);
        background-color: #fff;
        &:hover, &:focus{
            border-color: #555555;
        }
    }
    .sep{
        vertical-align: top;
        font-size: 10px;
        display: inline-block;
        color:#DDDDDD;
    }
    .advanced{
        width:100%;
        position: relative;
        .fields-holder{
            padding-top:5px;
            label{
                width:60px;
                display: inline-block;
            }
            .cell-name{
                width:187px;
            }
        }
        .paste-holder{
            cursor: pointer;
            position: absolute;
            right:1px;
            top:10px;
            line-height: 20px;
            color:#444;
            >span{
                font-size:16px;
            }
            &:hover{
                &:before{
                    content:"}";
                    position: absolute;
                    right:100%;
                    top:-7px;
                    font-size:60px;
                    color:#ccc;
                }
            }
        }
    }
}

.indexer{
    display: block;
    height: 400px;
    position: relative;
    border: 1px solid #DDD;
    @include border-radius(5px);
    margin:0 0 0 20px;
    overflow: hidden;
    >div{
        padding:0 20px 0 0;
        width:100%;
        height:100%;
        max-height:100%;
        overflow-y: scroll;
    }
    ul,li {
        list-style-type: none;
    }
    ul {
        padding: 0;
        margin: 0;
    }
    li {
        list-style-type: none;
    }
    li.people {
        background-image: linear-gradient(#FFF, #F1F1F1);
        padding: 10px;
    }
    li.divider {
        background-color: #5E87B0;
        color: #FFF;
        text-shadow: 0 1px 1px #3E6790;
        padding: 5px 15px;
    }
    ul.lettersScrollBar {
        position: absolute;
        right: 10px;
        top: 2px;
        li {
            height: 15px;
            padding: 0 10px;
            text-align: center;
            cursor: pointer;
        }
    }

}
.section_selection_modal{
    height:200px;
    .templates_list {
        margin-top:5px;
        border:1px solid lightgrey;
        @include border-radius(4px);
        height:80%;
        overflow-y: auto;
        padding-top: 5px;
        > li{
            padding:2px 3px;
            cursor: pointer;
            &:hover{
                background-color: #e9f4fb;
            }
            &.active{
                font-weight: bold;
                background-color: lightgrey;
                cursor: default;
                &:hover{
                    background-color: lightgrey;
                }
            }
        }
    }
}
.prevent-selection {
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

.templates_modal {
    min-width: 600px;
    .sub-header {
        border-bottom: 1px solid #d1d1d1;
        padding-bottom: 7px;
        > span {
            color: #2f3647;
            display: inline-block;
            width:100%;
            line-height: 16px;
            font-weight: bold;
            i {
                /* remove */
                margin-left: 10px;
                color: #9f9f9f;
                cursor: pointer;
                font-size: 16px;
                &:hover {
                    color: #2f3647;
                }
            }
            .current-tst {
                color: #aec147;
            }
        }
    }
    .templates_list {
        padding-top: 5px;
        > li {
            padding: 2px 0;
            > div {
                cursor: pointer;
                color: #2f3647;
                .icon-checkmark {
                    @include opacity(0);
                }
                &.active {
                    cursor: default;
                    font-weight: bold;
                    .icon-checkmark {
                        @include opacity(1);
                        color: #aec147;
                    }
                }
            }
            &:hover{
                > div{
                    .icon-checkmark {
                        @include opacity(0.2);
                    }
                    &.active {
                        cursor: default;
                        color: #2f3647;
                        .icon-checkmark {
                            @include opacity(1);
                            color: #aec147;
                        }
                    }
                }

            }
        }
        &.server-working {
            @include opacity(0.5);
        }
    }
}


.static-footer-wrap{
    position: fixed;
    bottom:0;
    left:0;
    right:0;
    z-index: $zindexStaticFooter;
    .footer{
        position: absolute;
        bottom:0;
        left:50%;
        background-color: $background;
        height:25px;
        padding-bottom:20px;
        @include breakpoint(small) {
            width: $break-small -$scrollFactor;
            margin-left:-($break-small -$scrollFactor)/2;
        }
        @include breakpoint(medium) {
            width: $break-medium -$scrollFactor;
            margin-left:-($break-medium -$scrollFactor)/2;
        }
        @include breakpoint(large) {
            width: $break-large -$scrollFactor;
            margin-left:-($break-large -$scrollFactor)/2;
        }
        @include breakpoint(x-large) {
            width: $break-x-large -$scrollFactor;
            margin-left:-($break-x-large -$scrollFactor)/2;
        }
        >div{
            padding:0 $mainPadding;
            border:1px solid #d6e0a3;
            border-top:none;
            background-color: $white;
            @include border-radius(0 0 3px 3px);
            height:5px;
        }
    }
}
.footer-wrap{
    width: 100%;
    position: relative;
    z-index: 333;
    //background-color: #6fa1cf;
    margin-top: 20px;
    .footer{
        //background-color: #6fa1cf;
        //padding:5px 20px;
    }
}

.alert-wrapper {
    width:100%;
    z-index: 4444;
    position: fixed;
    right: 0;
    left: 0;
    top:10px;
    height:1px;
    .alerts-container{
        padding: 3px 7px;
        border: 1px solid transparent;
        border-radius: 4px;
        position: relative;
        color: #fff;
        width: 500px;
        background-color: darkred;
        margin:0 auto 4px auto;
        >div{
            width:100%;
            margin-top:6px;
            border-top:1px solid #ccc;
            .alert-line{
                padding:5px;
                width:100%;
                max-height:300px;
                text-align:left;
                cursor: default;
                overflow: auto;
                &.separator{
                    border-bottom:1px solid #ccc;
                }
            }
        }
        .close{
            display: block;
            position:absolute;
            right:5px;
            top:1px;
            >button {
                cursor: pointer;
                border: none;
                background: none;
                outline: none;
                color:#fff;
            }
        }
    }
}

.phrase-selected{
    position:absolute;
    left:0;
    top:0;
    display: none;
    .phrase-data{
        position:absolute;
        left:0;
        bottom:3px;
        width:180px;
        margin-left:-90px;
        height: 25px;
        padding:2px 6px;
        background-color:#fff;
        z-index:3333;
        @include border-radius(5px);
        border:1px solid #555;
        @include box-shadow(0px 1px 1px #555);
        [class*='icon-']{
            cursor: pointer;
        }
    }
}




// winscp mask:
// *.html; *.js; *.py; *.css; *.png; static/; deals/ | *.scss
// *.html; *.js; *.py; static/; deals/ | *.scss; statis/app/.sass-cache/; statis/app/styles/sass/
// *.html; *.js; *.py; static/; deals/ | *.scss; .sass-cache/; sass/




