<div class="content-wrapper abstract-single-page">
	<div class="split-container Flexbox Flexbox__direction-rows" id="split-container">
		<div class="vertical-resizer"
			 resizer="vertical"
			 resizer-callback="onHideRCM"
			 resizer-padding="22"
			 resizer-hide="true"
			 resizer-force-left-width="{{resizer_force_left_width||60}}"
			 resizer-parent="#split-container"
			 resizer-left-element="#split-container-left"
			 resizer-right-element="#split-container-right"><span></span></div>
		<div class="Flexbox__flex-1 height-all">
			<div class="Flexbox height-all">
				<div class="split-content" id="split-container-left">
					<div class="left-side-title">
						{{tenantName}} <span ng-click="backToList()" title="back to {{projectName}}">in <a>{{projectName}}</a></span>
					</div>
					<div class="abstract-title-area">
						<div class="tst-name" ng-show="tst_name">
							<div>{{tst_name}}</div>
						</div>
						<div class="Flex__rev">
							<div class="abstract-top-actions">
								<a class="pointer"
								   ng-click="editLocked=!editLocked;"
								   title="lock/unlock editing content">
									<span ng-class="{'icon-lock':editLocked, 'icon-unlocked':!editLocked}"></span>
									Edit
								</a>
							</div>
						</div>
					</div>
					<div class="abstract-table main-abstract-table single-abstract-table fadeIn">
						<div id="edit-cell" class="edit-cell-modal">
							<div class="edit-cell-modal-title" ng-if="editedCell.message">{{editedCell.message}}</div>
							<input type="text" class="cell-name" id="edit-cell-name" ng-model="editedCell.new.label"/>
							<div class="text-actions">
								<button ng-click="cancelEditValue()"><span class="icon-cancel-circle"></span></button>
								<button ng-click="saveEditValue()"><span class="icon-checkmark-circle"></span></button>
								<span class="sep" ng-if="editedCell.type=='cell'">|</span>
								<button ng-if="editedCell.type=='cell'" ng-click="editedCell.advanced=!editedCell.advanced"><span ng-class="{'icon-arrow-down':!editedCell.advanced, 'icon-arrow-up':editedCell.advanced}" style="color:#DDDDDD;"></span></button>
							</div>
							<div class="advanced" ng-show="editedCell.type=='cell' && editedCell.advanced">
								<div class="fields-holder">
									<label>From:</label>
									<input type="text" class="cell-name" ng-model="editedCell.new.from_token"/>
								</div>
								<div class="fields-holder">
									<label>To:</label>
									<input type="text" class="cell-name" ng-model="editedCell.new.to_token"/>
								</div>
								<div class="fields-holder">
									<div class="btn-make-primary"
										 ng-click="clickedMakeCellPrimary()">Make this cell primary <span class="icon-reply"></span></div>
								</div>
								<div class="paste-holder" ng-if="selectionPhrase.phrase" ng-click="clickedPasteFromSelection()">
									Paste <span class="icon-paste"></span>
								</div>
							</div>
						</div>
						<!-- CHARTS BASE_RENT -->
						<div ng-repeat="(zoneIndex, zone) in chartsZones"
							 class="main-zone-wrap locked_{{editLocked}}"
								ng-init="sectionIndex = zone.section_info.sectionID">
							<div ng-repeat="(chartIndex, chart) in zone.section_charts"
								 ng-class="{'expanded':expandedZone[sectionIndex]}">
								<div class="header {{zoneIndex>0?'divider':''}}"
									 ng-if="chartIndex==0"
									 ng-init="expandedZone[sectionIndex]=sectionIndex==0?true:false;">
									<div ng-click="expandedZone[sectionIndex]=!expandedZone[sectionIndex]">
										<span class="btn-expand" ng-class="{'icon_plus':!expandedZone[sectionIndex], 'icon_minus':expandedZone[sectionIndex]}"></span>
										<span class="label">{{zone.section_info.label}}</span>
									</div>
								</div>
								<div class="row row-table chart-section section_{{chartIndex}}" collapse="!expandedZone[sectionIndex] && chartIndex!=0">
									<div class="score-wrap" ng-init="scoreEditMode=false;chart.originalScore=chart.score;">
										<div>
											Chart ID:&nbsp;{{chart.chart_id}}&nbsp;&nbsp;&nbsp;Score:&nbsp;
											<input type="text"
												   ng-readonly="!scoreEditMode"
												   class="noselect"
												   ng-class="{'edit-mode':scoreEditMode}"
												   ng-style="{'width': chart.score.toString().length*10 + 'px'}"
												   ng-model="chart.score"
												   maxlength="6"
												   nks-only-number decimal-upto="2"
												   ng-dblclick="scoreEditMode = true"/>
											<span>
												<button ng-click="chart.score=chart.originalScore;scoreEditMode=false;"><span class="icon-cancel-circle"></span></button>
												<button ng-click="saveEditScore(chart);scoreEditMode=false;"><span class="icon-checkmark-circle"></span></button>
											</span>
										</div>
									</div>
									<div class="Flexbox headers-row">
										<div class="left-spacer">
											<div>
												<span class="addColumn-wrap curl-wrapper">
													<span class="curl"
														  title="Add new column"
														  ng-click="clickedAddNewColumn(chart, $event)"></span>
												</span>
												<span class="addColumn-simulate"></span>
											</div>
										</div>
										<div ng-repeat="header in chart.headers"
											 class="cell Flexbox__flex-1"
											 ng-class="{'ignored':header.ignore}">
											<div class="btn-edit-cell" ng-if="!header.ignore" ng-click="clickedEditHeaderValue(chart, header, $event)">
												<div title="edit header value"><span class="icon-pencil"></span></div>
											</div>
											<div class="btn-toggle-ignore" ng-click="clickedToggleIgnoreColumn(chart, header)">
												<div title="set column {{header.ignore?'un-':''}}ignored">
													<span class="icon-checkmark2" ng-if="header.ignore"></span>
													<span class="icon-close" ng-if="!header.ignore"></span>
												</div>
											</div>
											<span>{{header.label}}&nbsp;</span>
										</div>
									</div>
									<div ng-repeat="(rowIndex, row) in chart.rows"
										 class="Flexbox inner-row top-border-{{rowIndex==0}}">
										<div class="left-spacer">
											<div>
												<span class="ignore-wrap noselect"
													  title="set row {{row.ignore?'un-':''}}ignored"
													  ng-click="clickedToggleIgnoreRow(chart, row)">
													    <span class="icon-checkmark2 positive" ng-if="row.ignore"></span>
														<span class="icon-close" ng-if="!row.ignore"></span>
												</span>
												<span class="addRow-wrap top curl-wrapper">
													<span class="curl"
														  title="Add new row here"
														  ng-click="clickedAddNewRow(chart, rowIndex)"></span>
												</span>
												<span class="addRow-simulate top"></span>
												<span class="addRow-wrap curl-wrapper">
													<span class="curl"
														  title="Add new row here"
														  ng-click="clickedAddNewRow(chart, rowIndex+1)"></span>
												</span>
												<span class="addRow-simulate"></span>
											</div>
										</div>
										<div ng-repeat="cell in chart.headers"
											 class="cell noselect Flexbox__flex-1"
											 ng-class="{'ignored':row.ignore || cell.ignore}">
											<div class="btn-edit-cell" ng-if="!row.ignore && !cell.ignore" ng-click="clickedEditCellValue(row, cell.ref, chart, $event)">
												<div title="edit cell value"><span class="icon-pencil"></span></div>
											</div>
											<span ng-click="clickedCell(row, cell.ref)" ng-class="{'clicked':row.cells[cell.ref].clicked}">{{row.cells[cell.ref].label | formats: cell.format}}&nbsp;</span>
										</div>
									</div>
									<div class="Flexbox"><div class="left-spacer"></div><div class="cell Flexbox__flex-1"></div></div>
								</div>
							</div>
						</div>
						<div ng-repeat="(sectionIndex, section) in listData"
							 class="main-section-wrap">
							<div>
								<div class="header divider"
									 ng-init="expandedSection[sectionIndex]=false;"
									 ng-class="{'expanded':expandedSection[sectionIndex]}">
									<div ng-click="expandedSection[sectionIndex]=!expandedSection[sectionIndex]">
										<span class="btn-expand" ng-class="{'icon_plus':!expandedSection[sectionIndex], 'icon_minus':expandedSection[sectionIndex]}"></span>
										<span class="label">{{section.div_label}}</span>
									</div>
								</div>
								<div  ng-repeat="line in section.lines"
									  ng-if="line.headers.length>0"
									  collapse="!expandedSection[sectionIndex]"
									  class="row row-table">
									<div class="Flexbox headers-row">
										<!--<div class="left-spacer">&nbsp;</div>-->
										<div ng-repeat="header in line.headers"
											 class="cell Flexbox__flex-1">
											<span>{{header.label}}</span>
										</div>
									</div>
									<div ng-repeat="(rowIndex, row) in line.rows" class="Flexbox top-border-{{rowIndex==0}}">
										<!--<div class="left-spacer">&nbsp;</div>-->
										<div ng-repeat="cell in row.cells"
											 class="cell noselect Flexbox__flex-1">
											<span>{{cell.label | formats: cell.format}}</span>
										</div>
									</div>
									<div ng-show="expandedSection[sectionIndex]"><div class="cell"></div></div>
								</div>

							</div>
						</div>
					</div>
				</div>
				<div class="split-content abstract-doc-container position-relative" id="split-container-right">
					<div class="extra-navigation-buttons">
						<a class="btn abstract-btn" style="margin-right:15px;" ng-click="switchToDocumentView()">Document</a>
						<a class="btn abstract-btn" style="margin-right:2em;" ng-click="switchToEditView()">Edit templateF</a>
					</div>

					<div ui-view="rightPanel"></div>
				</div>
			</div>
		</div>
	</div>
</div>

