<div class="content-wrapper">
    <div class="split-container Flexbox Flexbox__direction-rows" id="split-container">
        <div class="vertical-resizer"
             resizer="vertical"
             resizer-callback="onHideRCM"
             resizer-padding="22"
			 resizer-hide="true"
			 resizer-force-left-width="{{resizer_force_left_width||60}}"
             resizer-parent="#split-container"
             resizer-left-element="#split-container-left"
             resizer-right-element="#split-container-right"><span></span></div>
        <div class="Flexbox__flex-1 height-all">
            <div class="Flexbox height-all">
                <div class="split-content" id="split-container-left">
					<div class="left-side-title">
						{{tenantName}} <span ng-click="backToList()" title="back to {{projectName}}">in <a>{{projectName}}</a></span>
						<span class="suite">Suite: {{tenantSuite}}</span>
					</div>
					<div ng-include="STATIC_PREFIX+APP_FOLDER+'partials/views/legend.html'"></div>
                    <div class="abstract-table main-abstract-table fadeIn" ng-show="abstractData">
						<div>
							<div class="header"
								 ng-init="idx=0;expandedTable[idx]=true"
								 ng-class="{'expanded':expandedTable[idx]}">
								<div ng-click="expandedTable[idx]=!expandedTable[idx]">
									<span class="btn-expand" ng-class="{'icon_plus':!expandedTable[idx], 'icon_minus':expandedTable[idx]}"></span>
									<span class="label">{{abstractData.charts_zone.section_info.label}}</span>
								</div>
							</div>
							<div class="row row-table" collapse="!expandedTable[idx]">
								<div class="Flexbox">
									<div ng-repeat="headers in abstractChartsHeaders"
										 class="cell Flexbox__flex-1">
										{{headers.label}}
									</div>
								</div>
								<div ng-repeat="row in abstractChartsRows" class="Flexbox {{row.period_type=='term'}}">
									<div ng-repeat="cell in abstractChartsHeaders"
										 ng-sglclick="isCellSearch = true;clickedOnCell(row[cell.ref])"
										 ng-dblclick="editCellValue(row[cell.ref], $event)"
										 ng-class="{'pointer': row[cell.ref].doc_id>0, 'confidence': row[cell.ref].confidence!=null}"
										 class="cell noselect Flexbox__flex-1">
										<div ng-if="row[cell.ref].doc_id>0" class="search" ng-click="clickedCellSearch()">
											<div><span class="icon_search"></span></div>
										</div>
										{{row[cell.ref].value | formats: cell.format}}
									</div>
								</div>
							</div>

							<div class="header divider"
								 ng-repeat-start="(outer, data) in abstractData.list"
								 ng-init="expandedDiv[outer]=false"
								 ng-class="{'expanded':expandedDiv[outer], 'first-divider':$first}">
								<div>
									<span class="btn-expand" ng-click="expandedDiv[outer]=!expandedDiv[outer]" ng-class="{'icon_plus':!expandedDiv[outer], 'icon_minus':expandedDiv[outer]}"></span>
									<span class="label" ng-click="expandedDiv[outer]=!expandedDiv[outer]">{{data.div_label}}</span>
								</div>
							</div>
							<div ng-repeat-end collapse="!expandedDiv[$index]" class="abstract-table"
								 ng-init="expandedRow[outer]=[];approvedChecks[outer]=[];">
								<div class="header divider-header"
									 ng-repeat-start="(inner, line) in data.lines"
									 ng-init="expandedRow[outer][inner]=false;approvedChecks[outer][inner]=getRandomInt(0,3);"
									 ng-class="{'expanded':expandedRow[outer][inner]}">
									<div class="Flexbox">
										<span class="btn-expand" ng-click="expandedRow[outer][inner]=!expandedRow[outer][inner]" ng-class="{'icon_plus':!expandedRow[outer][inner], 'icon_minus':expandedRow[outer][inner]}"></span>
										<span class="label noselect" ng-click="expandedRow[outer][inner]=!expandedRow[outer][inner]">{{line.label}}</span>
										<div class="tenant Flexbox__flex-1 noselect" ng-click="clickedOnCell(!expandedRow[outer][inner]?line.rows[0].cells[0]:null);">
											{{line.rows[0].cells[0].label}}
											<span ng-if="line.rows.length==0">[silent]</span>
										</div>
										<div class="btn-approve noselect"
											 ng-click="toggleCheck(outer,inner)">
										<span class="approve-check icon_checkmark"
											  ng-class="checkOptionsArr[approvedChecks[outer][inner]]"
												></span>
										</div>
									</div>
								</div>
								<div ng-repeat-end class="row" collapse="!expandedRow[outer][inner]">
									<div ng-if="line.rows.length>0" class="abstract-header-wrap">
										<div class="Flexbox abstract-header">
											<div class="header-type-letter">
												<span>&nbsp;</span>
											</div>
											<div class="Flexbox__flex-1 cell noselect"
												 ng-repeat="header_cell in line.headers"
												 ng-class="{'no-border':$first}">
												{{header_cell.label|capitalize}}
											</div>
											<div style="width:100px;">
												&nbsp;
											</div>
										</div>
									</div>
									<div ng-repeat="row in line.rows | limitTo:maxRowsOnTable">
										<div class="Flexbox">
											<div class="type-letter">
										<span ng-init="LTR=tempGetLetter(row.cells)"
											  letter="{{LTR}}"></span>
											</div>
											<div class="Flexbox__flex-1 cell noselect"
												 ng-repeat="cell in row.cells"
												 ng-click="clickedOnCell($first?cell:null)"
												 ng-class="{'pointer':$first}"
												 ng-if="!cell.labelg">
												{{cell.label}}
											</div>
											<div style="width:100px;">
												<span ng-if="$first">Primary</span>
											<span ng-if="!$first" class="primary"
												  ng-click="makePrimary(line, row.row_id, $event)">Make Primary</span>
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>


                    </div>
                </div>
                <div class="split-content" id="split-container-right" ng-class="{'multi-view-panel': $state.includes('app.clientAbstract.multiView')}">
					<div ui-view="rightPanel"></div>
                </div>
            </div>
        </div>
		<div class="document-drawer" id="document-drawer" ng-class="{'show-drawer': docDrawer.drawerState>0 && stateParams.docId}">
			<div class="document-drawer-padd height-all">
				<div class="document-drawer-body height-all position-relative Flexbox Flexbox__direction-rows">
					<div class="drawer-collapse-btn" ng-show="docDrawer.enableActions">
						<span ng-class="{'icon-contract2':docDrawer.drawerState==3, 'icon-expand2':docDrawer.drawerState<=2}" ng-click="clickedExpandBtn()"></span>
						<span ng-class="{'icon-checkbox-unchecked':docDrawer.drawerState==1, 'icon-minus':docDrawer.drawerState>1}" ng-click="clickedCollapseBtn()"></span>
					</div>
					<div class="Flexbox__flex-1 position-relative" ng-if="$state.includes('app.clientAbstract.multiView.pdf')">
						<div ui-view="pdfPreview"></div>
					</div>
					<div class="Flexbox__flex-1 position-relative" ng-if="$state.is('app.clientAbstract.multiView.doc') || $state.is('app.clientAbstract.doc')">
						<div ui-view="docPreview"></div>
					</div>
				</div>
			</div>
		</div>
    </div>
</div>
<div class="edit-cell-content" id="edit-cell-content">
	<input type="text" ng-model="editedCell.value"/>
	<span class="icon-cancel-circle cancel" ng-click="unEditCell($event)"></span>
	<span class="icon-checkmark-circle" ng-click="saveEditedCell($event)"></span>
</div>