<div class="mv-title right-side-title" ng-if="queryId && stateParams.q">Search Results for: '{{queryLabel}}'</div>
<div class="mv-title right-side-title" ng-if="!queryId || !stateParams.q">&nbsp;</div>
<div class="multi-view-container fadeIn" ng-show="stateParams.q">
	<div class="multi-view-scroll">
		<div ng-if="resultsDirectData" class="multi-view-section-title">Direct results</div>
		<div class="multi-view"
			 ng-class="{'active':view.document.id == stateParams.docId && ( (view.start_token+'-'+(view.start_token+view.no_of_tokens) == stateParams.phrase) || view.id == stateParams.annotationId )}"
			 ng-repeat="view in resultsDirectData">
				<div>
					<div class="mv-header" ng-click="redirectToDocument(view)">{{view.document.name}}</div>
					<div class="mv-body" ng-bind-html="view.quote"></div>
				</div>
		</div>
		<div ng-if="resultsAdditionalData" class="multi-view-section-title" style="padding-top: 25px;">Additional results</div>
		<div class="multi-view"
			 ng-class="{'active':view.document.id == stateParams.docId && ( (view.start_token+'-'+(view.start_token+view.no_of_tokens) == stateParams.phrase) || view.id == stateParams.annotationId )}"
			 ng-repeat="view in resultsAdditionalData">
				<div>
					<div class="mv-header" ng-click="redirectToDocument(view)">{{view.document.name}}</div>
					<div class="mv-body" ng-bind-html="view.quote"></div>
				</div>
		</div>
	</div>
</div>