<div class="content-header-wrap admin-header">
    <div class="content-header-inner-wrap">
        <div class="Flexbox Flexbox__just-space-around content-header">
            <div class="Flex__inline content-header-left">
                <h1>Admin</h1>
                <div class="search-box">
                    Search company:&nbsp;&nbsp;<input type="text" class="Form__field auto-search" ng-model="searchCompany" value=""/>
                </div>
            </div>
        </div>
        <div class="bottom-line"><div></div></div>
    </div>
</div>
<div class="Flexbox admin-page-list">
	<div class="Flexbox__flex-1 Flexbox Flexbox__direction-rows" style="padding-right:20px;">
		<h4>Please choose company: ({{clientView}})</h4>
		<div class="Flexbox Flexbox__flex-1 company-list-wrapper">
			<ul>
				<li ng-repeat="account in organizations | filter:searchCompany">
					<!--<a ng-href="{{clientView=='client'?$state.href('app.dashboard', {'accountId': account.id}):$state.href('app.treeView', {'orgId': account.id})}}">-->
					<a ng-href="{{clientView=='client'?$state.href('app.dashboard', {'accountId': account.id}):$state.href('app.treeView', {'orgId': account.id})}}">
						<div style="width:300px;">{{account.label}}</div>
						<div>{{account.id}}</div>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="Flexbox__flex-1 Flexbox Flexbox__direction-rows" style="padding-left:20px;">
		<h4>System Configuration</h4>
		<div class="Flexbox Flexbox__flex-1 company-list-wrapper" style="padding-left:10px;">
			<ul>
				<li>
					<div class="config-label">View mode</div>
					<div class="toggle-bg toggle-alternate view"
						 ng-class="{'on':clientView=='client'}">
						<label ng-class="{'on':clientView=='client'}">{{clientView}}</label>
						<input type="radio" name="toggleView" value="normal" ng-model="clientViewRadio" ng-click="switchView()">
						<input type="radio" name="toggleView" value="client" ng-model="clientViewRadio" ng-click="switchView()">
						<span class="switch {{clientView}}"></span>
					</div>
				</li>
				<li ng-repeat="item in configItems">
					<div class="config-label">{{item.displayName}}</div>
					<div class="toggle-bg toggle-alternate view"
						 ng-class="{'on':item.value=='true'}">
						<label ng-class="{'on':item.value=='true'}">{{item.value=='true'?'On':'Off'}}</label>
						<input type="radio" name="toggle{{item.id}}" value="false" ng-model="item.value" ng-change="switchConfigItem(item)">
						<input type="radio" name="toggle{{item.id}}" value="true" ng-model="item.value" ng-change="switchConfigItem(item)">
						<span class="switch"></span>
					</div>
				</li>


			</ul>
		</div>
	</div>

    <!--<div ng-if="$state.is('app.adminViewDebug')">
        <br/><br/>
        <div>Debug mode:</div>
        <div class="toggle-bg toggle-alternate {{debug}}">
            <label class="{{debug}}">{{debug}}</label>
            <input type="radio" name="toggle" value="off" ng-model="debug" ng-click="debugModeChanged('off')">
            <input type="radio" name="toggle" value="on" ng-model="debug" ng-click="debugModeChanged('on')">
            <span class="switch {{debug}}"></span>
        </div>
    </div>-->

</div>