<form novalidate name="myFormNg" class="Flexbox Flexbox__direction-rows ">
	<div class="project-modal Flexbox__flex-1">
		<div>
			<label>Creation date</label>
			<span>{{date | formats: 'date'}}</span>
		</div>
		<div>
			<label>Project name</label>
			<input type="text" name="projectName" ng-model="proj.projectName" required="true" ng-minlength='5' ng-class="{'field-required': myFormNg.$dirty && !myFormNg.projectName.$pristine && myFormNg.projectName.$error.required}"/>
		</div>
		<div>
			<label>Address</label>
			<input type="text" name="projectAddress" ng-model="proj.projectAddress"/>
		</div>
		<div>
			<label>Import Rentroll document</label>
			<input type="file" nv-file-select uploader="uploader" style="border:none;"/><br/>
			<!--<ul>
				<li ng-repeat="item in uploader.queue">
					Name: <span ng-bind="item.file.name"></span><br/>
					<button ng-click="item.upload()">upload</button>
				</li>
			</ul>-->
		</div>
	</div>
	<div class="modal-footer clearfix" style="padding-right:0;">
		<div class="text__rev">
			<button ng-disabled="!myFormNg.projectName.$valid || !myFormNg.projectAddress.$valid" class="Btn Btn__action" ng-click="$modalOk()">Create</button>
			<button class="Btn Btn__negative pointer" ng-click="$modalCancel()">cancel</button>
		</div>
	</div>
</form>

