<!--<div class="pane-title">
	Tenants <span ng-show="projectsList">({{projectsList.length}})</span>
	<a class="btn" ng-click="showNewProjectModal()">+ Add new property</a>
</div>-->
<div class="pane-title header-wrapper-properties">
	<div class="grid-list-toggle">
		<span  ng-click="clickedToggleGrid()"
			   ng-class="{'icon-grid-alt':showPropertiesInList, 'icon-menu':!showPropertiesInList}"></span>
	</div>          <!--{{showPropertiesInList?'grid':'list'}}-->

	<div class="drop-down" ng-class="{'available': sortAvailable}">
		<span>
			Sort by:&nbsp;{{sort_list_name}}&nbsp;<span class="icon-arrow-down"></span>
			<div>
				<ul>
					<li ng-repeat="item in sortOptions" ng-click="changeSort(item)">
						<a>{{item.label}} <span ng-show="item.selected"><span ng-if="sort=='reverse'">&#x25B2;</span><span ng-if="sort!='reverse'">&#x25BC;</span></span></a>
					</li>
				</ul>
			</div>
		</span>
	</div>

	<div class="properties-filter">
		<input type="text"
			   ng-keyup="filterChanged()"
			   ng-model="filterProperties"/>
		<span class="icon_filter"></span>
		<span class="icon-close" ng-if="filterProperties.length>0" ng-click="clearFilter()"></span>
	</div>
	<a class="btn" ng-click="showNewProjectModal()">+ Add new property</a>
</div>
<div class="properties-wrapper" mixitup='mixitup' id="mixitup">                       <!-- | orderBy: sort_list_option: sort  | filter: filterProperties-->
	<div ng-repeat="project in projectsList track by $index"
		 pname="{{project.name.trim()}}"
		 class="mix"
		 data-myorder="{{project[sort_list_option]}}">
		<div class="project-cube Flexbox Flexbox__direction-rows">
			<div class="signed" ng-if="project.signed"><div>Signed</div></div>
			<div class="project-cube-inner Flexbox__flex-1" ng-click="addExtraTab(project)">
				<a class="project-cube-title">
					{{project.name}}
				</a>
				<div class="project-cube-text">
					Address: {{ project.address }}
				</div>
				<div class="project-cube-text turquoise">
					{{ project.numOfStores }} tenants
				</div>
				<div class="project-cube-text turquoise">
					{{ project.numOfDocs }} docs
				</div>
				<div class="project-cube-text">
					Rentroll completeness
				</div>
				<div class="project-cube-text">
					Last Modified: {{project.upload_date | formats: 'date'}}
				</div>
			</div>
			<div class="bottom-actions"
				 property-id="{{project.id}}"
				 ngf-drop
				 drag-over-get-id
				 ng-model="$parent.files"
				 ngf-drag-over-class="dragover"
				 ngf-multiple="true"
				 ngf-allow-dir="true">
				<span>Drop folders here</span>
			</div>
		</div>
	</div>
</div>
