<div class="content-header-wrap">
    <div class="content-header-inner-wrap">
        <div class="Flexbox Flexbox__just-space-around content-header">
            <div class="Flex__inline content-header-left" style="width:100%;">
                <h1 ng-show="objType">{{viewName | capitalize}} <label>for {{objType}} {{objName}} <span>(id:{{nodeId}})</span></label></h1>
                <h1 ng-show="!objType">&nbsp;</h1>
                <div ng-show="tableData">
                    <label>Docs:</label><span>{{tableData.length}}</span><span>&nbsp;|</span>
                    <label>Total Clauses:</label><span>{{clausesFound}}</span><span>&nbsp;|</span>
                </div>
            </div>
        </div>
        <div class="bottom-line"><div></div></div>
    </div>
</div>
<div class="split-container Flexbox Flexbox__direction-rows" id="split-container">
    <div class="vertical-resizer"
         resizer="vertical"
         resizer-callback="onHideRCM"
         resizer-padding="22"
         resizer-parent="#split-container"
		 resizer-force-left-width="{{resizer_force_left_width||50}}"
         resizer-left-element="#split-container-left"
         resizer-right-element="#split-container-right"><span></span></div>
    <div class="Flexbox__flex-1 height-all">
        <div class="Flexbox height-all">
            <div class="split-content" id="split-container-left" style="overflow: hidden;">
                <div class="trainPredict">
                    <div class="main-loading" ng-show="!tableData && !error400" style="margin-top: 50px;"></div>
                    <div ng-show="error400" class="predict-error-400">{{error400}}</div>
                    <div class="trainPredict-details" ng-show="tableData" ng-if="viewLogicName=='predict'">
						<label>Show Clauses:</label>
						<span>
							<select ng-options="item.value as item.label for item in clausesNamesFound"
									style="width:120px;"
									ng-model="selectedClause">
							</select>
						</span>
						<span>
							<span>&nbsp;|</span>
							<label>Diff:</label>
							<span>{{diff_found_text}}</span>
							<span ng-if="diff_found>0">
								<span>&nbsp;|&nbsp;</span>
								<label>
									<input type="checkbox" ng-model="diff.showDiffOnly" ng-change="changeDiffVisibility()"/>
									<span style="font-weight: normal;">&nbsp;Show diff only</span>
								</label>
							</span>
						</span>
						<span>&nbsp;|</span>
						<label title="re-calculate" class="pointer" style="padding:0;" ng-click="reloadFromServer()">
							<span class="icon-loop"></span>
						</label>
					</div>
					<div class="trainPredict-table-wrap" ng-show="tableData" scroll-sticky-header="tableData">
                        <div ng-repeat="doc in tableData" class="sticky-header">
                            <div>
								<div class="doc-name"
									 title="{{doc.dname}}">
									<span style="font-weight:normal;font-size:80%;">{{$index+1}}.</span> {{doc.fname}} / {{doc.dname}} (#{{doc.doc}})
									<span class="icon-arrow-right" ng-show="docId == doc.doc"></span>
								</div>
							</div>
                            <div class="list-wrapper show-more sticky-body">
                                <div class="list" ng-repeat="row in doc.items" ng-show="diff.showDiffOnly?row.is_diff==true:true">
                                    <div class="row-text"
										 ng-show="selectedClause=='all' || selectedClause==row.class_name"
                                         ng-class="{'active': section == row.pid && docId == doc.doc}"
                                         ng-click="clickedOnLine(row.pid, doc.doc)">
                                        <div class="table-row label_{{row.class}}">
											<div style="width:80%;">{{row.toc2}}<!--|{{doc.doc}}/{{row.pid}}|--></div>
											<div style="width:20%;">{{row.class_name}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="split-content" id="split-container-right" style="overflow: hidden;">
                <div ui-view="rightPanel" class="train_predict_doc"></div>
            </div>
        </div>
    </div>
</div>

