<div class="content-header-wrap">
    <div class="content-header-inner-wrap">
        <div class="Flexbox Flexbox__just-space-around content-header search-page">
            <div class="Flex__inline content-header-left position-relative" style="width:100%;height:75px;">
                <h1>Search Results <label ng-show="phrase"><span>for:</span> "{{phrase}}"</label> <span>in {{obj_type}} {{obj_name}}</span></h1>
				<div class="save-search">
					Save this search as:
					<input type="text"
						class="Form__field"
						ng-model="newQueryTemplateName"
						ng-focus="focusNew=true"
						placeholder="Set new name"/>
					<span class="buttons">
						<span ng-if="newQueryTemplateName.length>0">
							<a class="assign-category-go"
							   ng-click="saveQueryTemplate()">
								<b>SAVE</b>
							</a>
						</span>
					</span>
				</div>
				<div class="search-box-in-search-page">
					<span>Search:</span>
					<input type="text" class="Form__field"
						   id="searchPhrase"
						   placeholder="Search Phrase"
						   ng-enter="runSearchAgain()"
						   ng-model="newSearchPhrase"
						   ng-class="{'has-content':newSearchPhrase}"/>
					<a ng-click="applyHistoryToSearch();" class="btn-history" title="last search">
						<span class="icon-history"></span>
					</a>
					<div class="btn-search"
						 ng-click="runSearchAgain()"
						 ng-if="newSearchPhrase">
						<span class="icon-search"></span>
					</div>
				</div>
            </div>
        </div>
        <div class="bottom-line"><div></div></div>
    </div>
</div>
<div class="split-container Flexbox Flexbox__direction-rows" id="split-container" style="padding-top:65px;">
    <div class="vertical-resizer"
		 style="top:65px;"
         resizer="vertical"
         resizer-callback="onHideRCM"
         resizer-padding="22"
         resizer-parent="#split-container"
		 resizer-force-left-width="{{resizer_force_left_width||50}}"
         resizer-left-element="#split-container-left"
         resizer-right-element="#split-container-right"><span></span></div>
    <div class="Flexbox__flex-1 height-all">
        <div class="Flexbox height-all">
            <div class="split-content search" id="split-container-left" ng-class="{'labeling-mode':labelingMode}">
				<div class="search-query-template">
					<span>
						<span ng-click="clickedLabeling();" class="pointer">
							<span class="icon-tag2"></span>
							&nbsp;Query labeling
						</span>
						<div class="paging-search-results" ng-show="currentResultPage">
							<a class="icon-arrow-left2"
							   ng-click="moreResults(prevResultPage)"
							   ng-class="{'disabled':!prevResultPage}" title="Previous results"></a>
							<span>{{currentResultPage||' '}}</span>
							<a class="icon-arrow-right2"
							   ng-click="moreResults(nextResultPage)"
							   ng-class="{'disabled':!nextResultPage}" title="Next results"></a>
						</div>
					</span>
					<div class="labeling-actions fadeIn" ng-show="labelingMode">
						<span class="selected-text">
							<span>Selected documents: {{SelectedDocs.length}}</span>
							<span>&nbsp;|&nbsp;</span>
							<span>Selected paragraphs: {{SelectedParagraphs.length}}</span>
						</span>
						<span class="buttons">
							<span ng-if="!allSelected"><a ng-click="selectAll(true)"><span class="icon-checkmark-circle"></span>&nbsp;Select all</a></span>
							<span ng-if="allSelected"><span class="icon-checkmark-circle"></span>&nbsp;Select all</span>
							<span>&nbsp;|&nbsp;</span>
							<span ng-if="SelectedDocs.length>0 || SelectedParagraphs.length>0"><a ng-click="selectAll(false)"><span class="icon-cancel-circle"></span>&nbsp;Deselect all</a></span>
							<span ng-if="SelectedDocs.length==0 && SelectedParagraphs.length==0"><span class="icon-cancel-circle"></span>&nbsp;Deselect all</span>
						</span>
						<div class="categories-color-picker" ng-if="SelectedDocs.length>0 || SelectedParagraphs.length>0">
							<span ng-click="showCategories.range=!showCategories.range">
								<span class="category__{{selectedCategory.id}}">{{selectedCategory.name || 'Select Category'}}</span>
							</span>
							<ul ng-if="showCategories.range">
								<li ng-repeat="clr in classCategories | orderBy:'name'">
									<span class="category__{{clr.id}}"
										  ng-init="focusName=false;clr.tempName=clr.display_name || clr.name">
										<label ng-if="!editMode"
											   ng-click="setCategory(clr);">{{clr.display_name || clr.name}}</label>
										<input type="text" ng-model="clr.tempName"
											   ng-focus="focusName=true"
											   focus-me="clr.tempName"
											   placeholder="Category name"
											   ng-if="editMode"/>
										<span class="icon-pencil"
											  ng-show="!editMode"
											  ng-click="editMode=true;"></span>
										<span class="icon-checkmark-circle"
											  ng-show="editMode"
											  ng-click="focusName=false;editMode=false;updateCategoryName(clr);"></span>
									</span>
								</li>
								<li>
									<span class="new-cat" ng-init="focusNew=false">
										<input type="text"
											   ng-model="newCategory"
											   ng-focus="focusNew=true"
											   placeholder="Set new category"/>
										<span class="icon-checkmark-circle" ng-show="focusNew==true"
											  ng-click="focusNew=false;setNewCategory(newCategory);newCategory=null;"></span>
									</span>
								</li>
							</ul>
						</div>
						<span class="buttons">
							<span ng-if="(SelectedDocs.length>0 || SelectedParagraphs.length>0) && selectedCategory.id">
								<a class="assign-category-go"
								   ng-click="assignCategoryToParagraph()">
									<b>SET</b>
								</a>
							</span>
						</span>
					</div>
				</div>
                <div class="search-container">
                    <div class="main-loading" ng-show="!tableData"></div>
					<div ng-show="tableData.length==0 || tableData[0].list.length==0" class="search-error-400">No result found</div>
                    <div class="search-table-wrap" ng-hide="tableData.length==0 || tableData[0].list.length==0">
                        <div ng-repeat="doc in tableData"
							 ng-init="hover_doc=false;"
							 ng-class="{'hovered':hover_doc || checkedItems[doc.head.doc].clicked, 'isSelected':checkedItems[doc.head.doc].doc}"
							 ng-show="doc.list && doc.list.length > 0">
							<div class="select-doc"
								 ng-mouseenter="hover_doc=true" ng-mouseleave="hover_doc=false">
								<input type="checkbox" ng-model="checkedItems[doc.head.doc].doc" ng-click="clickedDocCheck(doc.head.doc)"/>
							</div>
                            <div class="doc-name"
                                 title="{{doc.head.dname}}">
                                {{doc.head.fname}} / {{doc.head.dname}} (#{{doc.head.doc}})
                            </div>
                            <div class="doc-info" title="{{doc.head.dname}}">
                                Status: <span>aaaaa</span>
                                Last updated: <span>21/12/2014</span>
                                By: <span>someone1</span>
                                Path: <span>www</span>
                            </div>
                            <div class="list-wrapper" ng-class="{'show-more': toggleMore, 'show-constraints': toggleConstraints}">
                                <div class="list"
									 ng-init="hover_item=false"
									 ng-repeat="row in doc.list track by $index"
									 ng-class="{'hovered':hover_item && !checkedItems[doc.head.doc].blink>0, 'isSelected':checkedItems[doc.head.doc].list[$index].value && !checkedItems[doc.head.doc].doc}"
									 ng-hide="toggleConstraints">
                                    <div ng-bind-html-unsafe="row.text"
                                         class="row-text"
                                         ng-class="{'active': row.pid && sectionId == row.pid && docId == doc.head.doc}"
                                         ng-click="clickedOnLine(row.pid, doc.head.doc)"></div>
									<span ng-if="!row.pid" class="no-pid icon_warning" title="no pid"></span>
									<!--|{{doc.head.doc}}>{{row.pid}}|-->
									<div class="select-doc"
										 ng-mouseenter="hover_item=true" ng-mouseleave="hover_item=false"
										 ng-init="">
										<input type="checkbox" ng-model="checkedItems[doc.head.doc].list[row.pid].value" ng-change="changedParaCheck(doc.head.doc)"/>
									</div>
									<div class="pid">
										 {{row.pid}}
									</div>
                                </div>
                                <div class="list-constraints"
                                     ng-repeat="crow in doc.user_constraints track by $index"
                                     ng-class="{'active': selectedPhraseIndex == $index && docId == doc.head.doc}"
                                     ng-click="clickedOnLine(crow.phrase, doc.head.doc, 'phrase', $index)">
                                    <div>{{crow.line_name}}</div>
                                    <div>{{crow.text}}</div>
                                </div>
                                <div class="more" ng-if="doc.list.length>1">
                                    <a class="pointer" ng-class="{'active': $parent.toggleMore}" ng-click="$parent.toggleMore=!$parent.toggleMore;$parent.toggleConstraints=false;">
                                        <span ng-class="{'icon-plus': !$parent.toggleMore, 'icon-minus': $parent.toggleMore}"></span>
                                        {{$parent.toggleMore?'Less results':(doc.list.length-1) + ' More results'}}
                                    </a>
                                </div>
                                <div class="constraints" ng-if="doc.user_constraints.length>0">
                                    <a class="pointer" ng-class="{'active': $parent.toggleConstraints}" ng-click="$parent.toggleConstraints=!$parent.toggleConstraints;$parent.toggleMore=false;">
                                        <span ng-class="{'icon-plus': !$parent.toggleConstraints, 'icon-minus': $parent.toggleConstraints}"></span>
                                        {{$parent.toggleConstraints?'Hide User Constraints':(doc.user_constraints.length-1) + ' User Constraints'}}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="split-content" id="split-container-right" style="overflow: hidden;">
                <div ui-view="rightPanel" class="search_doc"></div>
            </div>
        </div>
    </div>
</div>


