<div id="docRCMenu">
    <ul class="context-menu">
        <li ng-repeat="item in rightMenuItems" ng-if="(angular.isDefined(item.condition)?item.condition:true)">
            <span ng-if="item.disable">{{item.label}}<span ng-if="item.rightIcon" class="{{item.rightIcon}}"></span></span>
            <a ng-click="clickItem(item.callback, item.vars)" rel="{{item.action}}" ng-if="!item.disable && item.label">{{item.label}}<span ng-if="item.rightIcon" class="{{item.rightIcon}}"></span></a>
            <em ng-if="!item.label"></em>
        </li>
    </ul>
    <div class="add-note-dialog">
        <div class="title">{{noteDialogTitle}}</div>
        <div class="Flex__fluid" style="width:200px;">
            <textarea type="text" ng-model="newNote" class="Form__field" name="newNote" id="newNote"></textarea>
        </div>
        <div class="Flex__fluid buttons-wrap">
            <button class="" ng-click="saveNote();"><span class="icon-checkmark-circle"></span></button>
            <button class="cancel" ng-click="dialogCancel();"><span class="icon-cancel-circle"></span></button>
        </div>
    </div>
</div>