<div class="section_selection_modal">
    Please select:
    <ul class="templates_list">
        <li ng-repeat="item in list"
            ng-click="tst_selected(item)"
            ng-dblclick="tst_select_n_go(item)"
            ng-class="{'active':selectedTst.tst_id==item.tst_id}"
            class="prevent-selection">
            <div>{{item.name}} </div>
        </li>
    </ul>
</div>
