<div class="right-accordion-inner-wrap">
    <!--<div ng-include="WHAT_CAN_YOU_DO" class="Flexbox"></div>-->
    <div class="bottom-line bottom-line-right-accordion"><div></div></div>
    <div class="right-accordion">
        <div class="title">Inside This Document</div>
        <accordion close-others="oneAtATime">
            <accordion-group is-open="isopenToC" ng-class="{'expanded': isopenToC}">
                <accordion-heading>
                    <i ng-class="{'icon-arrow-down': isopenToC, 'icon-arrow-right': !isopenToC}"></i>
                    Table of Contents
                    <span class="icon" ng-show="isopenToC" ng-class="{'icon-eye':!hideUnlabled, 'icon-eye-blocked':hideUnlabled}" ng-click="showHideLabels();$event.stopPropagation()"></span>
                </accordion-heading>
                <legend-tree items="toc_tree" class="legend-tree-holder"></legend-tree>
            </accordion-group>
            <accordion-group is-open="isopenTermSheet" ng-class="{'expanded': isopenTermSheet}">
                <accordion-heading>
                    <i ng-class="{'icon-arrow-down': isopenTermSheet, 'icon-arrow-right': !isopenTermSheet}"></i> TermSheet
                </accordion-heading>
                <legend-tree items="termsheet_tree" class="legend-tree-holder"></legend-tree>
            </accordion-group>
            <accordion-group is-open="isopenAmendments" ng-class="{'expanded': isopenAmendments}">
                <accordion-heading>
                    <i ng-class="{'icon-arrow-down': isopenAmendments, 'icon-arrow-right': !isopenAmendments}"></i> Amendments
                </accordion-heading>
                This is just some content to illustrate fancy headings.
            </accordion-group>
            <accordion-group is-open="isopenNotes" ng-class="{'expanded': isopenNotes}">
                <accordion-heading>
                    <i class="icon-arrow-right" ng-class="{'icon-arrow-down': isopenNotes, 'icon-arrow-right': !isopenNotes}"></i> Notes
                </accordion-heading>
                This is just some content to illustrate fancy headings.
            </accordion-group>
            <accordion-group is-open="isopenDefinitions" ng-class="{'expanded': isopenDefinitions}">
                <accordion-heading>
                    <i ng-class="{'icon-arrow-down': isopenDefinitions, 'icon-arrow-right': !isopenDefinitions}"></i> Definitions
                </accordion-heading>
                This is just some content to illustrate fancy headings.
            </accordion-group>
        </accordion>
    </div>
</div>