<div class='search-modal'>
    <ng-form name="searchForm" novalidate ng-submit="clickedSearch()">
        <div>Search in {{nodeType}} ({{nodeId}}) for:</div>
        <div class="search-phrase-wrapper">
			<input type='text' ng-model='query.searchPhrase'
				   focus-me="query.searchPhrase"
				   ng-focus="toggleSearchHistory(false)"
				   placeholder="Search Phrase"
				   ng-enter="clickedSearch()"
				   class='Form__field'
				   id='searchPhrase'/>
			<span class="icon-restore"
				  ng-show="!showNamedSearchHistory && !showSearchHistory"
				  title="Search history"
				  ng-click="toggleSearchHistory()"></span>
			<span class="named-history icon-youtube_searched_for"
				  ng-show="!showNamedSearchHistory && !showSearchHistory"
				  title="Named search history"
				  ng-click="toggleNamedSearchHistory()"></span>
			<span class="icon-arrow-up"
				  ng-show="showNamedSearchHistory || showSearchHistory"
				  title="Named search history"
				  ng-click="collapseHistory()"></span>
			<div class="search-history" ng-if="search_history && showSearchHistory">
				 <ul>
					 <li ng-repeat="item in search_history">
						<a ng-click="clickedHistoryItem(item);">
							<div>
								<label>"</label>{{item.query_text}}<label>"</label>
							</div>
							<div class="Flexbox">
								<div class="Flexbox__flex-1">
									<label>By:&nbsp;</label>{{item.user}}
								</div>
								<!--<div class="Flexbox__flex-1">
									<label>ID:&nbsp;</label>{{item.id}}
								</div>-->
								<div class="Flexbox__flex-1 right-align">
									{{item.insertion_date | formats:'dateTime'}}
								</div>
							</div>
						</a>
					 </li>
				 </ul>
			</div>
			<div class="search-history" ng-if="named_search_history && showNamedSearchHistory">
				 <ul>
					 <li ng-repeat="item in named_search_history">
						<a ng-click="clickedHistoryItem(item);">
							<div>
								<label>"</label>{{item.query_text}}<label>"</label>
							</div>
							<div class="Flexbox">
								<div class="Flexbox__flex-2">
									<label>By:&nbsp;</label>{{item.user}}
								</div>
								<div class="Flexbox__flex-3">
									<label>Name:&nbsp;</label>{{item.display_name}}
								</div>
								<div class="Flexbox__flex-1 right-align">
									{{item.insertion_date?(item.insertion_date | formats:'dateTime'):'no date'}}
								</div>
							</div>
						</a>
					 </li>
				 </ul>
			</div>
		</div>
        <!--<div ng-show="toggleAdvanced" class="advanced">
            <div>Search title phrase:</div>
            <input type='text' ng-model='searchPhraseTitle' placeholder="Title" class='Form__field'/>
            <hr/>
            <div class="advanced-search-add">
                <button class="Btn Btn__small Btn__action" ng-click="addLine()" ng-disabled="newConstraints.length>0 && !newConstraints[newConstraints.length-1].value">Add new line</button>
            </div>
            <hr ng-show="newConstraints.length>0"/>
            <ul class="advanced-search-list" ng-init="constraints=[]">
                <li ng-repeat="line in newConstraints track by $index" class="new-lines">
                    <div>
                        <select ng-model="newConstraints[$index]"
                                ng-change="newConstraints[$index].op=''"
                                ng-options="(obj) as obj.line_name for obj in advancedSearchData.lines">
                            <option value="">Please select</option>
                        </select>
                    </div>
                    <div>
                        <select ng-if="newConstraints[$index].line_type"
                                ng-model="newConstraints[$index].op"
                                ng-init="newConstraints[$index].op=''"
                                ng-options="obj.sym as obj.print for obj in advancedSearchData.operands[newConstraints[$index].line_type]">
                            <option value="">Please select</option>
                        </select>
                    </div>
                    <div>
                        <div ng-if="newConstraints[$index].op">
                            <input type='text'
                                   ng-if="newConstraints[$index].line_type!='date'"
                                   ng-model='newConstraints[$index].value'
                                   ng-init="newConstraints[$index].value=''"
                                   class='Form__field'
                                   maxlength="30"/>
                            <quick-datepicker
                                    ng-if="newConstraints[$index].line_type=='date'"
                                    ng-init="newConstraints[$index].value=today"
                                    ng-model='newConstraints[$index].value'
                                    ng-class="{'has-value':newConstraints[$index].value}"
                                    class='Form__field'></quick-datepicker>
                        </div>
                    </div>
                </li>
            </ul>
        </div>-->
    </ng-form>
</div>
