<div class="top-right-dark-box">
    <h3 class="Flexbox">What can you do?</h3>
    <div class="Flexbox Flexbox__flex-3">
        <label class="Flexbox__flex-1">Action:</label>
        <select class="Flexbox__flex-3">
            <option></option>
            <option></option>
            <option></option>
        </select>
    </div>
    <div class="Flexbox" style="height:7px;"></div>
    <div class="Flexbox Flexbox__flex-4">
        <label class="Flexbox__flex-1">Jump to:</label>
        <select class="Flexbox__flex-3">
            <option></option>
            <option></option>
            <option></option>
        </select>
    </div>
</div>