	<div class="truth-wrap reference-inner">
		<div class="Flexbox reference-list-title-hide">
			<div class="reference-list Flexbox__flex-1">
				<label>Commands</label>
			</div>
			<div class="reference-list Flexbox__flex-1">
				<label>Properties</label>
			</div>
			<div class="reference-list Flexbox__flex-4">
				<label>Clauses</label>
			</div>
		</div>
		<div class="Flexbox">
			<div class="reference-list Flexbox__flex-1 fadeIn">
				<label>Commands</label>
				<ul class="reference-ul">
					<li ng-repeat="command in ref.ref_commandsOptions" ng-class="{'on':ref.ref_selectedCommand == command.value}">
						<a ng-click="ref_selectCommand(command.value)">
							<span>{{command.label}}</span>
							<div class="icon-arrow-right"></div>
						</a>
					</li>
				</ul>
			</div>
			<div class="reference-list Flexbox__flex-1 fadeIn">
				<label>Properties</label>
				<ul class="reference-ul">
					<li ng-repeat="property in ref.ref_properties" ng-class="{'on':ref.ref_selectedProperty == property.value}">
						<a ng-click="ref_selectProperty(property.value)">
							<span>{{property.value}}</span>
							<div class="icon-arrow-right"></div>
						</a>
					</li>
				</ul>
			</div>
			<div class="reference-list Flexbox__flex-4 fadeIn">
				<label>Clauses</label>
				<ul class="reference-ul">
					<li style="border: none;">
						<div class="clause-holder" ng-repeat="ref_clause in ref.ref_clauses">
							<a class="clause-title Flexbox">
								<div>Clause {{ref_clause.id}}</div>
							</a>
							<div class="clause-text"><div>{{ref_clause.text}}</div></div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
