<!--<div class="page-title-wrap">
	<div class="container clearfix">
		<div class="full-width-title truth-breakcrumbs">
			<div>
				<span>
					<span class="truth-page-title">GROUND TRUTH -</span>
					<span>{{projectName}}</span>
					<span ng-if="tenantName">/{{tenantName}}</span>
					<span ng-if="docName" title="{{docName}}">/{{docName}}</span>
					<span ng-if="clauseId">/{{clauseId}}</span>
				</span>
			</div>
			<a class="btn btn-reference" ng-click="toggleReference()">Reference&nbsp;<span class="icon-reply"></span></a>
		</div>
	</div>
</div>-->
<div class="reference-content-wrapper" ng-include="STATIC_PREFIX+APP_FOLDER+'truth/views/reference.html'" collapse="!showReference"></div>
<div class="truth-content-wrapper content-wrapper Flexbox">
	<div class="truth-wrap Flexbox Flexbox__flex-1 stage-{{stage}}">
		<div class="truth-tenants-list" ng-class="{true:'Flexbox__flex-'+currentContentSize, false:'Flexbox__flex-1'}[stage==1]">
			<label ng-click="$state.go('app.clientTenantsView.groundTruth')">Tenants</label>
			<ul class="truth-ul">
				<li ng-repeat="tenant in tenants"
					ng-class="{'on':tenant.id == tenantId}">
					<a ng-href="{{ $state.href('app.clientTenantsView.groundTruth.tenants', {'tenantId': tenant.id}) }}">
						<span>{{tenant.name}} ({{tenant.id}})</span>
						<div class="icon-arrow-right"></div>
					</a>
				</li>
			</ul>
		</div>
		<div class="truth-documents-list" ng-class="{true:'Flexbox__flex-'+currentContentSize, false:'Flexbox__flex-1'}[stage==2]">
			<label ng-click="$state.go('app.clientTenantsView.groundTruth.tenants')">Documents & Clauses</label>
			<ul class="truth-ul">
				<li ng-repeat="doc in documents" ng-class="{'on':doc.id == docId}">
					<a class="document-name"
							title="{{doc.name}}">
						<span ng-click="$state.go('app.clientTenantsView.groundTruth.tenants.documents', {'docId': doc.id})">{{doc.name}} ({{doc.id}})</span>
						<div ng-click="showDocumentInOldView(doc.id)" class="icon-newtab"></div>
					</a>
					<div class="clause-holder" ng-repeat="clause in doc.clauses">
						<a class="clause-title Flexbox"
						   ng-class="{'on':clause.id == clauseId}"
						   ng-href="{{ clause.id?$state.href('app.clientTenantsView.groundTruth.tenants.documents.clauses', {'docId': doc.id, 'clauseId': clause.id}):false }}">
						 	<div title="Clause {{clause.id}}">Clause {{clause.id}}</div>
							<div class="icon-arrow-right"></div>
						</a>
						<div class="clause-text" ng-show="stage==2">{{clause.text}}</div>
					</div>
				</li>
			</ul>
		</div>
		<div class="truth-clauses-list" ng-class="{true:'Flexbox__flex-'+currentContentSize, false:'Flexbox__flex-1'}[stage==3]">
			<label ng-init="hoverRemoveClause=false">
				Commands <span ng-show="clauseId">/ Clause {{clauseId}}</span>
				<button class="add-clause"
					  ng-click="addClause()"
					  ng-show="stage==3"
					  ng-disabled="!docId || (!clauseHasInitialData && clauseId)"
					  title="add clause to document"><span class="icon-plus"></span>
				</button>
				<span class="remove-clause"
					  ng-click="deleteClause()"
					  ng-show="stage==3 && clauseId"
					  ng-mouseenter="hoverRemoveClause=true" ng-mouseleave="hoverRemoveClause=false"
					  title="remove clause from document"><span class="icon-close"></span>
				</span>
				<span style="margin-left:10px;" ng-show="stage==3 && serverProgress.working"><img ng-src="{{IMAGES_PREFIX}}loading.gif"/></span>
			</label>
			<ul class="truth-ul" ng-class="{'red-border':hoverRemoveClause}">
				<li ng-show="stage==3 && !clauseId && docClauses.length==0" class="clause-text">
					<div>
						This document has no clauses.<br/>
						Click "<span class="add-clause-inline" ng-click="addClause()" title="add clause to document">Add Clause</span>" to add clauses.
					</div>
				</li>
				<li ng-show="stage==3 && clauseId" class="clause-text">
					<div ng-if="clauseHasInitialData">
						{{clauseText}}
					</div>
					<div ng-if="!clauseHasInitialData" class="clause-no-initial-data">
						<p ng-if="!initializingClauseData">
							This clause has no initial data nor related text. in order to add initial data:<br/>
							1. Click <span class="here" ng-click="showDocumentInOldView(docId)">here <span class="icon-newtab"></span>&nbsp;</span> to open the document (in new tab)<br/>
							2. In the opened tab select paragraph(s), right click and select "Copy selection data"<br/>
							3. come back to this tab :-)  <br/>
							4. Click <span class="here" ng-click="getCopiedClauseData()">here</span> to insert the copied data and finish the process.<br/>
							<span class="no-copied-data"><span class="fadeIn" ng-show="no_copied_data_message">{{no_copied_data_message}}</span>&nbsp;</span>
						</p>
						<p ng-if="initializingClauseData"><br/><img ng-src="{{IMAGES_PREFIX}}loading.gif" style="margin-left:30px;"/><br/><br/></p>
					</div>
				</li>

				<li ng-show="stage==3 && docClauses.length>0" ng-repeat="docClause in docClauses" style="padding:2px 6px;">
					<label class="doc-clauses-label" ng-click="$state.go('app.clientTenantsView.groundTruth.tenants.documents.clauses', {clauseId:docClause.id})">
						Clause {{docClause.id}} <span class="icon-arrow-right"></span>
					</label>
					<div style="padding:10px;">{{docClause.text}}</div>
				</li>
				<li ng-repeat="(commandsCounter,command) in commands" ng-if="stage==3 && clauseId" class="position-relative" ng-class="{'red-border':hoverDeleteCommand}">
					<div class="commands-title" ng-init="hoverDeleteCommand=false">
						Command id: {{command.id}}
						<div class="delete-command"
							 ng-if="commands.length>1"
							 ng-mouseenter="$parent.hoverDeleteCommand=true" ng-mouseleave="$parent.hoverDeleteCommand=false"
							 ng-click="deleteCommand(command, commands)"
							 title="delete command"><span class="icon-close"></span></div>
					</div>
					<div class="commands-holder">
						<label>Command</label>
						<span class="dd-wrap" update-data-on-field="command.command._status" server-progress-check="serverProgress">
							<div dropdown-select="commandSelectOptions"
								   dropdown-model="command.command"
								   dropdown-item-label="value"
								   dropdown-onchange="commandOrModalityOnChange(selected, command, 'command')">
							</div>
						</span>
					</div>
					<div class="commands-holder {{command.periods.length==0?'last-padd':''}}">
						<label>Modality</label>
						<span class="dd-wrap" update-data-on-field="command.modality._status" server-progress-check="serverProgress">
							<div dropdown-select="modalitySelectOptions"
								 dropdown-model="command.modality"
								 dropdown-item-label="value"
								 dropdown-onchange="commandOrModalityOnChange(selected, command, 'modality')">
							</div>
						</span>
					</div>
					<div class="commands-holder periods-commands-holder" ng-repeat="period in command.periods" ng-init="hoverDeletePeriod=false"
						 ng-class="{'red-border':hoverDeletePeriod, 'last-padd':$last}">
						<label class="periods-label">
							Periods <span ng-show="command.periods.length>1">({{$index+1}})</span>
							<div class="delete-period"
								 ng-if="command.periods.length>1"
								 ng-mouseenter="$parent.hoverDeletePeriod=true" ng-mouseleave="$parent.hoverDeletePeriod=false"
								 ng-click="deletePeriod(property.id, period.id, command.id, period, command.periods)"
								 title="delete period"><span class="icon-close"></span></div>
						</label>
						<span>
							<div class="commands-holder-inner">
								<div ng-repeat="property in period.period_properties" ng-init="hoverDelete=false" ng-class="{'red-border':hoverDelete}">
									<div class="delete-property"
										 ng-mouseenter="hoverDelete=true" ng-mouseleave="hoverDelete=false"
										 ng-click="deletePeriodProperty(property.id, period.id, command.id, property, period.period_properties)"
										 title="delete period property"><span class="icon-close"></span></div>
									<span class="dd-wrap" update-data-on-field="property._status" server-progress-check="serverProgress">
										<div dropdown-select="periodSelectOptions"
											 dropdown-model="property.property_name"
											 dropdown-item-label="value"
											 dropdown-onchange="periodsOnChange(selected, property, period.id, command.id, 'property_name')">
										</div>
									</span>
									<span class="input-wrap"
										  ng-repeat="annotation in property.annotations"
										  update-data-on-field="annotation._status" server-progress-check="serverProgress">
										<input type="text"
											   ng-model="annotation.orig"
											   ng-class="{'no-value':!annotation.orig || annotation.orig.length==0}"
											   ng-blur="annotationUpdate(annotation, property.id, period.id, command.id, 'orig')"/>
									</span>
								</div>
								<div class="add-property"
									 title="Add new property"
									 ng-click="addProperty(period.id, command.id, 'property_name', period.period_properties)">
									<span class="icon-plus"></span>Add property
								</div>
							</div>
						</span>
					</div>
					<div class="add-period"
						 ng-click="addPeriod(command.id, command.periods)"
						 title="add period"><span class="icon-plus"></span>
					</div>
				</li>
				<span class="add-command"
					  ng-click="addCommand()"
					  ng-show="stage==3 && clauseId"
					  title="add command to clause"><span class="icon-plus"></span>
				</span>
			</ul>
		</div>
	</div>
</div>