
// Translate Right


.TraslateXRight {
	&.ng-enter, &.ng-leave { @include transition(all .45s cubic-bezier(0,.5,0,1)) }

	&.ng-enter { @include translateX(100%); }
	&.ng-enter-active { @include translateX(0) }
	&.ng-leave { @include translateX(0); }
	&.ng-leave-active { @include translateX(100%); }
}

// Translate Right
.collapse-add { @include transition(max-height .4s ease, opacity .4s ease); }
.collapse-remove{ @include transition(max-height 4s ease, opacity .4s linear); }


.collapse-add { max-height:0px; opacity: 0; }
.collapse-add.collapse-add-active {
	opacity: 1;
	max-height: 150px;
	overflow: hidden;
}

.collapse-remove {
	max-height: 100px; opacity: 1;
	display: block !important;
}
.collapse-remove.collapse-remove-active {
	display: block !important ;
	opacity: 0;
	max-height: 0px;
	overflow: hidden;
}

.collapse {
	position: relative;
	height: 0;
	overflow: hidden;
	@include transition(height 0.35s ease);
}

.popInRight { @include animation(translate3d100-0--100-800, .75s, cubic-bezier(.17, .99, .17, 1), both); }

.fadeIn { @include animation(fadeIn, .5s, linear); }
