
/* pk-core */
.pk-overlay{
    position:fixed;
    height:100%;
    width:100%;
    left:0;
    top:0;
    display:block;
}
.pk-hide{
    display:none;
}
.pk-noselect {
    cursor:default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* pk-draggable */
.pk-drag-draggable {
    cursor:pointer;
    cursor:-webkit-grab;
    cursor:-moz-grab;
}
.pk-drag-draggable.pk-drag-dragging {
    cursor:move;
    cursor:-webkit-grabbing;
    cursor:-moz-grabbing;
}

/* pk-scroll */
.pk-scroll-content:focus, .pk-scroll-content:active {
    outline:0;
}
.pk-scroll-scrolling {
    cursor:default;
}
.pk-scroll-content {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow:hidden;
    //box-sizing:border-box;
    @include border-radius(3px);
    z-index:100;
}
.pk-scroll-trackY, .pk-scroll-trackX {
    position:absolute;
    background:rgba(0, 0, 0, .04);
    cursor:default;
    @include border-radius(10px);
    top:auto;
    display:none;
    overflow:hidden;
}
.pk-scroll-container.pk-scroll-enableY >.pk-scroll-trackY {
    display:block;
}
.pk-scroll-container.pk-scroll-enableX >.pk-scroll-trackX {
    display:block;
}

.pk-scroll-trackY {
    right:5px;
    width:7px;
    top:5px;
    bottom:5px;
    z-index:200;
    @include opacity(0.5);
    @include transition(opacity 0.2s ease-in);
}
.pk-scroll-trackX {
    bottom:5px;
    left:5px;
    right:5px;
    height:7px;
    z-index:210;
    @include opacity(0.5);
    @include transition(opacity 0.2s ease-in);
}
.pk-scroll-floatY, .pk-scroll-floatX {
    position:absolute;
    cursor:default;
    border-radius:10px;
    background:rgba(0, 0, 0, .2);
    @include transition(background 150ms ease-in, height .2s ease);
    box-sizing:border-box;
}
.pk-scroll-floatY:hover, .pk-scroll-floatX:hover, .pk-scroll-floatY.pk-drag-dragging,.pk-scroll-floatX.pk-drag-dragging {
    background:rgba(0, 0, 0, .4);
}
.pk-scroll-floatY {
    top:0;
    height:20%;
    width:7px;//100%;
}
.pk-scroll-floatX {
    height:100%;
    width:20%;
}
.pk-scroll-top-border, .pk-scroll-bottom-border{
    height:3px;
    position: absolute;
    left:0;
    right:0;
    border: 1px solid transparent;
}
.pk-scroll-top-border{
    top:0;
    z-index:150;
    border-bottom:none;
    @include border-radius(3px 3px 0 0);
}
.pk-scroll-bottom-border{
    bottom:0;
    z-index:160;
    border-top:none;
    @include border-radius(0 0 3px 3px);
}
.pk-scroll-left-border{
    width:10px;
    position:absolute;
    left:0;
    top:0;
    bottom:13px;
    z-index:1000;
    display: none;
    background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0)));
    background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 );

}
.pk-scroll-right-border{
    width:10px;
    position:absolute;
    right:0;
    top:0;
    bottom:13px;
    z-index:1000;
    display: none;
    background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1)));
    background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );

}
.pk-scroll-enableY{
    &.pk-border{
        >.pk-scroll-top-border, >.pk-scroll-bottom-border{
            border-color: #444;
        }
    }
}
.pk-scroll-container{
    &.square-top-border{
        .pk-scroll-content{
            @include border-radius(0 0 3px 3px);
            .block-white-bordered{
                border-top-width:0;
                @include border-radius(0 0 3px 3px);
            }
        }
        .pk-scroll-top-border{
            @include border-radius(0);
            &:after{
                @include border-radius(1px 1px 0 0);
            }
        }
    }
    &.square-bottom-border{
        .pk-scroll-content{
            @include border-radius(3px 3px 0 0);
            .block-white-bordered{
                border-bottom-width:0;
                @include border-radius(3px 3px 0 0);
            }
        }
    }
}
.pk-scroll-active{
    .pk-scroll-trackY {
        @include opacity(1);
    }
    .pk-scroll-trackX {
        @include opacity(1);
    }
}
.pk-track-dragging{
    ~.pk-scroll-trackY, ~.pk-scroll-trackX, +.pk-scroll-trackY, +.pk-scroll-trackX{
        @include opacity(1);
    }
}
.pk-max-height{
    @include transition(height .25s ease);
}
// make the global-search scrollbar shown as long as mouse is over it
// (and not only by hovering the scrollable container)
.global-search:hover{
    .pk-scroll-container{
        .pk-scroll-trackY {
            @include opacity(1);
        }
        .pk-scroll-trackX {
            @include opacity(1);
        }
    }
}

.pk-scroll-enableY{
    &.accordion-list-newTicket {
        .newTicket-catalog-item {
            .newTicket-catalog-item-link {
                .hover-icon {
                    right: 20px;
                }
                &:hover {
                    .hover-icon {
                        right: 23px;
                    }
                }
            }
        }
    }
    &.accordion-list li a{
        padding-right: 30px;
        .hover-icon{
            right: 16px;
        }
        &:hover {
            .hover-icon {
                right: 19px;
            }
        }
    }
}
.pk-lr-border{
    .pk-scroll-left-border, .pk-scroll-right-border{
        display: block;
    }
}

