.Popover {
	position: relative;
	overflow: hidden;
	&:hover {
		overflow: visible;
	}
}

.Popover__container {
	position: absolute;
	top: 100%;
	z-index: 2010;
	#{htmlDirection()}: -9999px;
}

/**
 * Regular Popovers sit all the way from the top, flush left.
 */
.Popover {
	&.hover {
		> .Popover__container-inline {
			#{htmlDirection()}: 0;
		}
		> .Popover__container-rev {
			#{htmlDirection-rev()}: 0;
			#{htmlDirection()}: auto;
		}

		/**
		* Alternative Popovers sit all the way from the left, flush top.
		*/
		> .Popover__container-top-flat {
			top: 0;
			#{htmlDirection()}: 0;
		}
		> .Popover__container-top-flat-rev {
			top: 0;
			#{htmlDirection()}: 0;
		}


		/**
		* Alternative Popovers sit all the way from the left, flush top.
		*/
		> .Popover__container-top-inline {
			top: 0;
			#{htmlDirection()}: 100%;
		}
		> .Popover__container-top-rev {
			top: 0;
			#{htmlDirection-rev()}: 100%;
			#{htmlDirection()}: auto;
		}
	}
}

/*
.Popover.hidePopover {
    &:hover, &.active, &:active {
        .Popover__container {
            #{htmlDirection()}: -9999px;
        }
    }
}
*/

