$branchIndent: 15px;
$treePaddingLeft: 15px;
$treeColumn1width:665px;
// $treeColumn1width
$tree-small:   665px !default;
$tree-medium:  700px !default;
$tree-large:   790px !default;
$tree-x-large: 1100px !default;
$treeRecordBorder:#d6e0a3;
$treeHoverBG:#e9f4fb;
//$treeAllColumnswidth:$treeColumn1width / 3; //600
/*
  optional "rel" values:
  * root        - for company - will show small tree icon
  * folder      - will show a folder icon
  * doc         - will show document icon
  * deal        - will show a few documents icon
  * amended-ff0000     - will show colored document (according to HEX color) (might be expanded)
  * version-00ff00     - version of amended document - will show colored document (according to HEX color) - leaf no expanded
*/
.tree-control {
    /* prevent user selection */
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* default */
    font-size: 12px;
    color: #343434;
    text-decoration: none;

    span.fav{
        width: 12px;
        height: 25px;
        display: block;
        position: absolute;
        left:5px;
        background: url("img/tree/icon-fav.png") no-repeat left center;
        cursor: pointer;
        &.active{
            background-position: right center;
        }
    }
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        border: none;
        overflow: hidden;
    }
    li {
        position: relative;
        padding: 0;
        line-height: 22px;
        &.tree-expanded i.tree-leaf-head, &.tree-collapsed i.tree-leaf-head {
            display: none;
        }
        &.tree-expanded i.tree-branch-head, &.tree-collapsed i.tree-branch-head {
            display: table-cell;
            width:1%;
        }
        &.tree-leaf i {
            &.tree-branch-head {
                display: none;
            }
            &.tree-leaf-head {
                display: table-cell;
                width:1%;
            }
        }
        i {
            cursor: pointer;
            padding: 0 17px;
        }
        >div{
            padding: 2px 0;
            border-bottom: 1px solid $treeRecordBorder;
            display: table;
            &:hover{
                background-color: $treeHoverBG;
            }
        }
        .tree-label {
            cursor: default;
            display: flex;
            >div > span, div, span[class*="doc-type"], a[class*="doc-type"]{
                display: inline-block;
                padding: 0 4px;
                overflow:hidden !important;
                -ms-text-overflow: ellipsis;
                text-overflow: ellipsis;
                white-space: nowrap;
                float:left;
            }
            span[class*="doc-type"], a[class*="doc-type"]{
                &.no-text{
                    display: block;
                    margin: 3px auto 0 auto;
                    float: none;
                }
            }
            >div{
                padding: 0;
            }
            >div:first-child{
                padding: 0 50px 0 4px;
                @include breakpoint(small) {
                    width: $tree-small;
                }
                @include breakpoint(medium) {
                    width: $tree-medium;
                }
                @include breakpoint(large) {
                    width: $tree-large;
                }
                @include breakpoint(x-large) {
                    width: $tree-x-large;
                }
                //width: $treeColumn1width;
                border:1px solid transparent;
                line-height:20px;
            }
            .info{
                margin:2px auto 0 auto;
                position: relative;
                display: block;
                width:20px;
                height:20px;
                border:2px solid #fff;
                @include border-radius(10px);
                @include gradient-vertical(#90b6da, #6078a6);
                cursor: pointer;
                &:before{
                    content:"i";
                    position: absolute;
                    left:0;top:0;right:2px;bottom:0;
                    font-style: italic;
                    color:#fff;
                    font-size: 13px;
                    font-family: Georgia, "Times New Roman", serif;
                    text-align: center;
                    line-height: 16px;
                    font-weight: bold;
                }
            }
        }
        &.tree-expanded i, &.tree-collapsed i{
            position: relative;
            >span{
                font-size: 10px;
                line-height: 25px;
                position: absolute;
                left:0;
                top:0;
                bottom:0;
                font-weight: bold;
                color:$green;
                &.icon-L{
                    font-family: $baseFontFamily;
                    color:#7196bc;
                    font-size: 12px;
                    font-weight: normal;
                    line-height: 18px;
                    left:3px;
                    &:before{
                        content: "L";
                    }
                }
            }

        }
        .folder{
            i {
                background: url("img/tree/folder.png") no-repeat center center;
            }
            .tree-label{
                >div:first-child{
                    &.ng-file-over{
                        border:1px dotted dimgray;
                    }
                }
            }
        }
        .deal i {
            background: url("img/tree/deal.png") no-repeat center center;
        }
        .root{
            i {
                background: url("img/tree/root.png") no-repeat left center;
            }
            .tree-label{
                >div:first-child{
                    &.ng-file-over{
                        border:1px dotted dimgray;
                    }
                }
            }
        }
        .amended_letter{
            display: none;
        }
        [class*="amended-"], [class*="version-"]{
            i{
                position:relative;
                overflow: hidden;
                &:before{
                    font-size: 17px;
                    position: absolute;
                    left:15px;
                    top:2px;
                }
                .amended_letter{
                    font-family: $baseFontFamily;
                    position: absolute;
                    left:15px;
                    right:7px;
                    top:2px;
                    text-align: center;
                    display: inline-block;
                    color:#fff;
                    font-weight: bold;
                    font-size: 11px;
                }
            }
            .tree-label{
                color:$turquoise;
            }
        }
        .deal{
            .tree-label{
                color:$turquoise;
            }
        }
        &.tree-leaf{
            .doc{
                i{
                    background: url("img/tree/file.png") no-repeat center center;
                }
                .tree-label{
                    color:$turquoise;
                }
            }
        }
        &.tree-loading{
            span.fav{
                display: none;
            }
            i {background: url("img/tree/loading.gif") no-repeat center center;}
        }
        .tree-selected {
            background-color: #aaddff;
            font-weight: bold;
        }
    }
    >ul{
        padding-top:30px;
        border-top: 1px solid $treeRecordBorder;
        >li{
            >div{
                padding-left: $treePaddingLeft + ($branchIndent * 1);
                .tree-label {
                    >div:first-child{
                        @include breakpoint(small) {
                            width: $tree-small - ($branchIndent * 0);
                        }
                        @include breakpoint(medium) {
                            width: $tree-medium - ($branchIndent * 0);
                        }
                        @include breakpoint(large) {
                            width: $tree-large - ($branchIndent * 0);
                        }
                        @include breakpoint(x-large) {
                            width: $tree-x-large - ($branchIndent * 0);
                        }
                    }
                }
            }
            ul>li{
                >div{
                    padding-left: $treePaddingLeft + ($branchIndent * 2);
                    .tree-label {
                        >div:first-child{
                            @include breakpoint(small) {
                                width: $tree-small - ($branchIndent * 1);
                            }
                            @include breakpoint(medium) {
                                width: $tree-medium - ($branchIndent * 1);
                            }
                            @include breakpoint(large) {
                                width: $tree-large - ($branchIndent * 1);
                            }
                            @include breakpoint(x-large) {
                                width: $tree-x-large - ($branchIndent * 1);
                            }
                        }
                    }
                }
                ul>li{
                    >div{
                        padding-left: $treePaddingLeft + ($branchIndent*3);
                        .tree-label {
                            >div:first-child{
                                @include breakpoint(small) {
                                    width: $tree-small - ($branchIndent * 2);
                                }
                                @include breakpoint(medium) {
                                    width: $tree-medium - ($branchIndent * 2);
                                }
                                @include breakpoint(large) {
                                    width: $tree-large - ($branchIndent * 2);
                                }
                                @include breakpoint(x-large) {
                                    width: $tree-x-large - ($branchIndent * 2);
                                }
                            }
                        }
                    }
                    ul>li{
                        >div{
                            padding-left: $treePaddingLeft + ($branchIndent * 4);
                            .tree-label {
                                >div:first-child{
                                    @include breakpoint(small) {
                                        width: $tree-small - ($branchIndent * 3);
                                    }
                                    @include breakpoint(medium) {
                                        width: $tree-medium - ($branchIndent * 3);
                                    }
                                    @include breakpoint(large) {
                                        width: $tree-large - ($branchIndent * 3);
                                    }
                                    @include breakpoint(x-large) {
                                        width: $tree-x-large - ($branchIndent * 3);
                                    }
                                }
                            }
                        }
                        ul>li{
                            >div{
                                padding-left: $treePaddingLeft + ($branchIndent*5);
                                .tree-label {
                                    >div:first-child{
                                        @include breakpoint(small) {
                                            width: $tree-small - ($branchIndent * 4);
                                        }
                                        @include breakpoint(medium) {
                                            width: $tree-medium - ($branchIndent * 4);
                                        }
                                        @include breakpoint(large) {
                                            width: $tree-large - ($branchIndent * 4);
                                        }
                                        @include breakpoint(x-large) {
                                            width: $tree-x-large - ($branchIndent * 4);
                                        }
                                    }
                                }
                            }
                            ul>li{
                                >div{
                                    padding-left: $treePaddingLeft + ($branchIndent*6);
                                    .tree-label {
                                        >div:first-child{
                                            @include breakpoint(small) {
                                                width: $tree-small - ($branchIndent * 5);
                                            }
                                            @include breakpoint(medium) {
                                                width: $tree-medium - ($branchIndent * 5);
                                            }
                                            @include breakpoint(large) {
                                                width: $tree-large - ($branchIndent * 5);
                                            }
                                            @include breakpoint(x-large) {
                                                width: $tree-x-large - ($branchIndent * 5);
                                            }
                                            //width:$treeColumn1width - ($branchIndent * 5);
                                        }
                                    }
                                }
                                ul>li{
                                    >div{
                                        padding-left: $treePaddingLeft + ($branchIndent*7);
                                        .tree-label {
                                            >div:first-child{
                                                @include breakpoint(small) {
                                                    width: $tree-small - ($branchIndent * 6);
                                                }
                                                @include breakpoint(medium) {
                                                    width: $tree-medium - ($branchIndent * 6);
                                                }
                                                @include breakpoint(large) {
                                                    width: $tree-large - ($branchIndent * 6);
                                                }
                                                @include breakpoint(x-large) {
                                                    width: $tree-x-large - ($branchIndent * 6);
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.tree-header{
    font-weight: bold;
    display: flex;
    width:100%;
    line-height:28px;
    @include gradient-vertical(#ffffff, #f1f1f2);
    border-top: 1px solid $treeRecordBorder;
    border-bottom: 1px solid white;
    &:before, &:after {
        content: " ";
        display: block;
        height: 0;
        visibility: hidden;
    }
    >div:first-child{
        padding-left: $treePaddingLeft + $branchIndent;
        @include breakpoint(small) {
            width: $tree-small + 34 + $branchIndent + $treePaddingLeft; // 34 is the width of the icon of each line
        }
        @include breakpoint(medium) {
            width: $tree-medium + 34 + $branchIndent + $treePaddingLeft; // 34 is the width of the icon of each line
        }
        @include breakpoint(large) {
            width: $tree-large + 34 + $branchIndent + $treePaddingLeft; // 34 is the width of the icon of each line
        }
        @include breakpoint(x-large) {
            width: $tree-x-large + 34 + $branchIndent + $treePaddingLeft; // 34 is the width of the icon of each line
        }
        display: inline-block;
        float:left;
    }
    >div{
        display: inline-block;
        >span{
            display: inline-block;
            padding: 0 4px;
            overflow:hidden !important;
            -ms-text-overflow: ellipsis;
            text-overflow: ellipsis;
            white-space: nowrap;
            float:left;
        }
    }
}

.doc-type{
    width:16px;
    height:18px;
    background:transparent url("img/tree/doc-types.png") no-repeat;
    display: inline-block;
    margin:3px 5px 0 0;
    &.doc{
        background-position: left -60px;
    }
    &.pdf{
        background-position: left -40px;
    }
    &.txt{
        background-position: left 0;
    }
    &.txt-new{
        background-position: left -20px;
    }
    &.ppt{
        background-position: left -80px;
    }
    &.xls{
        background-position: left -100px;
    }
}


