$abstractReviewed: #c7ef92;
$abstractQuestionable: #ffd060;
$abstractMissing: #ff5f5f;
$abstractNotReviewed: #e2e8ee;
$abstractBordersColor: #d6dee5;
$chartHoverBorderColor: $highlightBlue2;
$chartSectionsHeadersColor: #f6f8f9;
$chartSectionsRowsHoverColor: #fbfdfe;
.abstract-single-page{
    .abstract-title-area{
        padding:7px;
        .abstract-top-actions{
            a{
                color:$turquoise;
            }
        }
        .tst-name{
            display: inline-block;
        }
    }

    .abstract-doc-container {
        .doc-container{
            padding: 0;
            position: absolute;
            left: 20px;
            right: 0;
            top: 55px;
            bottom: 0;
            overflow-y: auto;
        }
    }
}
.abstract-table{
    width:100%;
    border-bottom:1px solid $abstractBordersColor;
    >div{
        >div{
            padding:0 5px 0 30px;
            line-height:20px;
            .type-letter{
                text-align: right;
                margin-right:5px;
                display: inline-block;
                span{
                    margin:0 2px 0 0;
                }
            }
        }
        .row{
            >div{
                padding-left: 100px;
                border-top:1px solid $abstractBordersColor;
                &:last-child{
                    border-bottom:1px solid $abstractBordersColor; //transparent
                }
            }
            .cell{
                border:1px solid transparent;
                position: relative;
                background-color: transparent;
                padding-left:10px;
                >span{
                    @include text-overflow();
                }
                &.confidence{
                    background-color: rgba(lightpink, 0.2);
                }
                >.search{
                    display: none;
                    @include opacity(0.4);
                    position: absolute;
                    left:0;
                    top:0;
                    width:20px;
                    height:20px;
                    >div{
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 20px 20px 0 0;
                        border-color: #33b6e6 transparent transparent transparent;
                        >span{
                            color:#fff;
                            position: absolute;
                            left:0;
                            top:1px;
                            font-size:12px;
                        }
                    }

                }
                &:hover{
                    background-color: rgba(#fff, 0.3);
                    >.search {
                        display: block;
                        &:hover{
                            @include opacity(0.8);
                        }
                    }
                }
                &.edit-mode-cell{
                    background-color: #fff;
                    border-color:#cdd9c0;
                    >.edit-cell-content{
                        display: block;
                    }
                }
            }
            .primary{
                color: $highlightBlue2;
                cursor: pointer;
                &:hover{
                    color: darken($highlightBlue2, 10%)
                }
            }
        }
        .row-table{
            >div{
                padding:0 0 0 55px;
                border-top:1px solid #cdd9c0;
                >div{
                    white-space: nowrap;
                    padding:5px;
                    border-right:1px solid #cdd9c0;
                    &:last-child{
                        border-right:none;
                    }
                }
                &.past{
                    background-color: #f0f1f1;
                }
                &.current{
                    background-color: #fae9d6;
                }
                &.option{
                    background-color: #fffde4
                }
            }
        }
        .abstract-table{
            border-top:1px solid transparent;
            border-bottom:none;
            >div{
                &.row {
                    > div {
                        padding:7px 5px 7px 30px;
                        &:last-child {
                            border-bottom-color: transparent;
                        }
                    }
                }
                padding-left:55px;
                &.divider-header {
                    border-top:1px solid $abstractBordersColor;
                    > div {
                        padding: 0 5px 0 0;
                    }
                    &:first-child{
                        border-top-color:transparent;
                    }
                }
                &.collapse{
                    padding:0;
                }
            }
            .abstract-header-wrap{
                padding-bottom: 0;
                padding-right: 0;
                padding-top: 0;
                .abstract-header{
                    //background-color: $abstractHeaderBg;
                    .cell{
                        border-left-color:#fff;
                        &.no-border{
                            border-left-color: transparent;
                        }
                        &:hover{
                            background-color: transparent;
                        }
                    }
                    >div{
                        padding-bottom: 4px;
                        padding-top: 4px;
                    }
                    .header-type-letter{
                        span {
                            display: inline-block;
                            width: 13px;
                            height: 13px;
                            margin-right: 5px;
                        }
                    }
                }
            }

        }
        .expanded{
            &+.abstract-table{
                border-top-color: $abstractBordersColor;
            }
        }
        .header{
            cursor: pointer;
            padding:7px 5px 7px 30px;
            //border-bottom:1px solid $abstractBordersColor;
            &.divider{
                border-top:1px solid $abstractBordersColor;
                &.first-divider{
                    margin-top:20px;
                }
            }
            &.reviewed{
                background-color: $abstractReviewed;
                &+div{
                    background-color: $abstractReviewed;
                }
            }
            &.questionable{
                background-color: $abstractQuestionable;
                &+div{
                    background-color: $abstractQuestionable;
                }
            }
            &.missing{
                background-color: $abstractMissing;
                &+div{
                    background-color: $abstractMissing;
                }
            }
            &.not-reviewed{
                background-color: $abstractNotReviewed;
                &+div{
                    background-color: $abstractNotReviewed;
                }
            }
            .btn-expand{
                width:20px;
                height:20px;
                color:#a0a7aa;
                background-color: $abstractHeaderBg;
                @include border-radius(3px);
                line-height: 20px;
                text-align: center;
                @include opacity(0.7);
                &:before{
                    font-size:10px;
                }
            }
            &:hover{
                .btn-expand {
                    @include opacity(1);
                }
            }
            >div{
                padding:7px 5px 7px 0;//30px;
                line-height:20px;
                >span{
                    display: inline-block;
                    vertical-align: top;
                    &.label{
                        line-height: 20px;
                        text-indent: 7px;
                        width:150px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        font-size: 13px;
                        font-family: $secondFontFamily;
                    }
                }
                .tenant{
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    line-height: 20px;
                    @include opacity(1);
                    @include transition(opacity 1s ease);
                }
                .btn-approve{
                    display: inline-block;
                }
            }
            &.expanded{
                .tenant{
                    @include opacity(0);
                }
            }
        }
    }
    .approve-check{
        display: block;
        margin-top:1px;
        width:18px;
        height: 18px;
        line-height: 18px;
        text-align: center;
        margin-left:5px;
        @include border-radius(50%);
        color:#fff;
        &.reviewed{
            background-color: $abstractReviewed;
        }
        &.questionable{
            background-color: $abstractQuestionable;
        }
        &.missing{
            background-color: $abstractMissing;
        }
        &.not-reviewed{
            background-color: $abstractNotReviewed;
        }
    }
    &.main-abstract-table{
        position: absolute;
        left:0;
        right:0;
        top:85px;
        bottom:0;
        overflow-y: auto;
        border-bottom:1px solid transparent;
    }
    &.single-abstract-table{
        .header {
            padding: 7px 5px 7px 5px;
        }
        .main-zone-wrap, .main-section-wrap {
            padding:0 5px 0 20px;
            > div {
                padding: 0;
            }
            .row {
                &.row-table{
                    > div {
                        padding-left:0;
                        border-top: none;
                        .cell{
                            border-top: 1px solid $abstractBordersColor;
                            padding:2px 0 0 0;
                            >span{
                                border:1px solid transparent;
                                padding:3px 5px 5px;
                                @include border-radius(3px);
                                display: block;
                                cursor: pointer;
                                &.clicked{
                                    -webkit-animation: flash .3s infinite;
                                    -moz-animation: flash .3s infinite;
                                    animation: flash .3s infinite;
                                }
                            }
                            .btn-toggle-ignore{
                                display: none;
                                @include transition(opacity 0.6s ease);                     /*, padding-left 0.6s ease*/
                                @include opacity(0.4);
                                cursor: pointer;
                                position: absolute;
                                top:2px;
                                right:100%;
                                text-decoration:none;
                                width:28px;
                                height:28px;
                                margin-right:-10px;
                                span{
                                    text-decoration:none;
                                }
                                >div{
                                    cursor: pointer;
                                    width: 0;
                                    height: 0;
                                    border-style: solid;
                                    border-width: 28px 28px 0 0;
                                    border-color: #BD061F transparent transparent transparent;
                                    >span{
                                        color:#fff;
                                        position: absolute;
                                        left:3px;
                                        top:3px;
                                        font-size: 10px;
                                    }
                                }
                                &:hover{
                                    span{
                                        text-decoration:none;
                                    }
                                    @include opacity(1);
                                }
                            }
                            .btn-edit-cell{
                                display: none;
                                @include opacity(0.4);
                                position: absolute;
                                right:0;
                                top:2px;
                                width:28px;
                                height:28px;
                                >div{
                                    cursor: pointer;
                                    width: 0;
                                    height: 0;
                                    border-style: solid;
                                    border-width: 0 28px 28px 0;
                                    border-color: transparent #33b6e6 transparent transparent;
                                    >span{
                                        color:#fff;
                                        position: absolute;
                                        right:2px;
                                        top:2px;
                                        font-size:16px;
                                        -moz-transform: scaleX(-1);
                                        -webkit-transform: scaleX(-1);
                                        -o-transform: scaleX(-1);
                                        transform: scaleX(-1);
                                        -ms-filter: fliph; /*IE*/
                                        filter: fliph; /*IE*/
                                    }
                                }
                                &:hover{
                                    @include opacity(1);
                                    &~span{
                                        background-color: #fff;
                                        border-color:#ccc;
                                    }
                                    &+.btn-toggle-ignore{
                                        @include opacity(0);
                                    }
                                }
                            }
                            &.ignored{
                                span{
                                    text-decoration:line-through;
                                    @include opacity(0.6);
                                    &[class*='icon-']{
                                        text-decoration:none;
                                    }
                                }
                                .btn-toggle-ignore {
                                    > div {
                                        border-top-color: rgba(green, 0.6);
                                    }
                                    &~span{
                                        text-decoration:none;
                                    }
                                }
                            }
                        }
                        &.top-border-true{
                            .cell, .left-spacer{
                                border-top: 2px solid $abstractBordersColor;
                            }
                        }
                        &.inner-row{
                            position: relative;
                            z-index:10;
                            border:1px solid transparent;
                            @include border-radius(4px);
                        }
                        &:last-child {
                            border-bottom: 1px solid transparent;
                        }
                    }
                }
                .left-spacer{
                    width:25px;
                    border-right:none;
                    >div{
                        display: none;
                    }
                }
                .headers-row{
                    @include border-radius(5px 5px 0 0);
                    overflow: hidden;
                    .cell{
                        position: relative;
                        z-index: 10;
                        background-color: $chartSectionsHeadersColor;
                    }
                    .left-spacer{
                        background-color: $chartSectionsHeadersColor;
                        border-top: 1px solid $abstractBordersColor;
                    }
                }
            }
        }
        .main-section-wrap {
            padding: 0 5px 0 20px;
            > div {
                padding: 0;
            }
            .row {
                &.row-table {
                    > div {
                        padding-left: 10px; //30px;
                    }
                }
            }
        }
        .main-zone-wrap{
            .score-wrap{
                position: absolute;
                right:10px;
                top:-27px;
                display: none;
                >div{
                    padding:3px 7px;
                    line-height:18px;
                    border:1px solid $chartHoverBorderColor;
                    border-bottom: none;
                    background-color: $chartSectionsHeadersColor;
                    color: #777;
                    cursor: default;
                    @include border-radius(5px 5px 0 0);
                    input{
                        display: inline-block;
                        color: #777;
                        border:1px solid transparent;
                        background-color: transparent;
                        padding:1px 3px;
                        min-width:30px;
                        text-align: left;
                        cursor: default;
                        white-space: nowrap;
                        &.edit-mode{
                            color:#000;
                            cursor: text;
                            width:60px;
                            border-color:$gray;
                            @include border-radius(3px);
                            background-color: #fff;
                            &+span{
                                >button{
                                    display: inline-block;
                                }
                            }
                        }
                    }
                    >span{
                        display: inline-block;
                        //padding-right:10px;
                        >button{
                            display: none;
                            border:none;
                            background-color: transparent;
                            padding:0 0 0 3px;
                            cursor:pointer;
                        }
                        .icon-cancel-circle{
                            color:$grayDark;
                        }
                        .icon-checkmark-circle{
                            color:$turquoise;
                        }
                    }
                }
            }
            .chart-section{
                border:1px solid transparent;
                @include border-radius(5px);
                &.section_0{
                    &:hover{
                        border-color:$chartHoverBorderColor;
                    }
                }
            }
            .expanded{
                .chart-section{
                    overflow: visible;
                    &:hover{
                        .score-wrap{
                            display: block;
                        }
                        border-color:$chartHoverBorderColor;
                    }
                }
            }
            &.locked_false{
                .row {
                    &.row-table {
                        > div {
                            .cell{
                                &:hover{
                                    .btn-edit-cell, .btn-toggle-ignore{
                                        display: block;
                                    }
                                }
                            }
                            &.inner-row, &.headers-row {
                                .left-spacer {
                                    //position: relative;
                                    //z-index:5;
                                    >div{
                                        display: block;
                                        .ignore-wrap{
                                            @include transition(opacity 0.6s ease, padding-left 0.6s ease);
                                            @include opacity(0);
                                            padding:3px 0 0 10px;
                                            display: inline-block;
                                            font-size: 11px;

                                            cursor: pointer;
                                            >span{
                                                color:#BD061F;
                                                &.positive{
                                                    color:green;
                                                }
                                            }
                                        }
                                        .addColumn-wrap{
                                            position: absolute;
                                            display: block;
                                            left:0;
                                            top:0;
                                            height:35px;
                                            width:24px;
                                            background-color: transparent;
                                            z-index:5;
                                            overflow: hidden;
                                            .curl{
                                                display:block;
                                                top:-30px;
                                                cursor: cell;
                                                @include transition(top 0.2s linear);
                                            }
                                        }
                                        .addColumn-simulate{
                                            position: absolute;
                                            display: block;
                                            top:2px;
                                            bottom:100%;
                                            left:11px;
                                            width:2px;
                                            background-color: $headerOrange;
                                            z-index:4;
                                            @include transition(bottom 0.2s linear);
                                        }
                                        .addRow-wrap{
                                            position: absolute;
                                            display: block;
                                            left:2px;
                                            bottom:-12px;
                                            height:20px;
                                            width:50px;
                                            background-color: transparent;
                                            z-index:5;
                                            overflow: hidden;
                                            .curl{
                                                display:block;
                                                left:-30px;
                                                cursor: cell;
                                                @include transition(left 0.2s linear);
                                            }
                                            &.top{
                                                top:-10px;
                                                bottom:auto;
                                            }
                                        }
                                        .addRow-simulate{
                                            position: absolute;
                                            display: block;
                                            left:2px;
                                            top:auto;
                                            bottom:-3px;
                                            right:100%;
                                            height:2px;
                                            background-color: $headerOrange;
                                            z-index:3;
                                            @include transition(right 0.2s linear);
                                            &.top{
                                                top:-1px;
                                                bottom:auto;
                                            }
                                        }
                                    }
                                }
                                &:hover {
                                    z-index:50;
                                    background-color: $chartSectionsRowsHoverColor;
                                    //border: 1px solid greenyellow;
                                    .cell, .left-spacer {
                                        z-index: 50;
                                    }
                                    .left-spacer {
                                        border-top: 1px solid $abstractBordersColor;
                                        &:before{
                                            content: "";
                                            position: absolute;
                                            display: block;
                                            bottom:-3px;
                                            left:0;
                                            width: 25px;
                                            height: 1px;
                                            border-bottom: 1px solid $abstractBordersColor;
                                        }
                                        >div{
                                            .ignore-wrap{
                                                @include opacity(1);
                                                padding-left:3px;
                                            }
                                            .addRow-wrap{
                                                @include opacity(1);
                                                &:hover {
                                                    .curl{
                                                        @include transition(left 0.3s ease-in);
                                                        left:0;
                                                    }
                                                    &+.addRow-simulate{
                                                        @include transition(right 0.5s ease);
                                                        right:2px;
                                                    }
                                                }
                                            }
                                            .addColumn-wrap{
                                                @include opacity(1);
                                                &:hover {
                                                    .curl{
                                                        @include transition(top 0.3s ease-in);
                                                        top:5px;
                                                    }
                                                    &+.addColumn-simulate{
                                                        @include transition(bottom 0.5s ease);
                                                        bottom:2px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                                &.top-border-true{
                                    &:hover {
                                        .left-spacer {
                                            border-top: 2px solid $abstractBordersColor;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.curl-wrapper{
    .curl {
        position: absolute;
        display: block;
        top:0;
        left:0;
        width: 0;
        height: 0;
        border-top:10px solid transparent;
        border-bottom:10px solid transparent;
        border-left:25px solid $headerOrange;
    }
    .curl:after{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 0;
        width: 0;
        margin-top: -9px;
        margin-left: -27px;
        border-top: 9px solid transparent;
        border-bottom: 9px solid transparent;
        border-left: 23px solid #fff;
    }
    .curl span{
        position: absolute;
        left: -26px;
        top: -6px;
        z-index: 100;
    }
    &.addColumn-wrap{
        .curl {
            @include transform(rotate(90deg));
        }
    }
}
.edit-cell-modal{
    padding:6px;
    position:absolute;
    @include border-radius(5px);
    border:1px solid $gray;
    display: none;
    z-index:989;
    background-color: #fff;
    @include box-shadow(0 0 3px rgba(#555, 0.5));
    white-space: nowrap;
    .edit-cell-modal-title{
        padding:0;
    }
    .text-actions{
        display: inline-block;
        padding-left:5px;
        button{
            border:none;
            background-color: transparent;
            padding:0 5px 0 0;
            display: inline-block;
            cursor:pointer;
        }
        .icon-cancel-circle{
            color:$grayDark;
        }
        .icon-checkmark-circle{
            color:$turquoise;
        }
    }
    .cell-name{
        padding:2px 3px;
        width:200px;
        cursor: text;
        color:#000;
        border:1px solid $gray;
        @include border-radius(3px);
        background-color: #fff;
        &:hover, &:focus{
            border-color: $grayDark;
        }
    }
    .sep{
        vertical-align: top;
        font-size: 10px;
        display: inline-block;
        color:#DDDDDD;
    }
    .advanced{
        width:100%;
        position: relative;
        .fields-holder{
            padding-top:5px;
            label{
                width:60px;
                display: inline-block;
            }
            .cell-name{
                width:187px;
            }
        }
        .paste-holder{
            cursor: pointer;
            position: absolute;
            right:1px;
            top:10px;
            line-height: 20px;
            color:#444;
            >span{
                font-size:16px;
            }
            &:hover{
                &:before{
                    content:"}";
                    position: absolute;
                    right:100%;
                    top:-7px;
                    font-size:60px;
                    color:#ccc;
                }
            }
        }
    }
}


@-webkit-keyframes flash {
    0% { background-color:none;}
    50% { background-color:#fbf8b2;}
    100% {background-color:none;}
}

@-moz-keyframes flash {
    0% { background-color:none;}
    50% { background-color:#fbf8b2;}
    100% {background-color:none;}
}

@-ms-keyframes flash {
    0% { background-color:none;}
    50% { background-color:#fbf8b2;}
    100% {background-color:none;}
}
