.phrase-selected{
    position:absolute;
    left:0;
    top:0;
    display: none;
    .phrase-data{
        position:absolute;
        left:0;
        bottom:3px;
        width:180px;
        margin-left:-90px;
        height: 25px;
        padding:2px 6px;
        background-color:#fff;
        z-index:3333;
        @include border-radius(5px);
        border:1px solid #555;
        @include box-shadow(0px 1px 1px #555);
        [class*='icon-']{
            cursor: pointer;
        }
    }
}