.help-page-list {
    width:100%;
    padding:50px 10px 30px 0;
    font-size: 15px;
    color: grey;
    h3 {
        font-weight: lighter;
    }
    .help-table-container {
        margin-top: 1em;
    }
    .help-list {
        margin-left: 1.5em;
    }
    ol.help-list {
        li{list-style: decimal;}
    }
    ul.help-list {
        li{list-style: circle;}
    }
    .input-order-list {
        padding-left: 1em;
    }
    table,td {
        border: 1px solid black;
    }
    table {
        max-width: 100%;
        table-layout: fixed;
        td {
            vertical-align:top;
            padding: 0.2em 0.5em 1em;
            min-width: 2em;
        }
    }
    .help-split-img {
        max-width: 100%;
    }
}