<div class="content-header-wrap">
    <div class="content-header-inner-wrap">
        <div class="Flexbox Flexbox__just-space-around content-header">
            <div class="content-header-left" style="height:auto;">
                <h1 ng-show="!info.name">&nbsp;</h1>
                <h1 ng-show="info.name"
                     ng-title="{{info.name}}">
                    {{info.name}}  - Argus
                </h1>
            </div>
            <div class="Flex__rev">
                <div class="Flex__inline ts_top_buttons">
                    <div class="Flex__rev" style="text-align:right;padding:15px 10px;">

<!--         DOWNLOAD UZ 072614 -->
                        <a class="pointer"                                                                                                                              
                           style="margin:0 10px;"                                                                                                                       
                           href="{{xls_path}}"                                                                                                                          
                           target="_self"                                                                                                                               
                           title="download">                                                                                                                            
                            <span class="icon-file-excel"></span>                                                                                                       
                            Download XLS                                                                                                                                
                        </a>|      
<!--         END DOWNLOAD UZ 072614 -->
                        <div class="rentroll-year">
                            Start: <input type="text" data-original="{{start_year_copy}}" ng-model="start_year" id="start_year" maxlength="4" ng-blur="resetYears('start_year')" ng-enter="updateYears('start_year')"/>
                        </div>|
                        <div class="rentroll-year">
                            End: <input type="text" data-original="{{end_year_copy}}" ng-model="end_year" id="end_year" maxlength="4" ng-blur="resetYears('end_year')" ng-enter="updateYears('end_year')"/>
                        </div>|
                        <a class="pointer"
                           style="margin:0 10px;"
                           ng-init="RRcontentLocked=true"
                           ng-click="RRcontentLocked=!RRcontentLocked"
                           title="lock/unlock editing content">
                            <span ng-class="{'icon-lock':RRcontentLocked, 'icon-unlocked':!RRcontentLocked}"></span>
                            Edit
                        </a>|
                        <a class="pointer"
                           style="margin:0 10px;"
                           ng-click="hideCols=!hideCols;">
                            <span ng-init="hideCols=true" ng-class="{'icon-eye':!hideCols, 'icon-eye-blocked':hideCols}"></span>
                            Cols
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-line"><div></div></div>
        <div class="doc-name-rent-roll">{{currentDocName}}</div>
    </div>
</div>

<div class="split-container Flexbox Flexbox__direction-rows" id="split-container" style="padding-top:55px;">
    <div class="vertical-resizer"
         style="top:60px;"
         resizer="vertical"
         resizer-callback="onHideRCM"
         resizer-padding="22"
         resizer-force-left-width="90"
         resizer-parent="#split-container"
         resizer-left-element="#split-container-left"
         resizer-right-element="#split-container-right"><span></span></div>
    <div id="edit-cell" class="edit-cell-modal">
        <input type="text" class="cell-name" id="edit-cell-name" ng-model="cellNewValue"/>
        <div class="text-actions">
            <button ng-click="cancelEditCellName()"><span class="icon-cancel-circle"></span></button>
            <button ng-click="saveEditCellName()"><span class="icon-checkmark-circle"></span></button>
        </div>
    </div>
    <div class="Flexbox__flex-1 height-all">
        <div class="Flexbox height-all">
            <div class="split-content" id="split-container-left">
                <div class="scrollable-container">
                   <div class="rent-roll-table" ng-class="{'hide-cols':hideCols}">
                        <div>
                            <div ng-repeat="header in tableData.headers"
                                 ng-title="{{header.name}}"
                                 ng-class="{'hideable-cell': isHidable($index)}"
                                 class="header">
                                {{header.name}}
                            </div>
                        </div>
                        <div ng-repeat="row in tableData.rows">
                            <div ng-repeat="cell in row.cells"
                                 class="{{cell.cssClass}}"
                                 ng-class="{'underline':$index>=row.info.seperator, 'hideable-cell': isHidable($index)}"
                                 ng-click="clickedOnRRCell(cell, $event, row)"
                                 ng-right-click="rightClickedOnRRCell(cell, row.info.doc_id)"
                                 ng-title="{{cell.val}}">
                                {{cell.val}}
                            </div>
                        </div>
                   </div>
                </div>
            </div>
            <div class="split-content" id="split-container-right">
                <div ui-view="rightPanel" style="padding-top:25px;"></div>
            </div>
        </div>
    </div>
</div>

